openapi: 3.1.0
info:
  title: ADP API
  version: 1.0.0
  description: Laiye ADP OpenAPI reference for document extraction, recognition, and conversion; extraction application management; webhooks; credit usage; workflow discovery, runs, exports, and file management.
  license:
    name: MIT
    identifier: MIT
servers:
  - url: https://adp-global.laiye.com
    description: ADP global production endpoint
tags:
  - name: Document extraction
    description: Extract structured fields from uploaded documents.
  - name: Document recognition
    description: Recognize text, layout blocks, and positions from uploaded documents.
  - name: Document conversion
    description: Convert PDFs, Office documents, OFD files, and images into page images or native spreadsheet structures.
  - name: Application management
    description: Create, update, delete, and query extraction applications and configurations.
  - name: Webhook
    description: List system events and manage event callbacks.
  - name: Account
    description: Query credit usage.
  - name: Workflow
    description: Run workflow applications and query run results.
  - name: Workflow files
    description: Upload and manage files used by workflow applications.
paths:
  /open/agentic_doc_processor/{tenant_name}/v1/app/doc/extract:
    post:
      tags: [Document extraction]
      summary: Extract document (sync)
      description: For a user-uploaded document, call the specified document extraction application and extract content from the file based on the application configuration and rules. The same endpoint applies to custom extraction applications, overseas invoices, receipts, purchase orders, domestic general bills, and cards.
      operationId: extractDocument
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        $ref: '#/components/requestBodies/DocumentExtractRequest'
      responses:
        '200':
          $ref: '#/components/responses/DocumentExtractResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app/doc/extract/create/task:
    post:
      tags: [Document extraction]
      summary: Create document extraction task
      description: Create a document extraction task and return task_id immediately. Use this endpoint for large documents or long-running extraction tasks.
      operationId: createDocumentExtractTask
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        $ref: '#/components/requestBodies/DocumentExtractRequest'
      responses:
        '200':
          $ref: '#/components/responses/TaskCreateResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app/doc/extract/query/task/{task_id}:
    get:
      tags: [Document extraction]
      summary: Query document extraction result
      description: Query document extraction status and results by the task_id returned by the task creation endpoint.
      operationId: queryDocumentExtractTask
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - $ref: '#/components/parameters/TaskId'
      responses:
        '200':
          $ref: '#/components/responses/DocumentExtractResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app/doc/recognize:
    post:
      tags: [Document recognition]
      summary: Recognize document (sync)
      description: Recognize text content and block positions from an uploaded document.
      operationId: recognizeDocument
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        $ref: '#/components/requestBodies/DocumentFileRequest'
      responses:
        '200':
          $ref: '#/components/responses/DocumentRecognizeResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app/doc/recognize/create/task:
    post:
      tags: [Document recognition]
      summary: Create document recognition task
      description: Create an async document recognition task and return task_id immediately.
      operationId: createDocumentRecognizeTask
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        $ref: '#/components/requestBodies/DocumentFileRequest'
      responses:
        '200':
          $ref: '#/components/responses/TaskCreateResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app/doc/recognize/query/task/{task_id}:
    get:
      tags: [Document recognition]
      summary: Query document recognition result
      description: Query document recognition status and results by task_id.
      operationId: queryDocumentRecognizeTask
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - $ref: '#/components/parameters/TaskId'
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          $ref: '#/components/responses/DocumentRecognizeResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/doc/convert:
    post:
      tags: [Document conversion]
      summary: Convert document (sync)
      description: |
        Convert a PDF, DOC/DOCX, XLS/XLSX, PPT/PPTX, OFD file, or common image into page images. XLSX input may instead return a native spreadsheet structure. Provide exactly one of `file_url` and `file_base64`.

        The current implementation accepts at most 50 MiB and 260 pages. A synchronous request may reach the service timeout at approximately 120 seconds, so production integrations should prefer the asynchronous create and query endpoints. A failure branch may return HTTP 200 with `code=success` and `data=null`. Confirm that `data` exists, then inspect `task_id`, `img_detail_list`, or the spreadsheet structure fields. Returned URLs are currently valid for approximately one hour, but this is not a stable SLA; download them promptly.
      operationId: convertDocument
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/DocumentConvertRequest'
      responses:
        '200':
          $ref: '#/components/responses/DocumentConvertResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/doc/convert/create/task:
    post:
      tags: [Document conversion]
      summary: Create asynchronous document conversion task
      description: |
        Create a document conversion task and return its `task_id` immediately. Queue messages are currently retained for approximately one hour, a task consumer times out after approximately 180 seconds, and result files are generally valid for approximately one hour. These durations are not stable SLAs.

        Creation failure may still appear as HTTP 200 with `code=success` and `data=null`. Require a non-empty `data.task_id`, then poll the query endpoint with a backoff strategy.
      operationId: createDocumentConvertTask
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/DocumentConvertAsyncRequest'
      responses:
        '200':
          $ref: '#/components/responses/DocumentConvertTaskResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/doc/convert/query/task/{task_id}:
    get:
      tags: [Document conversion]
      summary: Query asynchronous document conversion task
      description: |
        Query a conversion result by `task_id`. The current response has no separate task-status field. While processing is still in progress, the service may return `code=success` with an empty `img_detail_list` and zero `total_num`. Poll with backoff and stop only after page results or a spreadsheet structure is available.

        An empty result cannot reliably distinguish "still processing" from "no visual pages." Set a total client timeout and a maximum poll count.
      operationId: queryDocumentConvertTask
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - name: task_id
          in: path
          required: true
          description: Task ID returned after an asynchronous conversion task is created.
          schema:
            type: string
            minLength: 1
      responses:
        '200':
          $ref: '#/components/responses/DocumentConvertResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/webhook/events:
    get:
      tags: [Webhook]
      summary: List Webhook event catalog
      description: |
        Return the system event types currently registered for subscription. The catalog indicates only that an event name can be configured; it does not imply a delivery SLA for every event. Fields in callback `data` may also vary by event.

        The current catalog contains seven events: document recognition completed, document extraction completed, and human collaboration started, succeeded, failed, completed, or timed out. `collaboration_timeout` currently means only that the event is registered; actual delivery is not guaranteed.
      operationId: listWebhookEvents
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      responses:
        '200':
          $ref: '#/components/responses/WebhookEventListResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/webhook/create:
    post:
      tags: [Webhook]
      summary: Create Webhook
      description: |
        Create a Webhook configuration. Each account can retain at most five configurations. If `app_id` is omitted, `null`, or an empty array, the Webhook subscribes to all applications under the current account. Pass an array to subscribe only to specific applications.

        Callbacks use POST `application/json` with a body shaped as `{event_type, timestamp, data}`. The production service sends `X-Webhook-Signature: sha256=...` and `X-Webhook-Timestamp`. The signature is computed as `HMAC-SHA256(secret, timestamp + "." + raw_body)`.

        The current OpenAPI does not return, set, or rotate the secret, so an external caller cannot independently verify signatures. Failed-delivery retries also have no public SLA. Configure only a caller-controlled, public HTTPS endpoint, and return HTTP 200 promptly from the receiver. Do not use this endpoint as a production event bus before a security and reliability review.
      operationId: createWebhook
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/WebhookCreateRequest'
      responses:
        '200':
          $ref: '#/components/responses/WebhookMutationResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/webhook/list:
    get:
      tags: [Webhook]
      summary: List Webhook configurations
      description: List Webhook configurations for the current account. Use `app_id` to match configurations that include the extraction application; configurations scoped to all applications also match. The response never returns the callback-signing secret.
      operationId: listWebhooks
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - name: app_id
          in: query
          required: false
          description: Filter by extraction application ID or application key.
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/WebhookListResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/webhook/update:
    post:
      tags: [Webhook]
      summary: Update Webhook
      description: |
        Update the callback URL, event types, or application scope. Omitting `app_id` leaves the application scope unchanged. Passing `null` or an empty array explicitly clears the scope and subscribes to all applications under the current account.

        The backend accepts a request containing only `webhook_id` as a no-op. The public contract requires at least one field to update. Use only a caller-controlled, public HTTPS callback URL.
      operationId: updateWebhook
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/WebhookUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/WebhookMutationResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/webhook/delete:
    post:
      tags: [Webhook]
      summary: Delete Webhook
      description: Delete a Webhook configuration for the current account. Deleting the configuration does not delete historical delivery logs that have already been generated.
      operationId: deleteWebhook
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/WebhookDeleteRequest'
      responses:
        '200':
          $ref: '#/components/responses/EmptyMutationResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/webhook/logs:
    post:
      tags: [Webhook]
      summary: Query Webhook delivery logs
      description: |
        Query Webhook delivery results. The default window is the last 72 hours, and one request can span at most 30 days. `response_body` retains at most approximately 2,000 characters and may contain business or sensitive information returned by the receiver.

        The current service queries logs at tenant scope and does not further isolate them by the user who created the Webhook. Use this endpoint only with an administrator Access Key in a controlled tenant, and pass `webhook_id` whenever possible to narrow the scope. Do not expose log responses to ordinary end users.
      operationId: queryWebhookLogs
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/WebhookLogQueryRequest'
      responses:
        '200':
          $ref: '#/components/responses/WebhookLogResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app-manage/create:
    post:
      tags: [Application management]
      summary: Create extraction application
      description: Create a standard or high-speed custom extraction application, and configure labels, fields, and extraction settings. Standard applications support parse_mode, source locations, PDF text first, stamp recognition, and related parsing settings. To create a high-speed custom extraction application, set ai_function to 1425 and provide field_key for fields and table sub-fields. High-speed applications do not support standard parsing settings. An HTTP 200 response can still represent a business failure, so callers must check both the HTTP status and the response code.
      operationId: createExtractionApp
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/ExtractionAppCreateRequest'
      responses:
        '200':
          $ref: '#/components/responses/ExtractionAppResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
      x-codeSamples:
        - lang: python
          label: Python (check HTTP status and business code)
          source: |
            import requests

            response = requests.post(
                "https://adp-global.laiye.com/open/agentic_doc_processor/laiye/v1/app-manage/create",
                headers={"X-API-KEY": "YOUR_API_KEY"},
                json={
                    "ai_function": 1406,
                    "app_name": "Purchase order extraction app",
                    "extract_fields": [
                        {"field_name": "Order number", "field_type": "string"}
                    ],
                    "parse_mode": "standard",
                },
                timeout=60,
            )
            response.raise_for_status()
            result = response.json()
            if result.get("code") not in ("success", 200, "200"):
                raise RuntimeError(result.get("message") or result.get("code"))
  /open/agentic_doc_processor/{tenant_name}/v1/app-manage/delete:
    post:
      tags: [Application management]
      summary: Delete extraction application
      description: Delete an extraction application. This action cannot be undone. To delete a high-speed custom extraction application, reuse this endpoint and pass the app_id of the high-speed application.
      operationId: deleteExtractionApp
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/AppIdRequest'
      responses:
        '200':
          $ref: '#/components/responses/ExtractionAppDeleteResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app-manage/update:
    post:
      tags: [Application management]
      summary: Update extraction application
      description: Update the name, labels, fields, and extraction configuration of an extraction application, and create a new configuration version. To update a high-speed custom extraction application, reuse this endpoint and pass the app_id of the high-speed application. The request body does not need ai_function. High-speed custom extraction applications do not support setting parse_mode, enable_highlight, enable_pdf_parse, pdf_pic_second_parsing, enable_stamp_recognition, or enable_long_doc. An HTTP 200 response can still represent a business failure, so callers must check both the HTTP status and the response code.
      operationId: updateExtractionApp
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/ExtractionAppUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/ExtractionAppUpdateResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
      x-codeSamples:
        - lang: python
          label: Python (check HTTP status and business code)
          source: |
            import requests

            response = requests.post(
                "https://adp-global.laiye.com/open/agentic_doc_processor/laiye/v1/app-manage/update",
                headers={"X-API-KEY": "YOUR_API_KEY"},
                json={
                    "app_id": "app_1406",
                    "extract_fields": [
                        {"field_name": "Order number", "field_type": "string"}
                    ],
                    "parse_mode": "standard",
                },
                timeout=60,
            )
            response.raise_for_status()
            result = response.json()
            if result.get("code") not in ("success", 200, "200"):
                raise RuntimeError(result.get("message") or result.get("code"))
  /open/agentic_doc_processor/{tenant_name}/v1/app-manage/config:
    post:
      tags: [Application management]
      summary: Get application configuration
      description: Get an extraction application configuration by app_id. To get a high-speed custom extraction application configuration, pass the app_id of the high-speed application. If config_version is omitted, the latest configuration version is returned.
      operationId: getExtractionAppConfig
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/AppConfigQueryRequest'
      responses:
        '200':
          description: Application configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppConfigResponse'
              examples:
                standardConfig:
                  value:
                    code: 200
                    message: success
                    data:
                      app_id: app_1406
                      app_name: Purchase order extraction app
                      app_label: [purchase-order]
                      config_version: v1
                      extract_fields:
                        - field_name: Order number
                          field_type: string
                          field_prompt: Extract the purchase order number.
                      parse_mode: fast_vlm
                      enable_highlight: 0
                      enable_pdf_parse: true
                      pdf_pic_second_parsing: false
                      enable_stamp_recognition: true
                      enable_long_doc: false
                highSpeedConfig:
                  value:
                    code: 200
                    message: success
                    data:
                      app_id: app_1425
                      app_name: High-speed invoice extraction app
                      app_label: [invoice, high-speed]
                      config_version: v1
                      extract_fields:
                        - field_name: Invoice number
                          field_type: string
                          field_prompt: Extract the unique invoice number from the invoice.
                      parse_mode: null
                      enable_highlight: null
                      enable_pdf_parse: null
                      pdf_pic_second_parsing: null
                      enable_stamp_recognition: null
                      enable_long_doc: false
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app-list:
    get:
      tags: [Application management]
      summary: List applications
      description: List applications. To list high-speed custom extraction applications, set ai_function=1425.
      operationId: listExtractionApps
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - name: app_name
          in: query
          required: false
          description: Filter by application name. Fuzzy matching is supported.
          schema:
            type: string
        - name: ai_function
          in: query
          required: false
          description: Filter by AI capability. Use 1425 for high-speed custom extraction applications and 1406 for standard custom extraction applications.
          schema:
            type: integer
            enum: [1406, 1425]
        - name: app_type
          in: query
          required: false
          description: Application type. 1 means custom application. 0 means system preset.
          schema:
            type: integer
            enum: [0, 1]
        - name: with_extra
          in: query
          required: false
          description: Whether to query extra information.
          schema:
            type: integer
            enum: [0, 1]
            default: 1
        - name: sort[]
          in: query
          required: false
          description: Sort fields. Prefix a field with - for descending order; omit the prefix for ascending order. The default is updated_at in descending order.
          style: form
          explode: true
          schema:
            type: array
            default: [-updated_at]
            items:
              type: string
        - name: offset
          in: query
          required: false
          description: Pagination offset.
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 1000
        - name: limit
          in: query
          required: false
          description: Page size.
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 1000
      responses:
        '200':
          $ref: '#/components/responses/AppListResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app-manage/version/delete:
    post:
      tags: [Application management]
      summary: Delete extraction application configuration
      description: Delete a field configuration version under an application. To delete the configuration of a high-speed custom extraction application, reuse this endpoint and pass the high-speed application app_id and the config_version to delete.
      operationId: deleteExtractionAppVersion
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/AppVersionDeleteRequest'
      responses:
        '200':
          $ref: '#/components/responses/ExtractionAppVersionDeleteResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app-manage/ai-recommend:
    post:
      tags: [Application management]
      summary: Generate extraction field prompts
      description: Generate field names, field types, field prompts, and other configuration references from a sample document or prompt. Standard applications require at least one of prompt, file_url, or file_base64. High-speed applications still require file_url or file_base64, and prompt is only an auxiliary instruction. When app_id belongs to a high-speed custom extraction application, the endpoint returns a configuration preview containing common_rule, field_rule, and table_rule. It does not save a configuration version or automatically populate the Web application. An HTTP 200 response can still represent a business failure, so callers must check both the HTTP status and the response code.
      operationId: recommendExtractionFields
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/AiRecommendRequest'
      responses:
        '200':
          $ref: '#/components/responses/AiRecommendResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
      x-codeSamples:
        - lang: python
          label: Python (check HTTP status and business code)
          source: |
            import requests

            response = requests.post(
                "https://adp-global.laiye.com/open/agentic_doc_processor/laiye/v1/app-manage/ai-recommend",
                headers={"X-API-KEY": "YOUR_API_KEY"},
                json={
                    "app_id": "app_1406",
                    "prompt": "Generate fields for invoice number, invoice date, and total amount.",
                },
                timeout=120,
            )
            response.raise_for_status()
            result = response.json()
            if result.get("code") not in ("success", 200, "200"):
                raise RuntimeError(result.get("message") or result.get("code"))
  /open/agentic_doc_processor/{tenant_name}/v1/user/payment:
    get:
      tags: [Account]
      summary: Get credit usage
      description: Get current user credit usage by X-API-KEY.
      operationId: getUserPayment
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      responses:
        '200':
          $ref: '#/components/responses/UserPaymentResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_engine/laiye/v1/app/applications:
    get:
      tags: [Workflow]
      summary: List runnable workflow applications
      description: List published workflow applications visible to the current Access Key. Results can be searched by name and paginated. Use the returned `id` as `application_id` when calling a run endpoint.
      operationId: listWorkflowApplications
      security:
        - EngineApiKeyAuth: []
      parameters:
        - name: search
          in: query
          required: false
          description: Search by application name.
          schema:
            type: string
        - name: offset
          in: query
          required: false
          description: Pagination offset.
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: size
          in: query
          required: false
          description: Number of applications per page.
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '200':
          $ref: '#/components/responses/WorkflowApplicationListResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_engine/laiye/v1/app/applications/{application_id}:
    get:
      tags: [Workflow]
      summary: Get workflow application details (Limited preview)
      description: |
        Get an application's name, description, status, and tags by application ID.

        Limited preview: the detail route's visibility check is not fully aligned with the list route. Query only an `application_id` obtained from the list endpoint that is owned by the current account or explicitly shared with the current tenant. Do not pass an arbitrary external ID to this endpoint.
      operationId: getWorkflowApplication
      security:
        - EngineApiKeyAuth: []
      parameters:
        - name: application_id
          in: path
          required: true
          description: Application ID obtained from the workflow application list.
          schema:
            type: string
            minLength: 1
      responses:
        '200':
          $ref: '#/components/responses/WorkflowApplicationResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_engine/laiye/v1/app/run:
    post:
      tags: [Workflow]
      summary: Run workflow application (sync)
      description: Run the published workflow application version synchronously and wait for the result.
      operationId: runWorkflowApp
      security:
        - EngineApiKeyAuth: []
      requestBody:
        $ref: '#/components/requestBodies/WorkflowRunRequest'
      responses:
        '200':
          $ref: '#/components/responses/WorkflowRunResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_engine/laiye/v1/app/run/create/task:
    post:
      tags: [Workflow]
      summary: Create workflow run task
      description: Trigger a workflow run asynchronously and return run_id immediately.
      operationId: createWorkflowRunTask
      security:
        - EngineApiKeyAuth: []
      requestBody:
        $ref: '#/components/requestBodies/WorkflowRunRequest'
      responses:
        '200':
          $ref: '#/components/responses/WorkflowRunResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_engine/laiye/v1/app/run/query/task/{run_id}:
    get:
      tags: [Workflow]
      summary: Query workflow run result
      description: Query workflow run status and result by run_id.
      operationId: queryWorkflowRunTask
      security:
        - EngineApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RunId'
      responses:
        '200':
          $ref: '#/components/responses/WorkflowRunResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_engine/laiye/v1/app/run/{run_id}/rerun:
    post:
      tags: [Workflow]
      summary: Rerun workflow
      description: Trigger a new workflow run from a historical run. The API reuses the original run's application, version, and inputs, and creates a new asynchronous run task.
      operationId: rerunWorkflowRunTask
      security:
        - EngineApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RunId'
      responses:
        '200':
          $ref: '#/components/responses/WorkflowRunResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_engine/laiye/v1/app/run/{run_id}/cancel:
    post:
      tags: [Workflow]
      summary: Cancel workflow run
      description: Cancel a pending, running, or paused workflow run. Succeeded, failed, cancelled, or timed-out runs cannot be cancelled.
      operationId: cancelWorkflowRunTask
      security:
        - EngineApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RunId'
      requestBody:
        $ref: '#/components/requestBodies/WorkflowCancelRunRequest'
      responses:
        '200':
          $ref: '#/components/responses/WorkflowRunResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_engine/laiye/v1/app/runs/export:
    post:
      tags: [Workflow]
      summary: Export workflow runs (Limited preview)
      description: |
        Export specified workflow runs as Excel, Word, Markdown, or JSON, and return a temporary download URL plus run summaries. The public contract requires at least one explicit `run_id`; it does not expose the backend compatibility behavior that treats an empty list as "export all runs for the application."

        The current implementation processes at most 200 runs and generates at most 500,000 rows per request. Temporary files are generally valid for approximately one hour. Limited preview: this route validates only the Access Key and tenant; it has no independent administrator-role or application-visibility check. Use it only as an administrator in a controlled tenant, and export only `application_id` and `run_ids` that you have independently confirmed you can access. Exports may contain workflow inputs, node outputs, and business data. Protect the downloaded file at the same classification level as its source data.
      operationId: exportWorkflowRuns
      security:
        - EngineApiKeyAuth: []
      requestBody:
        $ref: '#/components/requestBodies/WorkflowRunExportRequest'
      responses:
        '200':
          $ref: '#/components/responses/WorkflowRunExportResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_engine/laiye/files/upload:
    post:
      tags: [Workflow files]
      summary: Upload file
      description: Upload a file to engine storage and return the file ID and download URL.
      operationId: uploadWorkflowFile
      security:
        - EngineApiKeyAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FileUploadRequest'
      responses:
        '200':
          $ref: '#/components/responses/FileUploadResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_engine/laiye/files/{file_id}:
    get:
      tags: [Workflow files]
      summary: Get file information
      description: Get file metadata by file ID.
      operationId: getWorkflowFile
      security:
        - EngineApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/FileId'
      responses:
        '200':
          $ref: '#/components/responses/FileInfoResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
      description: Production OpenAPI Accessor access_key. You can find it in My API in the ADP platform. If the key is disabled, expired, or does not belong to the production environment, the API returns Accessor not found.
    EngineApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Workflow engine API access key.
  parameters:
    TenantName:
      name: tenant_name
      in: path
      required: true
      description: "Tenant name. Default: laiye."
      schema:
        type: string
        default: laiye
    TaskId:
      name: task_id
      in: path
      required: true
      description: Task ID.
      schema:
        type: string
    RunId:
      name: run_id
      in: path
      required: true
      description: Run ID.
      schema:
        type: string
    FileId:
      name: file_id
      in: path
      required: true
      description: File ID.
      schema:
        type: string
    AcceptLanguage:
      name: accept-language
      in: header
      required: false
      description: Field name language. Use zh for Chinese or en for English.
      schema:
        type: string
        enum: [zh, en]
        default: en
  examples:
    DocumentRecognitionFileBase64:
      summary: Use file Base64
      value:
        file_base64: &documentRecognitionFileBase64 data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAwICQsJCAwLCgsODQwOEh4UEhEREiUbHBYeLCcuLisnKyoxN0Y7MTRCNCorPVM+QkhKTk9OLztWXFVMW0ZNTkv/wAALCAA7AHQBAREA/8QAGwABAAIDAQEAAAAAAAAAAAAAAAQGAgMFAQf/xAAuEAACAgIBAwMDBQABBQAAAAABAgMEBREAEiExBhNBFCIyFVFhcYEWJDVTgqH/2gAIAQEAAD8A+q8cccccccccccccch5Wy1WoXjmghdmCq829Df7Ad2P7D55SK8sVk2BGuXVJpOtcjCLxE6kDThEHT1a7fC9gQNduSPUkyNRw0lCCTJwSFQiy3JVkmUeepCujvtsnvsga5iJJa7z/AE2ZkqT2VdmZET6eGRWSJY9NEW6V6lBOwNg+NnV1C2lsQgPG1cRkSFlPWz9tEa7a87/zm/lXoepppMxBWllrWK1lZSsleCRVQoN/m32yDW/GuQbl7JZOpg79hKqU7eQryRRoG9yNSdr1MTptjzoDX88lTZ/MJTyuQSKl9JjbMqNGQ3XLGh7kHelOv4Oz+3LWjB1DDwRscy444445wsb6ftUMfWqLn7/TXiWMdEUAGgNdgYydf2T/AGeZVfTsdenj4fe65qZTcxTRdVJOtb7dzxB6djSw4laJ6IrPWjrLERpHILdTFj1EkedDyedNagWeGRJplSGMxiLq2jb13O+5I12O/k83OodGRhtWGiP3HOJQ9L1qVilKLdyYUVaOvHK6lUQr09Ogo2NfJ79vPMIvSNSM1VFy8a9OdZ69cyr7cRB2APt2R8dydDxrkWl6WM5yAyE1qOCzelmaskq+3MhbaluxI2PIBG/kctXHHHHHIGbn9jGWOkzLJIjJG0MMkjKxB0dICR/euUeFJZ6KSQ5fISF4wVkSjlSrHXkMJdH+9f5yflslU9vCRWrWTidQTaaP6qJjHHHt2KABiCxX7iPG+/nmOSnjqi1If1qJoLkRSRGuvH9OChdydlD9vuf58cufvStYiEcIau8ZZpevRU9tDp133s9/jXN/Kj6VsVXsoLdzIDKu0rexZlnVGHU34q32HS68b1zz0vZqGdTcuZAZRmmcwWZZ1Rl6m/FW+w6XXjeuafTuYFp6ORyD5OOS8zGJmbVU7BIiC7+APyIBJXyfHPfTeXFyWhfvvk0lyDN7TM2qpJBIiC7+APyIGyvk+OXTjjjjmMiLIjIw2rAg99duVe76fsQKa2JrzCFYwkUj5u0ntnWh9g2ND9t83Zv0/cuU6sdSxB9RFVkryT2FZmkDR9PkHfkk7JOt70eY5j05NPTeCiZC9iJ45ZJ8nY6Y+oa2sfdW8nsdDsP87/tTCxEyTBa6IVaLo2WPbR6vjWj2/nm/nGTEW58jVt5K/HOKjM8McNf2gGKldsSzE9ifGuFw9ufI1rWSvx2FqMzwxQ1/aHUVK7YlmJ7E+Ncj0/TL13pwyXvdx1CQyVq/sgMp0QoZ9/cFDHXYfG989pemnrvThkvGXH0JDLWr+0AynRChn39wUMddh8b3ywcccccg52xLUwmQsQN0TQ1pJEbQOmCkg6P88rf6rT+j9z/nI932+rp96n+WvGvb55kM9kqmN9PWxbroLlcGf3Yk+9zGG3tpIwO/wCP98c575zOyYp7It2XdMabQapFXVVbcmi4cnY0o/D9vHL59QRYih9mVvcQuZQo6F1rsT+532/o838rctu/jM1RhnyX1i2RK88Hsqvsoqk9a67gbAX7id75Go5PKLHhMlatCSvlpFRqvtqFhDoWQqwGyRoA7J3v45KaxkKGex9aXJC4LfuNNAYVUQoqkh113A6tL9xO98h4L1GMjNDbnyhjWcO8dIV9RlACQBIR9zgAE6b9xr557SyeUEOFyVm2Hgy0gRqwiUCASIWQqdbJGgDsne/jm4/qNTPV6363aswxRNZtrJDCAI+4UfagOyd/PhTzTSyeUEOFyVm2Hgy0gRqwiUCASIWQqdbJGgDsne/jklEycPqKpSTNWrMaxme0ssMIAT8VG1QHZbfz4U8svIOdry28JkK8C9c01aSNF2BtipAGz/POfvPfQez+mY7ftdH/cH341/wCHX/3kOPCZOSLAxpZmomjTVZXUxMFfo6SACp2d+TvWh27nY5knpfIJjL8U0dq1O9YU6whtiMa05LvooCvU+ukhj28HfLtqyLMQURfTBD7hJPX1dta+Ned/5zcd6PTrfxvlZwOLzFIsL9XHSyWT/wBXaW1I0kn9AxjsPAXYAHPaGByMaYynblrNSxTdUDIW9yYqpWPqGtLoHvonZA8cen8bmKDk3auOllsHdu2tqRpJP6BjA0PAXYAHNdP05dWLHY6y9U43Gy+5G6FvdlADBVYa0vZu5BO9fG+bMfgchGMXTuS1mo4p+qF4y3uTdKlU6gRpdA99E7IHjnSx+Mkit5WxbKO12UdPST2iVAqqe3nfUf8A25zcfgchGMXTuS1mo4p+qF4y3uTdKlU6gRpdA99E7IHjnUxePlrX8nbssjSW5gU6CT0xKoCg9vO+o/7zpcccccccccccccccc//Z
        app_id: &documentRecognitionAppId ootb_k7m2x9p4v1n8w3q6r5t0y2b4
        model_params:
          recognize_config:
            recognize_mode: standard
            enable_highlight: 1
            enable_pdf_parse: false
            pdf_pic_second_parsing: false
            enable_stamp_recognition: false
    DocumentRecognitionFileUrl:
      summary: Use file URL
      value:
        file_url: &documentRecognitionFileUrl https://adp.laiye.com/web/agentic_doc_processor/laiye/file/2003c711818811f1a36200163e358400
        app_id: *documentRecognitionAppId
        model_params:
          recognize_config:
            recognize_mode: standard
            enable_highlight: 1
            enable_pdf_parse: true
            pdf_pic_second_parsing: false
            enable_stamp_recognition: false
  requestBodies:
    DocumentFileRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocumentFileRequest'
          examples:
            fileUrl:
              $ref: '#/components/examples/DocumentRecognitionFileUrl'
            fileBase64:
              $ref: '#/components/examples/DocumentRecognitionFileBase64'
    DocumentExtractRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocumentExtractRequest'
          examples:
            fileUrl:
              value:
                app_id: app_abc123
                file_url: https://adp.laiye.com/web/agentic_doc_processor/laiye/file/2003c711818811f1a36200163e358400
                with_rec_result: false
            fileBase64:
              value:
                app_id: app_abc123
                file_base64: JVBERi0xLjQKJcfs...
                with_rec_result: true
    AppIdRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AppIdRequest'
          examples:
            standardCustomExtractionApp:
              summary: Delete standard custom extraction application
              value:
                app_id: app_abc123
            highSpeedCustomExtractionApp:
              summary: Delete high-speed custom extraction application
              value:
                app_id: app_1425
    AppVersionDeleteRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AppVersionDeleteRequest'
          examples:
            highSpeedConfigVersion:
              summary: Delete high-speed custom extraction application configuration version
              value:
                app_id: app_1425
                config_version: v2
    ExtractionAppCreateRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExtractionAppCreateRequest'
          examples:
            standardCustomExtractionApp:
              summary: Create standard custom extraction application
              value:
                ai_function: 1406
                app_name: Purchase order extraction app
                app_label: [purchase-order]
                extract_fields:
                  - field_name: Order number
                    field_type: string
                    field_prompt: Extract the purchase order number.
                  - field_name: Order date
                    field_type: date
                    field_prompt: Extract the order date.
                parse_mode: standard
                enable_highlight: 1
                enable_pdf_parse: false
                pdf_pic_second_parsing: false
                enable_stamp_recognition: false
                enable_long_doc: false
            highSpeedCustomExtractionApp:
              summary: Create high-speed custom extraction application
              value:
                ai_function: 1425
                app_name: High-speed invoice extraction app
                app_label: [invoice, high-speed]
                extract_fields:
                  - field_key: invoice_no
                    field_name: Invoice number
                    field_type: string
                    field_prompt: Extract the unique invoice number from the invoice.
                  - field_key: invoice_date
                    field_name: Invoice date
                    field_type: date
                    field_prompt: Extract the invoice issue date.
                  - field_key: line_items
                    field_name: Line items
                    field_type: table
                    sub_fields:
                      - field_key: item_name
                        field_name: Item name
                        field_type: string
                      - field_key: item_date
                        field_name: Date
                        field_type: date
                enable_field_value_translation: false
    ExtractionAppUpdateRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExtractionAppUpdateRequest'
          examples:
            standardCustomExtractionApp:
              summary: Update standard custom extraction application
              value:
                app_id: app_1406
                app_name: Purchase order extraction app (new version)
                config_version: v1
                app_label: [purchase-order]
                extract_fields:
                  - field_name: Order number
                    field_type: string
                    field_prompt: Extract the purchase order number.
                  - field_name: Supplier name
                    field_type: string
                    field_prompt: Extract the supplier name.
                parse_mode: fast_vlm
                enable_highlight: 1
                enable_pdf_parse: true
                pdf_pic_second_parsing: false
                enable_stamp_recognition: true
                enable_long_doc: false
            highSpeedCustomExtractionApp:
              summary: Update high-speed custom extraction application
              value:
                app_id: app_1425
                app_name: High-speed invoice extraction app (new version)
                config_version: v1
                app_label: [invoice, high-speed]
                extract_fields:
                  - field_key: invoice_no
                    field_name: Invoice number
                    field_type: string
                    field_prompt: Extract the unique invoice number from the invoice.
                  - field_key: invoice_date
                    field_name: Invoice date
                    field_type: date
                    field_prompt: Extract the invoice issue date.
                  - field_key: total_amount
                    field_name: Total amount
                    field_type: string
                    field_prompt: Extract the total amount including tax.
                  - field_key: line_items
                    field_name: Line items
                    field_type: table
                    sub_fields:
                      - field_key: item_name
                        field_name: Item name
                        field_type: string
                      - field_key: item_amount
                        field_name: Amount
                        field_type: string
                enable_field_value_translation: false
    AppConfigQueryRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AppConfigQueryRequest'
          examples:
            highSpeedConfig:
              summary: Get high-speed custom extraction application configuration
              value:
                app_id: app_1425
            highSpeedConfigVersion:
              summary: Get a specified high-speed configuration version
              value:
                app_id: app_1425
                config_version: v1
    AiRecommendRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AiRecommendRequest'
          examples:
            standardCustomExtractionApp:
              summary: Generate field prompts for a standard custom extraction application
              value:
                app_id: app_1406
                prompt: Extract the invoice number, invoice date, and total amount from the invoice.
            highSpeedCustomExtractionApp:
              summary: Generate a high-speed custom extraction configuration preview
              value:
                app_id: app_1425
                file_url: https://adp.laiye.com/web/agentic_doc_processor/laiye/file/2003c711818811f1a36200163e358400
                prompt: Generate field configuration based on the document layout. Use English snake_case field keys.
    DocumentConvertRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocumentConvertRequest'
          examples:
            fileUrl:
              value:
                file_url: https://example.com/invoice.pdf
                scale: 1
                first_convert_page: 1
                last_convert_page: 5
                result_mode: url
            fileBase64:
              value:
                file_base64: JVBERi0xLjQKJcfs...
                result_mode: base64
    DocumentConvertAsyncRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocumentConvertAsyncRequest'
          example:
            file_url: https://example.com/long-document.pdf
            first_convert_page: 1
            last_convert_page: 20
    WebhookCreateRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WebhookCreateRequest'
          example:
            webhook_url: https://hooks.example.com/adp
            event_types: [doc_extract_completed]
            app_id: [app_abc123]
    WebhookUpdateRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WebhookUpdateRequest'
          example:
            webhook_id: webhook_abc123
            event_types: [doc_parse_completed, doc_extract_completed]
    WebhookDeleteRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WebhookDeleteRequest'
          example:
            webhook_id: webhook_abc123
    WebhookLogQueryRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WebhookLogQueryRequest'
          example:
            webhook_id: webhook_abc123
            start_time: '2026-08-01 00:00:00'
            end_time: '2026-08-02 00:00:00'
            page: 1
            page_size: 20
    WorkflowRunRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WorkflowRunRequest'
    WorkflowCancelRunRequest:
      required: false
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WorkflowCancelRunRequest'
          example:
            reason: Cancelled by user
    WorkflowRunExportRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WorkflowRunExportRequest'
          example:
            application_id: app_abc123
            run_ids: [run_xyz789]
            format: excel
            report_mode: merged
            include_failed_runs: false
            max_text_length: 10000
  responses:
    SimpleResponse:
      description: Common response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SimpleResponse'
          example:
            code: success
            message: success
    ValidationError:
      description: Validation error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HTTPValidationError'
          example:
            detail:
              - type: greater_than
                loc: [query, limit]
                msg: Input should be greater than 0
                input: 0
                ctx:
                  gt: 0
    TaskCreateResponse:
      description: Task creation result.
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/SimpleResponse'
              - type: object
                properties:
                  data:
                    type: object
                    properties:
                      task_id:
                        type: string
                      metadata:
                        type: object
                        additionalProperties: true
                        description: Document processing task metadata.
          example:
            code: success
            message: ''
            data:
              task_id: 94fe9b74e0e311f091505e345594c618
              metadata: {}
    DocumentExtractResponse:
      description: Document extraction result.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocumentExtractResponse'
          example:
            code: success
            message: ''
            data:
              task_id: 94fe9b74e0e311f091505e345594c618
              file_url: ''
              message: ''
              status: 4
              doc_recognize_result: []
              extraction_result: []
              extract_config_version: v1
              metadata: {}
              aigc: null
    DocumentRecognizeResponse:
      description: Document recognition result.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocumentRecognizeResponse'
          example:
            code: success
            message: ''
            data:
              task_id: 94fe9b74e0e311f091505e345594c618
              file_url: ''
              message: ''
              status: 4
              doc_recognize_result: []
              metadata: {}
              aigc: null
    ExtractionAppResponse:
      description: Extraction application result.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExtractionAppResponse'
          examples:
            success:
              summary: Application created
              value:
                code: success
                message: ''
                tips: null
                data:
                  app_id: app_abc123
                  app_name: High-speed invoice extraction app
                  app_label: [invoice, high-speed]
                  config_version: v1
            missingParseMode:
              summary: Standard application missing parse_mode (HTTP 200 business failure)
              value:
                code: server_error
                message: parse_mode is required for a standard custom extraction application
                tips: null
    ExtractionAppDeleteResponse:
      description: Extraction application deletion result.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExtractionAppDeleteResponse'
          example:
            code: success
            message: ''
            tips: null
            data:
              success: true
              message: App deleted successfully
    ExtractionAppUpdateResponse:
      description: Extraction application update result.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExtractionAppUpdateResponse'
          examples:
            success:
              summary: Application updated
              value:
                code: success
                message: ''
                tips: null
                data:
                  config_version: v2
            missingParseMode:
              summary: Standard application missing parse_mode (HTTP 200 business failure)
              value:
                code: server_error
                message: parse_mode is required for a standard custom extraction application
                tips: null
    ExtractionAppVersionDeleteResponse:
      description: Extraction application configuration version deletion result.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExtractionAppVersionDeleteResponse'
          example:
            code: success
            message: ''
            tips: null
            data:
              success: true
              message: Version deleted successfully
    AppConfigResponse:
      description: Application configuration result.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AppConfigResponse'
    AiRecommendResponse:
      description: Field configuration generation result. High-speed applications return a configuration preview and do not save a configuration version.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AiRecommendResponse'
          examples:
            standardCustomExtractionApp:
              summary: Recommended fields for a standard custom extraction application
              value:
                code: success
                message: ''
                tips: null
                data:
                  app_id: app_1406
                  app_name: ''
                  extract_fields:
                    - field_name: Invoice number
                      field_type: string
                      field_prompt: Extract the unique identifier of the tax invoice.
                    - field_name: Invoice date
                      field_type: date
                      field_prompt: Extract the invoice issue date.
            highSpeedCustomExtractionApp:
              summary: Generated high-speed custom extraction configuration preview
              value:
                code: success
                message: ''
                tips: null
                data:
                  app_id: app_1425
                  app_name: High-speed invoice extraction app
                  ai_function: 1425
                  extract_fields:
                    - field_key: invoice_number
                      field_name: Invoice number
                      field_type: string
                      field_prompt: Unique identifier of the tax invoice.
                      field_description: Unique identifier of the tax invoice.
                    - field_key: invoice_date
                      field_name: Invoice date
                      field_type: date
                      field_prompt: Invoice issue date.
                      field_description: Invoice issue date.
                  prompt_rule: Extract only fields that clearly appear in the document.
                  common_rule: Extract only fields that clearly appear in the document.
                  field_rule:
                    - field_key: invoice_number
                      field_name: Invoice number
                      field_type: string
                      field_description: Unique identifier of the tax invoice.
                    - field_key: invoice_date
                      field_name: Invoice date
                      field_type: date
                      field_description: Invoice issue date.
                  table_rule:
                    - field_key: line_items
                      field_name: Line items
                      field_type: table
                      field_description: Invoice line item table.
                      field_parent_id: ''
                    - field_key: item_name
                      field_name: Item name
                      field_type: string
                      field_description: Product or service name in the line item.
                      field_parent_id: line_items
                    - field_key: item_amount
                      field_name: Amount
                      field_type: string
                      field_description: Line item amount.
                      field_parent_id: line_items
                  page_count: 2
                  document_type: invoice
            promptOrFileRequired:
              summary: Standard application missing a prompt or file (HTTP 200 business failure)
              value:
                code: prompt_or_file_required
                message: Provide at least one of prompt, file_url, or file_base64
                tips: null
    AppListResponse:
      description: Application list.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AppListResponse'
          example:
            code: success
            message: ''
            tips: null
            data:
              range:
                offset: 0
                size: 20
                total: 1
              list:
                - id: app_1425
                  app_name: High-speed invoice extraction app
                  ai_function: 1425
                  app_label: [invoice, high-speed]
                  app_type: 1
                  created_at: '2026-04-30T10:00:00Z'
                  updated_at: '2026-04-30T10:10:00Z'
                  engine_type: extract
    UserPaymentResponse:
      description: Credit usage.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UserPaymentResponse'
          example:
            user_id: user_abc123
            payment_type: free
            concurrency: 2
            total_credits: 0
            used_credits: 0
            expired_credits: 0
            remaining_credits: 0
    WorkflowRunResponse:
      description: Workflow run result.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WorkflowRunResponse'
          example:
            code: success
            message: ''
            data:
              run_id: run_abc123
              status: succeeded
              output:
                answer: Completed
              error: null
              started_at: '2026-04-30T10:00:00Z'
              ended_at: '2026-04-30T10:00:15Z'
    FileUploadResponse:
      description: File upload result.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FileUploadResponse'
    FileInfoResponse:
      description: File information.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FileInfoResponse'
    DocumentConvertTaskResponse:
      description: Asynchronous document conversion task creation result.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocumentConvertTaskResponse'
          examples:
            created:
              value:
                code: success
                message: ''
                tips: null
                data:
                  task_id: task_abc123
            failedButWrappedAsSuccess:
              summary: Response that may be returned by the current failure branch
              value:
                code: success
                message: ''
                tips: null
                data: null
    DocumentConvertResponse:
      description: Document conversion result. While processing is in progress or after a failure, the service may return an empty result or `data=null`.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocumentConvertResponse'
          example:
            code: success
            message: ''
            tips: null
            data:
              task_id: task_abc123
              img_detail_list:
                - page_num: 1
                  img_base64: ''
                  img_url: https://example.com/temp/task_abc123/page-1.png
                  width: 1240
                  height: 1754
                  preprocess: {}
              total_num: 1
              metadata: {}
              file_type: pdf
              source_file_type: pdf
              spreadsheet_manifest_file_id: ''
              spreadsheet_manifest_url: ''
              view_type: ''
              page_count: 1
              sheet_count: 0
              logical_unit_count: 0
              document_contents: []
              document_details: []
              warnings: []
              billing: {}
    WebhookEventListResponse:
      description: Webhook system event catalog.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WebhookEventListResponse'
    WebhookMutationResponse:
      description: Webhook creation or update result.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WebhookMutationResponse'
    EmptyMutationResponse:
      description: The operation succeeded and `data` is an empty object.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EmptyDataResponse'
    WebhookListResponse:
      description: Webhook configurations for the current account. Signing secrets are not included.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WebhookListResponse'
    WebhookLogResponse:
      description: Webhook delivery logs. `response_body` may contain sensitive data.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WebhookLogResponse'
    WorkflowApplicationListResponse:
      description: Published workflow applications visible to the current Access Key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WorkflowApplicationListResponse'
    WorkflowApplicationResponse:
      description: Workflow application details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WorkflowApplicationResponse'
    WorkflowRunExportResponse:
      description: Workflow-run export result. Treat the download URL as a temporary sensitive link.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WorkflowRunExportResponse'
  schemas:
    DocumentConvertRequest:
      type: object
      additionalProperties: false
      oneOf:
        - title: Use file URL
          required: [file_url]
        - title: Use Base64 file
          required: [file_base64]
      properties:
        file_url:
          type: string
          format: uri
          maxLength: 2048
          description: Public HTTPS URL of the file to convert. Do not pass an internal-network URL or a URL containing long-lived credentials.
        file_base64:
          type: string
          format: byte
          description: Base64 content of the file to convert. The decoded file can be at most 50 MiB.
        scale:
          type: number
          exclusiveMinimum: 0
          default: 1
          description: Page scale factor. The server currently exposes no stable upper bound; use the default value unless necessary.
        first_convert_page:
          type: integer
          minimum: 1
          description: First page to convert, starting at 1. Omit it to start from the first page.
        last_convert_page:
          type: integer
          minimum: 1
          description: Last page to convert, starting at 1 and not less than the first page. Omit it to continue through the last page.
        result_mode:
          type: string
          enum: [url, base64]
          default: url
          description: How page images are returned. URLs are temporary; Base64 significantly increases the response size.
    DocumentConvertAsyncRequest:
      type: object
      additionalProperties: false
      oneOf:
        - title: Use file URL
          required: [file_url]
        - title: Use Base64 file
          required: [file_base64]
      properties:
        file_url:
          type: string
          format: uri
          maxLength: 2048
          description: Public HTTPS URL of the file to convert.
        file_base64:
          type: string
          format: byte
          description: Base64 content of the file to convert. The decoded file can be at most 50 MiB.
        scale:
          type: number
          exclusiveMinimum: 0
          default: 1
        first_convert_page:
          type: integer
          minimum: 1
        last_convert_page:
          type: integer
          minimum: 1
      description: Asynchronous conversion currently always returns page results as URLs. The backend ignores `result_mode`, so the public contract does not expose that field.
    DocumentConvertTaskResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              oneOf:
                - type: object
                  properties:
                    task_id:
                      type: string
                  required: [task_id]
                - type: 'null'
    DocumentConvertResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              oneOf:
                - $ref: '#/components/schemas/DocumentConvertData'
                - type: 'null'
    DocumentConvertData:
      type: object
      properties:
        task_id:
          type: string
        img_detail_list:
          type: array
          items:
            $ref: '#/components/schemas/DocumentConvertImage'
        total_num:
          type: integer
          minimum: 0
        metadata:
          type: object
          additionalProperties: true
        file_type:
          type: string
          description: Conversion result type, such as `pdf`, `image`, or `spreadsheet`.
        source_file_type:
          type: string
          description: Detected source-file extension type.
        spreadsheet_manifest_file_id:
          type: string
        spreadsheet_manifest_url:
          type: string
          description: Temporary download URL for the native Excel preview manifest.
        view_type:
          type: string
          description: Set to `spreadsheet` for native Excel parsing.
        page_count:
          type: integer
          minimum: 0
        sheet_count:
          type: integer
          minimum: 0
        logical_unit_count:
          type: integer
          minimum: 0
        document_contents:
          type: array
          items:
            type: string
        document_details:
          type: array
          items: {}
        warnings:
          type: array
          items:
            type: object
            additionalProperties: true
        billing:
          type: object
          additionalProperties: true
      required: [task_id, img_detail_list, total_num, metadata, file_type, source_file_type, spreadsheet_manifest_file_id, spreadsheet_manifest_url, view_type, page_count, sheet_count, logical_unit_count, document_contents, document_details, warnings, billing]
    DocumentConvertImage:
      type: object
      properties:
        page_num: {type: integer, minimum: 0}
        img_base64:
          type: string
          description: Page-image content when `result_mode=base64`; otherwise it is generally an empty string.
        img_url:
          type: string
          description: Temporary page URL when `result_mode=url`; otherwise it is generally an empty string.
        width: {type: integer, minimum: 0}
        height: {type: integer, minimum: 0}
        preprocess:
          type: object
          additionalProperties: true
      required: [page_num, img_base64, img_url, width, height, preprocess]
    EmptyDataResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              additionalProperties: false
          required: [data]
    WebhookEventType:
      type: string
      enum:
        - doc_parse_completed
        - doc_extract_completed
        - collaboration_start
        - collaboration_success
        - collaboration_failed
        - collaboration_completed
        - collaboration_timeout
    WebhookEventListResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                events:
                  type: array
                  items:
                    $ref: '#/components/schemas/WebhookEvent'
              required: [events]
          required: [data]
    WebhookEvent:
      type: object
      properties:
        event_type:
          $ref: '#/components/schemas/WebhookEventType'
        name:
          type: string
        description:
          type: string
      required: [event_type, name, description]
    WebhookCreateRequest:
      type: object
      additionalProperties: false
      properties:
        webhook_url:
          type: string
          format: uri
          pattern: '^https://'
          maxLength: 512
          description: Caller-controlled, public HTTPS callback URL. The public contract does not accept HTTP or internal-network URLs.
        event_types:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            $ref: '#/components/schemas/WebhookEventType'
        app_id:
          type: [array, 'null']
          uniqueItems: true
          description: Application scope. Omit it, pass `null`, or pass an empty array to subscribe to all applications under the current account.
          items:
            type: string
            minLength: 1
      required: [webhook_url, event_types]
    WebhookUpdateRequest:
      type: object
      additionalProperties: false
      anyOf:
        - required: [webhook_url]
        - required: [event_types]
        - required: [app_id]
      properties:
        webhook_id:
          type: string
          minLength: 1
        webhook_url:
          type: string
          format: uri
          pattern: '^https://'
          maxLength: 512
          description: New public HTTPS callback URL.
        event_types:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            $ref: '#/components/schemas/WebhookEventType'
        app_id:
          type: [array, 'null']
          uniqueItems: true
          description: Passing `null` or an empty array explicitly clears the application scope; omitting it leaves the scope unchanged.
          items:
            type: string
            minLength: 1
      required: [webhook_id]
    WebhookDeleteRequest:
      type: object
      additionalProperties: false
      properties:
        webhook_id:
          type: string
          minLength: 1
      required: [webhook_id]
    WebhookMutationResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              oneOf:
                - type: object
                  properties:
                    webhook_id:
                      type: string
                  required: [webhook_id]
                - type: 'null'
    WebhookListResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                webhook_list:
                  type: array
                  items:
                    $ref: '#/components/schemas/WebhookConfig'
              required: [webhook_list]
          required: [data]
    WebhookConfig:
      type: object
      properties:
        webhook_id: {type: string}
        webhook_url:
          type: string
          format: uri
        event_types:
          type: array
          items:
            $ref: '#/components/schemas/WebhookEventType'
        app_id:
          type: [array, 'null']
          items:
            type: string
        is_active:
          type: integer
          enum: [0, 1]
        created_at:
          type: [string, 'null']
          format: date-time
        updated_at:
          type: [string, 'null']
          format: date-time
      required: [webhook_id, webhook_url, event_types, is_active]
    WebhookLogQueryRequest:
      type: object
      additionalProperties: false
      properties:
        webhook_id:
          type: [string, 'null']
          description: Webhook configuration ID. Always provide it whenever possible to narrow the query scope.
        start_time:
          type: [string, 'null']
          pattern: '^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$'
          description: Start time in `YYYY-MM-DD HH:mm:ss` format. If omitted, defaults to 72 hours before the end time.
        end_time:
          type: [string, 'null']
          pattern: '^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$'
          description: End time in `YYYY-MM-DD HH:mm:ss` format. If omitted, defaults to the current time.
        page:
          type: integer
          default: 1
          minimum: 1
        page_size:
          type: integer
          default: 20
          minimum: 1
          maximum: 100
    WebhookLogResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                logs:
                  type: array
                  items:
                    $ref: '#/components/schemas/WebhookLog'
                total: {type: integer, minimum: 0}
                page: {type: integer, minimum: 1}
                page_size: {type: integer, minimum: 1, maximum: 100}
              required: [logs, total, page, page_size]
          required: [data]
    WebhookLog:
      type: object
      properties:
        id: {type: string}
        webhook_id: {type: string}
        webhook_url:
          type: string
          format: uri
        event_type:
          $ref: '#/components/schemas/WebhookEventType'
        app_id: {type: [string, 'null']}
        app_name: {type: [string, 'null']}
        status:
          type: string
          enum: [pending, success, failed, final_failed]
        retry_count: {type: integer, minimum: 0}
        next_retry_at:
          type: [string, 'null']
          format: date-time
        response_code: {type: [integer, 'null']}
        response_body:
          type: [string, 'null']
          maxLength: 2000
          description: Last receiver response or error message. It may contain sensitive data.
        delivered_at:
          type: [string, 'null']
          format: date-time
        created_at:
          type: [string, 'null']
          format: date-time
      required: [id, webhook_id, webhook_url, event_type, status, retry_count]
    WorkflowApplication:
      type: object
      properties:
        id:
          type: string
          description: Workflow application ID.
        name:
          type: string
        description:
          type: [string, 'null']
        status:
          type: string
        tags:
          type: [array, 'null']
          items:
            type: string
      required: [id, name, description, status, tags]
    WorkflowApplicationListResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                range:
                  type: object
                  properties:
                    offset: {type: integer, minimum: 0}
                    size: {type: integer, minimum: 1}
                    total: {type: [integer, 'null'], minimum: 0}
                  required: [offset, size, total]
                list:
                  type: array
                  items:
                    $ref: '#/components/schemas/WorkflowApplication'
              required: [range, list]
          required: [data]
    WorkflowApplicationResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              oneOf:
                - $ref: '#/components/schemas/WorkflowApplication'
                - type: 'null'
    WorkflowRunExportRequest:
      type: object
      additionalProperties: false
      properties:
        application_id:
          type: string
          minLength: 1
          description: Workflow application ID.
        run_ids:
          type: array
          minItems: 1
          maxItems: 200
          uniqueItems: true
          description: Explicitly authorized run IDs to export. The public contract does not allow `null` or an empty array to export all runs.
          items:
            type: string
            minLength: 1
        node_ids:
          type: array
          uniqueItems: true
          description: Optional node IDs. If omitted, all exportable nodes in each run are included.
          items:
            type: string
            minLength: 1
        format:
          type: string
          enum: [excel, word, markdown, json]
          default: excel
        report_mode:
          type: string
          enum: [merged, per_run]
          default: merged
          description: "`merged` produces one combined report; `per_run` separates output by run."
        include_failed_runs:
          type: boolean
          default: false
        primary_key_variable:
          type: string
          description: Optional workflow input-variable name to use as the export primary key.
        max_text_length:
          type: integer
          minimum: 1
          maximum: 30000
          default: 10000
          description: Maximum exported characters for one text value. The route currently defaults to 10,000.
      required: [application_id, run_ids]
    WorkflowRunExportResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              oneOf:
                - $ref: '#/components/schemas/WorkflowRunExportData'
                - type: 'null'
    WorkflowRunExportData:
      type: object
      properties:
        file_id: {type: string}
        download_url:
          type: string
          format: uri
          description: Temporary download URL. It is currently generally valid for approximately one hour, but this is not a stable SLA.
        filename: {type: string}
        file_size: {type: integer, minimum: 0}
        format:
          type: string
          enum: [excel, word, markdown, json]
        report_mode:
          type: string
          enum: [merged, per_run]
        total_runs: {type: integer, minimum: 0, maximum: 200}
        included_runs: {type: integer, minimum: 0, maximum: 200}
        skipped_runs: {type: integer, minimum: 0, maximum: 200}
        run_summaries:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowRunExportSummary'
        export_time:
          type: string
          format: date-time
      required: [file_id, download_url, filename, file_size, format, report_mode, total_runs, included_runs, skipped_runs, run_summaries, export_time]
    WorkflowRunExportSummary:
      type: object
      properties:
        run_id: {type: string}
        status: {type: string}
        started_at:
          type: [string, 'null']
          format: date-time
        ended_at:
          type: [string, 'null']
          format: date-time
        included_nodes: {type: integer, minimum: 0}
        skipped_nodes: {type: integer, minimum: 0}
      required: [run_id, status, started_at, ended_at, included_nodes, skipped_nodes]
    SimpleResponse:
      type: object
      properties:
        code:
          oneOf:
            - type: string
            - type: integer
          description: Business code. A successful response is usually success or 200.
        message:
          type: string
          description: Response message.
        tips:
          type:
            - string
            - 'null'
          description: Details. Defaults to null.
    HTTPValidationError:
      type: object
      description: FastAPI/Pydantic request validation error.
      properties:
        detail:
          type: array
          items:
            $ref: '#/components/schemas/ValidationErrorItem'
      required: [detail]
    ValidationErrorItem:
      type: object
      additionalProperties: true
      properties:
        type:
          type: string
          description: Validation error type.
        loc:
          type: array
          description: Location of the invalid field in the request.
          items:
            oneOf:
              - type: string
              - type: integer
        msg:
          type: string
          description: Human-readable validation error message.
        input:
          description: Input value that failed validation.
        ctx:
          type: object
          additionalProperties: true
          description: Additional context supplied by the validator.
        url:
          type: string
          format: uri
          description: Link to the Pydantic error documentation.
      required: [type, loc, msg]
    DocumentFileRequest:
      oneOf:
        - title: Use file URL
          type: object
          additionalProperties: false
          properties:
            app_id:
              default: *documentRecognitionAppId
              type: string
              description: Unique application ID.
            file_url:
              default: *documentRecognitionFileUrl
              type: string
              format: uri
              description: File URL. Use either file_url or file_base64.
            file_name:
              type: string
              description: File name. Provide it when using Base64 or when the file name cannot be inferred from the URL.
            model_params:
              $ref: '#/components/schemas/DocumentRecognizeModelParams'
          required: [app_id, file_url]
        - title: Use file Base64
          type: object
          additionalProperties: false
          properties:
            app_id:
              default: *documentRecognitionAppId
              type: string
              description: Unique application ID.
            file_base64:
              default: *documentRecognitionFileBase64
              type: string
              description: Base64-encoded file. Use either file_base64 or file_url.
            file_name:
              type: string
              description: File name. Provide it when using Base64 or when the file name cannot be inferred from the URL.
            model_params:
              $ref: '#/components/schemas/DocumentRecognizeModelParams'
          required: [app_id, file_base64]
    DocumentRecognizeModelParams:
      type: object
      additionalProperties: true
      description: |
        Model parameters for this document recognition call. If omitted, the saved application parsing configuration is used. To temporarily override parsing options for this call, pass them in recognize_config.
      properties:
        recognize_config:
          $ref: '#/components/schemas/DocumentRecognizeConfig'
    DocumentRecognizeConfig:
      type: object
      additionalProperties: false
      description: Parsing configuration for this call.
      properties:
        recognize_mode:
          type: string
          enum: [standard, advance, agentic, fast_vlm, agentic_v2]
          default: standard
          description: |
            Parsing mode. Available values are:

            - standard: Standard parsing for clear digital documents, balancing speed and accuracy.
            - advance: Enhanced parsing 1.0 for documents with stamps, signatures, multiple tables, or moderately complex layouts.
            - agentic: Smart parsing that combines standard and enhanced parsing and performs secondary parsing when conditions are met.
            - fast_vlm: Enhanced parsing 2.0 for complex layouts, scanned documents, and documents with multiple tables, improving parsing stability.
            - agentic_v2: Smart parsing 2.0 with two-stage layout analysis and content recognition for documents with complex layouts, tables, and formulas.
        enable_highlight:
          type: integer
          enum: [0, 1]
          default: 1
          description: Whether to show source locations. 1 keeps source positions for text blocks and tables; 0 omits positions. Supported in standard, agentic, fast_vlm, and agentic_v2 modes. Not supported in advance mode.
        enable_pdf_parse:
          type: boolean
          default: false
          description: Whether to use PDF text first. Effective only for digital PDFs with selectable text. Improves speed and text stability.
        pdf_pic_second_parsing:
          type: boolean
          default: false
          description: When PDF text first is enabled, whether to use VLM to parse image regions in the PDF again.
        enable_stamp_recognition:
          type: boolean
          default: false
          description: Whether to enable stamp recognition. When enabled, the service detects stamps in the document and attempts to extract stamp text.
    DocumentExtractRequest:
      oneOf:
        - title: Use file URL
          type: object
          additionalProperties: false
          properties:
            app_id:
              default: app_abc123
              type: string
              description: Unique application ID.
            file_url:
              default: *documentRecognitionFileUrl
              type: string
              format: uri
              description: File URL. Use either file_url or file_base64.
            file_name:
              type: string
              description: File name. Provide it when using Base64 or when the file name cannot be inferred from the URL.
            with_rec_result:
              type: boolean
              description: Whether to return document recognition results. High-speed extraction does not return recognition results.
              default: false
          required: [app_id, file_url]
        - title: Use file Base64
          type: object
          additionalProperties: false
          properties:
            app_id:
              default: app_abc123
              type: string
              description: Unique application ID.
            file_base64:
              default: JVBERi0xLjQKJcfs...
              type: string
              description: Base64-encoded file. Use either file_base64 or file_url.
            file_name:
              type: string
              description: File name. Provide it when using Base64 or when the file name cannot be inferred from the URL.
            with_rec_result:
              type: boolean
              description: Whether to return document recognition results. High-speed extraction does not return recognition results.
              default: false
          required: [app_id, file_base64]
    TaskCreateResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                task_id:
                  type: string
                metadata:
                  type: object
                  additionalProperties: true
                  description: Document processing task metadata.
    DocumentExtractResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/DocumentExtractData'
    DocumentExtractData:
      type: object
      properties:
        task_id:
          type: string
        file_url:
          type: string
        message:
          type: string
          description: Task status or processing result message.
        status:
          type: integer
          enum: [0, 1, 2, 4, 5, 6]
          description: 0=unknown, 1=ready, 2=running, 4=succeeded, 5=failed, 6=canceled or rejected.
        doc_recognize_result:
          type: array
          items:
            $ref: '#/components/schemas/RecognizePage'
        extraction_result:
          type: array
          items:
            $ref: '#/components/schemas/ExtractionField'
        extract_config_version:
          type: string
          description: Configuration version used for this extraction.
        collaboration_result:
          type: array
          items:
            type: object
            additionalProperties: true
        output_result:
          type: array
          items:
            type: object
            additionalProperties: true
        metadata:
          type:
            - object
            - 'null'
          additionalProperties: true
          description: Document processing task metadata.
        aigc:
          oneOf:
            - $ref: '#/components/schemas/AigcLabel'
            - type: 'null'
          description: AI-generated content compliance label.
        spreadsheet_manifest_file_id:
          type: string
          description: Native Excel preview manifest file ID. Usually an empty string for non-Excel documents.
        spreadsheet_manifest_url:
          type: string
          description: Native Excel preview manifest download URL. Usually an empty string for non-Excel documents.
        spreadsheet_billing:
          type:
            - object
            - 'null'
          additionalProperties: true
          description: Billing details for Excel worksheets and embedded images.
    DocumentRecognizeResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                task_id:
                  type: string
                file_url:
                  type: string
                message:
                  type: string
                  description: Task status or processing result message.
                status:
                  type: integer
                  enum: [0, 1, 2, 4, 5, 6]
                  description: 0=unknown, 1=ready, 2=running, 4=succeeded, 5=failed, 6=canceled or rejected.
                doc_recognize_result:
                  type: array
                  items:
                    $ref: '#/components/schemas/RecognizePage'
                metadata:
                  type: object
                  additionalProperties: true
                  description: Document processing task metadata.
                aigc:
                  oneOf:
                    - $ref: '#/components/schemas/AigcLabel'
                    - type: 'null'
                  description: AI-generated content compliance label.
                convert_result:
                  type: object
                  additionalProperties: true
                  description: Document conversion result. For Excel files, this includes the native preview manifest and billing details.
                spreadsheet:
                  type: object
                  additionalProperties: true
                  description: Summary of the native Excel structure.
    AigcLabel:
      type: object
      properties:
        Label:
          type: string
          description: Content label type.
        ContentProducer:
          type: string
          description: Content generation service provider identifier.
        ProduceID:
          type: string
          description: Content production identifier.
        ReservedCode1:
          type: string
          description: Reserved validation code for content generation.
        ContentPropagator:
          type: string
          description: Content distribution service provider identifier.
        PropagateID:
          type: string
          description: Content distribution identifier.
        ReservedCode2:
          type: string
          description: Reserved validation code for content distribution.
        ProcessingTypes:
          type: array
          description: AI processing types used to produce this response.
          items:
            type: string
    RecognizePage:
      type: object
      properties:
        page_num:
          type: integer
        document_content:
          type: string
        document_details:
          type: array
          items:
            $ref: '#/components/schemas/DocumentDetail'
        stamps:
          type: array
          description: Stamp recognition results. Returned only when enable_stamp_recognition is enabled and at least one stamp is detected.
          items:
            type: object
            additionalProperties: true
    DocumentDetail:
      type: object
      properties:
        type:
          type: string
        text:
          type: string
        position:
          type: array
          items:
            type: object
            properties:
              points:
                type: array
                items:
                  $ref: '#/components/schemas/Point'
        ocr_confidence:
          type: object
          properties:
            ocr_mean_confidence:
              type: number
            ocr_min_confidence:
              type: number
            is_overall_confidence:
              type: integer
    Point:
      type: object
      properties:
        x:
          type: number
        y:
          type: number
    ExtractionField:
      type: object
      additionalProperties: true
      properties:
        field_key:
          type: string
        field_name:
          type: string
        field_values:
          type: array
          items:
            type: object
            additionalProperties: true
        references:
          type: array
          items:
            type: object
            additionalProperties: true
        table_values:
          type: array
          items:
            type: array
            items:
              type: object
              additionalProperties: true
    ExtractionFieldConfig:
      type: object
      additionalProperties: false
      properties:
        field_key:
          type: string
          pattern: '^[A-Za-z][A-Za-z0-9_]{0,63}$'
          description: Unique field identifier. Required when you create a high-speed custom extraction application. Standard applications do not require this field.
        field_name:
          type: string
          minLength: 1
          maxLength: 50
          description: Field name.
        field_type:
          type: string
          enum: [string, date, table]
          description: Field type. Use table for table fields.
        field_prompt:
          type: string
          description: Field extraction prompt.
        sub_fields:
[...]
