openapi: 3.1.0
info:
  title: ADP API
  version: 1.0.0
  description: Laiye ADP OpenAPI reference for document extraction, document recognition, application management, credit usage, workflow runs, and workflow file management.
  license:
    name: MIT
    identifier: MIT
servers:
  - url: https://adp-global.laiye.com
    description: ADP global production endpoint
tags:
  - name: Document extraction
    description: Extract structured fields from uploaded documents.
  - name: Document recognition
    description: Recognize text, layout blocks, and positions from uploaded documents.
  - name: Application management
    description: Create, update, delete, and query extraction applications and configurations.
  - name: Account
    description: Query credit usage.
  - name: Workflow
    description: Run workflow applications and query run results.
  - name: Workflow files
    description: Upload and manage files used by workflow applications.
paths:
  /open/agentic_doc_processor/{tenant_name}/v1/app/doc/extract:
    post:
      tags: [Document extraction]
      summary: Extract document (sync)
      description: For a user-uploaded document, call the specified document extraction application and extract content from the file based on the application configuration and rules. The same endpoint applies to custom extraction applications, overseas invoices, receipts, purchase orders, domestic general bills, and cards.
      operationId: extractDocument
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        $ref: '#/components/requestBodies/DocumentExtractRequest'
      responses:
        '200':
          $ref: '#/components/responses/DocumentExtractResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app/doc/extract/create/task:
    post:
      tags: [Document extraction]
      summary: Create document extraction task
      description: Create a document extraction task and return task_id immediately. Use this endpoint for large documents or long-running extraction tasks.
      operationId: createDocumentExtractTask
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        $ref: '#/components/requestBodies/DocumentExtractRequest'
      responses:
        '200':
          $ref: '#/components/responses/TaskCreateResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app/doc/extract/query/task/{task_id}:
    get:
      tags: [Document extraction]
      summary: Query document extraction result
      description: Query document extraction status and results by the task_id returned by the task creation endpoint.
      operationId: queryDocumentExtractTask
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - $ref: '#/components/parameters/TaskId'
      responses:
        '200':
          $ref: '#/components/responses/DocumentExtractResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app/doc/recognize:
    post:
      tags: [Document recognition]
      summary: Recognize document (sync)
      description: Recognize text content and block positions from an uploaded document.
      operationId: recognizeDocument
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        $ref: '#/components/requestBodies/DocumentFileRequest'
      responses:
        '200':
          $ref: '#/components/responses/DocumentRecognizeResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app/doc/recognize/create/task:
    post:
      tags: [Document recognition]
      summary: Create document recognition task
      description: Create an async document recognition task and return task_id immediately.
      operationId: createDocumentRecognizeTask
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        $ref: '#/components/requestBodies/DocumentFileRequest'
      responses:
        '200':
          $ref: '#/components/responses/TaskCreateResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app/doc/recognize/query/task/{task_id}:
    get:
      tags: [Document recognition]
      summary: Query document recognition result
      description: Query document recognition status and results by task_id.
      operationId: queryDocumentRecognizeTask
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - $ref: '#/components/parameters/TaskId'
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          $ref: '#/components/responses/DocumentRecognizeResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app-manage/create:
    post:
      tags: [Application management]
      summary: Create extraction application
      description: Create a standard or high-speed custom extraction application, and configure labels, fields, and extraction settings. To create a high-speed custom extraction application, set ai_function to 1425 and provide field_key for fields and table sub-fields.
      operationId: createExtractionApp
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/ExtractionAppCreateRequest'
      responses:
        '200':
          $ref: '#/components/responses/ExtractionAppResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app-manage/delete:
    post:
      tags: [Application management]
      summary: Delete extraction application
      description: Delete an extraction application. This action cannot be undone. To delete a high-speed custom extraction application, reuse this endpoint and pass the app_id of the high-speed application.
      operationId: deleteExtractionApp
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/AppIdRequest'
      responses:
        '200':
          $ref: '#/components/responses/ExtractionAppDeleteResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app-manage/update:
    post:
      tags: [Application management]
      summary: Update extraction application
      description: Update the name, labels, fields, and extraction configuration of an extraction application, and create a new configuration version. To update a high-speed custom extraction application, reuse this endpoint and pass the app_id of the high-speed application. The request body does not need ai_function. High-speed custom extraction applications do not support setting parse_mode or enable_long_doc.
      operationId: updateExtractionApp
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/ExtractionAppUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/ExtractionAppUpdateResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app-manage/config:
    post:
      tags: [Application management]
      summary: Get application configuration
      description: Get an extraction application configuration by app_id. To get a high-speed custom extraction application configuration, pass the app_id of the high-speed application. If config_version is omitted, the latest configuration version is returned.
      operationId: getExtractionAppConfig
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/AppConfigQueryRequest'
      responses:
        '200':
          description: Application configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppConfigResponse'
              examples:
                highSpeedConfig:
                  value:
                    code: 200
                    message: success
                    data:
                      app_id: app_1425
                      app_name: High-speed invoice extraction app
                      app_label: [invoice, high-speed]
                      config_version: v1
                      extract_fields:
                        - field_name: Invoice number
                          field_type: string
                          field_prompt: Extract the unique invoice number from the invoice.
                      parse_mode: standard
                      enable_long_doc: false
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app-list:
    get:
      tags: [Application management]
      summary: List applications
      description: List applications. To list high-speed custom extraction applications, set ai_function=1425.
      operationId: listExtractionApps
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - name: app_name
          in: query
          required: false
          description: Filter by application name. Fuzzy matching is supported.
          schema:
            type: string
        - name: ai_function
          in: query
          required: false
          description: Filter by AI capability. Use 1425 for high-speed custom extraction applications and 1406 for standard custom extraction applications.
          schema:
            type: integer
            enum: [1406, 1425]
        - name: app_type
          in: query
          required: false
          description: Application type. 1 means custom application. 0 means system preset.
          schema:
            type: integer
            enum: [0, 1]
        - name: with_extra
          in: query
          required: false
          description: Whether to query extra information.
          schema:
            type: integer
            enum: [0, 1]
            default: 1
        - name: offset
          in: query
          required: false
          description: Pagination offset.
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: limit
          in: query
          required: false
          description: Page size.
          schema:
            type: integer
            default: 1000
            minimum: 1
      responses:
        '200':
          $ref: '#/components/responses/AppListResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app-manage/version/delete:
    post:
      tags: [Application management]
      summary: Delete extraction application configuration
      description: Delete a field configuration version under an application. To delete the configuration of a high-speed custom extraction application, reuse this endpoint and pass the high-speed application app_id and the config_version to delete.
      operationId: deleteExtractionAppVersion
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/AppVersionDeleteRequest'
      responses:
        '200':
          $ref: '#/components/responses/ExtractionAppVersionDeleteResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app-manage/ai-recommend:
    post:
      tags: [Application management]
      summary: Generate extraction field prompts
      description: Generate field names, field types, field prompts, and other configuration references from a sample document or prompt. When you pass the app_id of a high-speed custom extraction application, the high-speed auto-configuration service returns a configuration preview such as common_rule, field_rule, and table_rule. This endpoint does not save a configuration version or automatically populate the Web application. High-speed applications must provide file_url or file_base64. prompt is only used as an auxiliary instruction.
      operationId: recommendExtractionFields
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/AiRecommendRequest'
      responses:
        '200':
          $ref: '#/components/responses/AiRecommendResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/user/payment:
    post:
      tags: [Account]
      summary: Get credit usage
      description: Get current user credit usage by X-API-KEY.
      operationId: getUserPayment
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      responses:
        '200':
          $ref: '#/components/responses/UserPaymentResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_engine/laiye/v1/app/run:
    post:
      tags: [Workflow]
      summary: Run workflow application (sync)
      description: Run the published workflow application version synchronously and wait for the result.
      operationId: runWorkflowApp
      security:
        - EngineApiKeyAuth: []
      requestBody:
        $ref: '#/components/requestBodies/WorkflowRunRequest'
      responses:
        '200':
          $ref: '#/components/responses/WorkflowRunResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_engine/laiye/v1/app/run/create/task:
    post:
      tags: [Workflow]
      summary: Create workflow run task
      description: Trigger a workflow run asynchronously and return run_id immediately.
      operationId: createWorkflowRunTask
      security:
        - EngineApiKeyAuth: []
      requestBody:
        $ref: '#/components/requestBodies/WorkflowRunRequest'
      responses:
        '200':
          $ref: '#/components/responses/WorkflowRunResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_engine/laiye/v1/app/run/query/task/{run_id}:
    get:
      tags: [Workflow]
      summary: Query workflow run result
      description: Query workflow run status and result by run_id.
      operationId: queryWorkflowRunTask
      security:
        - EngineApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RunId'
      responses:
        '200':
          $ref: '#/components/responses/WorkflowRunResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_engine/laiye/files/upload:
    post:
      tags: [Workflow files]
      summary: Upload file
      description: Upload a file to engine storage and return the file ID and download URL.
      operationId: uploadWorkflowFile
      security:
        - EngineApiKeyAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FileUploadRequest'
      responses:
        '200':
          $ref: '#/components/responses/FileResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_engine/laiye/files/{file_id}:
    get:
      tags: [Workflow files]
      summary: Get file information
      description: Get file metadata by file ID.
      operationId: getWorkflowFile
      security:
        - EngineApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/FileId'
      responses:
        '200':
          $ref: '#/components/responses/FileResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_engine/laiye/files/{file_id}/delete:
    post:
      tags: [Workflow files]
      summary: Delete file
      description: Delete a file. This action cannot be undone.
      operationId: deleteWorkflowFile
      security:
        - EngineApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/FileId'
      responses:
        '200':
          $ref: '#/components/responses/FileDeleteResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
      description: Production OpenAPI Accessor access_key. You can find it in My API in the ADP platform. If the key is disabled, expired, or does not belong to the production environment, the API returns Accessor not found.
    EngineApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Workflow engine API access key.
  parameters:
    TenantName:
      name: tenant_name
      in: path
      required: true
      description: "Tenant name. Default: laiye."
      schema:
        type: string
        default: laiye
    TaskId:
      name: task_id
      in: path
      required: true
      description: Task ID.
      schema:
        type: string
    RunId:
      name: run_id
      in: path
      required: true
      description: Run ID.
      schema:
        type: string
    FileId:
      name: file_id
      in: path
      required: true
      description: File ID.
      schema:
        type: string
    AcceptLanguage:
      name: accept-language
      in: header
      required: false
      description: Field name language. Use zh for Chinese or en for English.
      schema:
        type: string
        enum: [zh, en]
        default: en
  examples:
    DocumentRecognitionFileBase64:
      summary: Use file Base64
      value:
        file_base64: &documentRecognitionFileBase64 data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAwICQsJCAwLCgsODQwOEh4UEhEREiUbHBYeLCcuLisnKyoxN0Y7MTRCNCorPVM+QkhKTk9OLztWXFVMW0ZNTkv/wAALCAA7AHQBAREA/8QAGwABAAIDAQEAAAAAAAAAAAAAAAQGAgMFAQf/xAAuEAACAgIBAwMDBQABBQAAAAABAgMEBREAEiExBhNBFCIyFVFhcYEWJDVTgqH/2gAIAQEAAD8A+q8cccccccccccccch5Wy1WoXjmghdmCq829Df7Ad2P7D55SK8sVk2BGuXVJpOtcjCLxE6kDThEHT1a7fC9gQNduSPUkyNRw0lCCTJwSFQiy3JVkmUeepCujvtsnvsga5iJJa7z/AE2ZkqT2VdmZET6eGRWSJY9NEW6V6lBOwNg+NnV1C2lsQgPG1cRkSFlPWz9tEa7a87/zm/lXoepppMxBWllrWK1lZSsleCRVQoN/m32yDW/GuQbl7JZOpg79hKqU7eQryRRoG9yNSdr1MTptjzoDX88lTZ/MJTyuQSKl9JjbMqNGQ3XLGh7kHelOv4Oz+3LWjB1DDwRscy444445wsb6ftUMfWqLn7/TXiWMdEUAGgNdgYydf2T/AGeZVfTsdenj4fe65qZTcxTRdVJOtb7dzxB6djSw4laJ6IrPWjrLERpHILdTFj1EkedDyedNagWeGRJplSGMxiLq2jb13O+5I12O/k83OodGRhtWGiP3HOJQ9L1qVilKLdyYUVaOvHK6lUQr09Ogo2NfJ79vPMIvSNSM1VFy8a9OdZ69cyr7cRB2APt2R8dydDxrkWl6WM5yAyE1qOCzelmaskq+3MhbaluxI2PIBG/kctXHHHHHIGbn9jGWOkzLJIjJG0MMkjKxB0dICR/euUeFJZ6KSQ5fISF4wVkSjlSrHXkMJdH+9f5yflslU9vCRWrWTidQTaaP6qJjHHHt2KABiCxX7iPG+/nmOSnjqi1If1qJoLkRSRGuvH9OChdydlD9vuf58cufvStYiEcIau8ZZpevRU9tDp133s9/jXN/Kj6VsVXsoLdzIDKu0rexZlnVGHU34q32HS68b1zz0vZqGdTcuZAZRmmcwWZZ1Rl6m/FW+w6XXjeuafTuYFp6ORyD5OOS8zGJmbVU7BIiC7+APyIBJXyfHPfTeXFyWhfvvk0lyDN7TM2qpJBIiC7+APyIGyvk+OXTjjjjmMiLIjIw2rAg99duVe76fsQKa2JrzCFYwkUj5u0ntnWh9g2ND9t83Zv0/cuU6sdSxB9RFVkryT2FZmkDR9PkHfkk7JOt70eY5j05NPTeCiZC9iJ45ZJ8nY6Y+oa2sfdW8nsdDsP87/tTCxEyTBa6IVaLo2WPbR6vjWj2/nm/nGTEW58jVt5K/HOKjM8McNf2gGKldsSzE9ifGuFw9ufI1rWSvx2FqMzwxQ1/aHUVK7YlmJ7E+Ncj0/TL13pwyXvdx1CQyVq/sgMp0QoZ9/cFDHXYfG989pemnrvThkvGXH0JDLWr+0AynRChn39wUMddh8b3ywcccccg52xLUwmQsQN0TQ1pJEbQOmCkg6P88rf6rT+j9z/nI932+rp96n+WvGvb55kM9kqmN9PWxbroLlcGf3Yk+9zGG3tpIwO/wCP98c575zOyYp7It2XdMabQapFXVVbcmi4cnY0o/D9vHL59QRYih9mVvcQuZQo6F1rsT+532/o838rctu/jM1RhnyX1i2RK88Hsqvsoqk9a67gbAX7id75Go5PKLHhMlatCSvlpFRqvtqFhDoWQqwGyRoA7J3v45KaxkKGex9aXJC4LfuNNAYVUQoqkh113A6tL9xO98h4L1GMjNDbnyhjWcO8dIV9RlACQBIR9zgAE6b9xr557SyeUEOFyVm2Hgy0gRqwiUCASIWQqdbJGgDsne/jm4/qNTPV6363aswxRNZtrJDCAI+4UfagOyd/PhTzTSyeUEOFyVm2Hgy0gRqwiUCASIWQqdbJGgDsne/jklEycPqKpSTNWrMaxme0ssMIAT8VG1QHZbfz4U8svIOdry28JkK8C9c01aSNF2BtipAGz/POfvPfQez+mY7ftdH/cH341/wCHX/3kOPCZOSLAxpZmomjTVZXUxMFfo6SACp2d+TvWh27nY5knpfIJjL8U0dq1O9YU6whtiMa05LvooCvU+ukhj28HfLtqyLMQURfTBD7hJPX1dta+Ned/5zcd6PTrfxvlZwOLzFIsL9XHSyWT/wBXaW1I0kn9AxjsPAXYAHPaGByMaYynblrNSxTdUDIW9yYqpWPqGtLoHvonZA8cen8bmKDk3auOllsHdu2tqRpJP6BjA0PAXYAHNdP05dWLHY6y9U43Gy+5G6FvdlADBVYa0vZu5BO9fG+bMfgchGMXTuS1mo4p+qF4y3uTdKlU6gRpdA99E7IHjnSx+Mkit5WxbKO12UdPST2iVAqqe3nfUf8A25zcfgchGMXTuS1mo4p+qF4y3uTdKlU6gRpdA99E7IHjnUxePlrX8nbssjSW5gU6CT0xKoCg9vO+o/7zpcccccccccccccccc//Z
        app_id: &documentRecognitionAppId ootb_k7m2x9p4v1n8w3q6r5t0y2b4
    DocumentRecognitionFileUrl:
      summary: Use file URL
      value:
        file_url: &documentRecognitionFileUrl https://adp.laiye.com/web/agentic_doc_processor/laiye/file/2003c711818811f1a36200163e358400
        app_id: *documentRecognitionAppId
  requestBodies:
    DocumentFileRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocumentFileRequest'
          examples:
            fileBase64:
              $ref: '#/components/examples/DocumentRecognitionFileBase64'
            fileUrl:
              $ref: '#/components/examples/DocumentRecognitionFileUrl'
    DocumentExtractRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocumentExtractRequest'
          examples:
            fileUrl:
              value:
                app_id: app_abc123
                file_url: https://adp.laiye.com/web/agentic_doc_processor/laiye/file/2003c711818811f1a36200163e358400
                with_rec_result: false
            fileBase64:
              value:
                app_id: app_abc123
                file_base64: JVBERi0xLjQKJcfs...
                with_rec_result: true
    AppIdRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AppIdRequest'
          examples:
            standardCustomExtractionApp:
              summary: Delete standard custom extraction application
              value:
                app_id: app_abc123
            highSpeedCustomExtractionApp:
              summary: Delete high-speed custom extraction application
              value:
                app_id: app_1425
    AppVersionDeleteRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AppVersionDeleteRequest'
          examples:
            highSpeedConfigVersion:
              summary: Delete high-speed custom extraction application configuration version
              value:
                app_id: app_1425
                config_version: v2
    ExtractionAppCreateRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExtractionAppCreateRequest'
          examples:
            standardCustomExtractionApp:
              summary: Create standard custom extraction application
              value:
                ai_function: 1406
                app_name: Purchase order extraction app
                app_label: [purchase-order]
                extract_fields:
                  - field_name: Order number
                    field_type: string
                    field_prompt: Extract the purchase order number.
                  - field_name: Order date
                    field_type: date
                    field_prompt: Extract the order date.
                parse_mode: standard
                enable_long_doc: false
            highSpeedCustomExtractionApp:
              summary: Create high-speed custom extraction application
              value:
                ai_function: 1425
                app_name: High-speed invoice extraction app
                app_label: [invoice, high-speed]
                extract_fields:
                  - field_key: invoice_no
                    field_name: Invoice number
                    field_type: string
                    field_prompt: Extract the unique invoice number from the invoice.
                  - field_key: invoice_date
                    field_name: Invoice date
                    field_type: date
                    field_prompt: Extract the invoice issue date.
                  - field_key: line_items
                    field_name: Line items
                    field_type: table
                    sub_fields:
                      - field_key: item_name
                        field_name: Item name
                        field_type: string
                      - field_key: item_date
                        field_name: Date
                        field_type: date
                enable_field_value_translation: false
    ExtractionAppUpdateRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExtractionAppUpdateRequest'
          examples:
            highSpeedCustomExtractionApp:
              summary: Update high-speed custom extraction application
              value:
                app_id: app_1425
                app_name: High-speed invoice extraction app (new version)
                config_version: v1
                app_label: [invoice, high-speed]
                extract_fields:
                  - field_key: invoice_no
                    field_name: Invoice number
                    field_type: string
                    field_prompt: Extract the unique invoice number from the invoice.
                  - field_key: invoice_date
                    field_name: Invoice date
                    field_type: date
                    field_prompt: Extract the invoice issue date.
                  - field_key: total_amount
                    field_name: Total amount
                    field_type: string
                    field_prompt: Extract the total amount including tax.
                  - field_key: line_items
                    field_name: Line items
                    field_type: table
                    sub_fields:
                      - field_key: item_name
                        field_name: Item name
                        field_type: string
                      - field_key: item_amount
                        field_name: Amount
                        field_type: string
                enable_field_value_translation: false
    AppConfigQueryRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AppConfigQueryRequest'
          examples:
            highSpeedConfig:
              summary: Get high-speed custom extraction application configuration
              value:
                app_id: app_1425
            highSpeedConfigVersion:
              summary: Get a specified high-speed configuration version
              value:
                app_id: app_1425
                config_version: v1
    AiRecommendRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AiRecommendRequest'
          examples:
            standardCustomExtractionApp:
              summary: Generate field prompts for a standard custom extraction application
              value:
                app_id: app_1406
                file_url: https://adp.laiye.com/web/agentic_doc_processor/laiye/file/2003c711818811f1a36200163e358400
                prompt: Extract the invoice number, invoice date, and total amount from the invoice.
            highSpeedCustomExtractionApp:
              summary: Generate a high-speed custom extraction configuration preview
              value:
                app_id: app_1425
                file_url: https://adp.laiye.com/web/agentic_doc_processor/laiye/file/2003c711818811f1a36200163e358400
                prompt: Generate field configuration based on the document layout. Use English snake_case field keys.
    WorkflowRunRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WorkflowRunRequest'
  responses:
    SimpleResponse:
      description: Common response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SimpleResponse'
          example:
            code: success
            message: success
    ValidationError:
      description: Validation error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SimpleResponse'
    TaskCreateResponse:
      description: Task creation result.
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/SimpleResponse'
              - type: object
                properties:
                  data:
                    type: object
                    properties:
                      task_id:
                        type: string
          example:
            code: success
            message: ''
            data:
              task_id: 94fe9b74e0e311f091505e345594c618
    DocumentExtractResponse:
      description: Document extraction result.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocumentExtractResponse'
          example:
            code: success
            message: ''
            data:
              task_id: 94fe9b74e0e311f091505e345594c618
              file_url: ''
              status: 4
              doc_recognize_result: []
              extraction_result: []
    DocumentRecognizeResponse:
      description: Document recognition result.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocumentRecognizeResponse'
          example:
            code: success
            message: ''
            data:
              task_id: 94fe9b74e0e311f091505e345594c618
              file_url: ''
              status: 4
              doc_recognize_result: []
    ExtractionAppResponse:
      description: Extraction application result.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExtractionAppResponse'
          example:
            code: success
            message: ''
            tips: null
            data:
              app_id: app_abc123
              app_name: High-speed invoice extraction app
              app_label: [invoice, high-speed]
              config_version: v1
    ExtractionAppDeleteResponse:
      description: Extraction application deletion result.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExtractionAppDeleteResponse'
          example:
            code: success
            message: ''
            tips: null
            data:
              success: true
              message: App deleted successfully
    ExtractionAppUpdateResponse:
      description: Extraction application update result.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExtractionAppUpdateResponse'
          example:
            code: success
            message: ''
            tips: null
            data:
              app_id: app_1425
              config_version: v2
    ExtractionAppVersionDeleteResponse:
      description: Extraction application configuration version deletion result.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExtractionAppVersionDeleteResponse'
          example:
            code: success
            message: ''
            tips: null
            data:
              success: true
              message: Version deleted successfully
    AppConfigResponse:
      description: Application configuration result.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AppConfigResponse'
    AiRecommendResponse:
      description: Field configuration generation result. High-speed applications return a configuration preview and do not save a configuration version.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AiRecommendResponse'
          examples:
            standardCustomExtractionApp:
              summary: Recommended fields for a standard custom extraction application
              value:
                code: success
                message: ''
                tips: null
                data:
                  app_id: app_1406
                  app_name: ''
                  extract_fields:
                    - field_name: Invoice number
                      field_type: string
                      field_prompt: Extract the unique identifier of the tax invoice.
                    - field_name: Invoice date
                      field_type: date
                      field_prompt: Extract the invoice issue date.
            highSpeedCustomExtractionApp:
              summary: Generated high-speed custom extraction configuration preview
              value:
                code: success
                message: ''
                tips: null
                data:
                  app_id: app_1425
                  app_name: High-speed invoice extraction app
                  ai_function: 1425
                  extract_fields:
                    - field_key: invoice_number
                      field_name: Invoice number
                      field_type: string
                      field_prompt: Unique identifier of the tax invoice.
                      field_description: Unique identifier of the tax invoice.
                    - field_key: invoice_date
                      field_name: Invoice date
                      field_type: date
                      field_prompt: Invoice issue date.
                      field_description: Invoice issue date.
                  prompt_rule: Extract only fields that clearly appear in the document.
                  common_rule: Extract only fields that clearly appear in the document.
                  field_rule:
                    - field_key: invoice_number
                      field_name: Invoice number
                      field_type: string
                      field_description: Unique identifier of the tax invoice.
                    - field_key: invoice_date
                      field_name: Invoice date
                      field_type: date
                      field_description: Invoice issue date.
                  table_rule:
                    - field_key: line_items
                      field_name: Line items
                      field_type: table
                      field_description: Invoice line item table.
                      field_parent_id: ''
                    - field_key: item_name
                      field_name: Item name
                      field_type: string
                      field_description: Product or service name in the line item.
                      field_parent_id: line_items
                    - field_key: item_amount
                      field_name: Amount
                      field_type: string
                      field_description: Line item amount.
                      field_parent_id: line_items
                  page_count: 2
                  document_type: invoice
    AppListResponse:
      description: Application list.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AppListResponse'
          example:
            code: success
            message: ''
            tips: null
            data:
              list:
                - id: app_1425
                  app_name: High-speed invoice extraction app
                  ai_function: 1425
                  app_label: [invoice, high-speed]
              total: 1
    UserPaymentResponse:
      description: Credit usage.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UserPaymentResponse'
    WorkflowRunResponse:
      description: Workflow run result.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WorkflowRunResponse'
    FileResponse:
      description: File information.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FileResponse'
    FileDeleteResponse:
      description: File deletion result.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FileDeleteResponse'
  schemas:
    SimpleResponse:
      type: object
      properties:
        code:
          oneOf:
            - type: string
            - type: integer
          description: Business code. A successful response is usually success or 200.
        message:
          type: string
          description: Response message.
        tips:
          type:
            - string
            - 'null'
          description: Details. Defaults to null.
    DocumentFileRequest:
      oneOf:
        - title: Use file Base64
          type: object
          additionalProperties: false
          properties:
            app_id:
              default: *documentRecognitionAppId
              type: string
              description: Unique application ID.
            file_base64:
              default: *documentRecognitionFileBase64
              type: string
              description: Base64-encoded file. Use either file_base64 or file_url.
          required: [app_id, file_base64]
          not:
            required: [file_url]
        - title: Use file URL
          type: object
          additionalProperties: false
          properties:
            app_id:
              default: *documentRecognitionAppId
              type: string
              description: Unique application ID.
            file_url:
              default: *documentRecognitionFileUrl
              type: string
              format: uri
              description: File URL. Use either file_url or file_base64.
          required: [app_id, file_url]
          not:
            required: [file_base64]
    DocumentExtractRequest:
      oneOf:
        - title: Use file Base64
          type: object
          additionalProperties: false
          properties:
            app_id:
              default: app_abc123
              type: string
              description: Unique application ID.
            file_base64:
              default: JVBERi0xLjQKJcfs...
              type: string
              description: Base64-encoded file. Use either file_base64 or file_url.
            with_rec_result:
              type: boolean
              description: Whether to return document recognition results. High-speed extraction does not return recognition results.
              default: false
          required: [app_id, file_base64]
        - title: Use file URL
          type: object
          additionalProperties: false
          properties:
            app_id:
              default: app_abc123
              type: string
              description: Unique application ID.
            file_url:
              default: *documentRecognitionFileUrl
              type: string
              format: uri
              description: File URL. Use either file_url or file_base64.
            with_rec_result:
              type: boolean
              description: Whether to return document recognition results. High-speed extraction does not return recognition results.
              default: false
          required: [app_id, file_url]
    TaskCreateResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                task_id:
                  type: string
    DocumentExtractResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              additionalProperties: true
    DocumentRecognizeResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              additionalProperties: true
    ExtractionFieldConfig:
      type: object
      additionalProperties: false
      properties:
        field_key:
          type: string
          pattern: '^[A-Za-z][A-Za-z0-9_]{0,63}$'
          description: Unique field identifier. Required when you create a high-speed custom extraction application. Standard applications do not require this field.
        field_name:
          type: string
          minLength: 1
          maxLength: 50
          description: Field name.
        field_type:
          type: string
          enum: [string, date, table]
          description: Field type. Use table for table fields.
        field_prompt:
          type: string
          description: Field extraction prompt.
        sub_fields:
          type: array
          description: Table sub-fields. When field_type is table, provide at least one valid sub-field.
          items:
            $ref: '#/components/schemas/ExtractionSubFieldConfig'
      required: [field_name, field_type]
    ExtractionSubFieldConfig:
      type: object
      additionalProperties: false
      properties:
        field_key:
          type: string
          pattern: '^[A-Za-z][A-Za-z0-9_]{0,63}$'
          description: Unique sub-field identifier. Required when you create a high-speed custom extraction application. Standard applications do not require this field.
        field_name:
          type: string
          minLength: 1
          maxLength: 50
          description: Sub-field name.
        field_type:
          type: string
          enum: [string, date]
          description: Sub-field type. Nested tables are not supported inside a table.
        field_prompt:
          type: string
          description: Sub-field extraction prompt.
      required: [field_name, field_type]
    LongDocConfig:
      type: object
      additionalProperties: false
      properties:
        doc_type:
          type: string
          description: Document type.
        doc_desc:
          type: string
          description: Document type description.
      required: [doc_type]
    ExtractionAppCreateRequest:
      description: Set ai_function first. Use the standard custom extraction application parameters when ai_function is 1406. Use the high-speed custom extraction application parameters when ai_function is 1425.
      discriminator:
        propertyName: ai_function
        mapping:
          '1406': '#/components/schemas/StandardExtractionAppCreateRequest'
          '1425': '#/components/schemas/HighSpeedExtractionAppCreateRequest'
      oneOf:
        - $ref: '#/components/schemas/StandardExtractionAppCreateRequest'
        - $ref: '#/components/schemas/HighSpeedExtractionAppCreateRequest'
    StandardExtractionAppCreateRequest:
      type: object
      additionalProperties: false
      title: Create standard custom extraction application
      properties:
        ai_function:
          type: integer
          enum: [1406]
          default: 1406
          description: Application type. Use 1406 to create a standard custom extraction application. If omitted, the API handles the request as 1406 by default.
        app_name:
          type: string
          minLength: 1
          maxLength: 100
          description: Application name.
        app_label:
          type: array
          maxItems: 5
          description: Application labels. Up to 5 labels.
          items:
            type: string
        extract_fields:
          type: array
          maxItems: 20
          description: Extraction field configuration list. Up to 20 fields.
          items:
            $ref: '#/components/schemas/ExtractionFieldConfig'
        parse_mode:
          type: string
          enum: [standard, advance, agentic, fast_vlm]
          description: Parsing mode. Required for standard custom extraction applications.
        enable_field_value_translation:
          type: boolean
          default: false
          description: Whether to enable extracted value translation. Disabled by default.
        enable_long_doc:
          type: boolean
          default: false
          description: Whether to enable long document support.
        long_doc_config:
          type: array
          maxItems: 5
          description: Long document configuration. Used only when enable_long_doc is true.
          items:
            $ref: '#/components/schemas/LongDocConfig'
      required: [ai_function, app_name, extract_fields, parse_mode]
    HighSpeedExtractionAppCreateRequest:
      type: object
      additionalProperties: false
      title: Create high-speed extraction application
      properties:
        ai_function:
          type: integer
          enum: [1425]
          default: 1425
          description: Application type. Use 1425 to create a high-speed custom extraction application.
        app_name:
          type: string
          minLength: 1
          maxLength: 100
          description: Application name.
        app_label:
          type: array
          maxItems: 5
          description: Application labels. Up to 5 labels.
          items:
            type: string
        extract_fields:
          type: array
          minItems: 1
          maxItems: 20
          description: High-speed extraction field configuration list. Up to 20 fields. Every field must provide field_key.
          items:
            $ref: '#/components/schemas/HighSpeedExtractionFieldConfig'
        enable_field_value_translation:
          type: boolean
          default: false
          description: Whether to enable extracted value translation. Disabled by default.
      required: [ai_function, app_name, extract_fields]
    HighSpeedExtractionFieldConfig:
      type: object
      additionalProperties: false
      title: High-speed field
      description: High-speed field configuration. For ordinary fields, set field_type to string or date and do not pass sub_fields. For table fields, set field_type to table and pass sub_fields.
      properties:
        field_key:
          type: string
          pattern: '^[A-Za-z][A-Za-z0-9_]{0,63}$'
          description: Unique field identifier. It must start with an English letter and can contain only English letters, numbers, and underscores. Maximum 64 characters.
        field_name:
          type: string
          minLength: 1
          maxLength: 50
          description: Field name.
        field_type:
          type: string
          enum: [string, date, table]
          description: Field type. Use string or date for ordinary fields. Use table for table fields.
        field_prompt:
          type: string
          maxLength: 200
          description: Field extraction prompt.
        sub_fields:
          type: array
          maxItems: 50
          description: Table sub-fields. Fill this only when field_type is table, and provide at least one valid sub-field. Do not pass this parameter for ordinary fields.
          items:
            $ref: '#/components/schemas/HighSpeedExtractionSubFieldConfig'
          examples:
            - - field_key: item_name
                field_name: Item name
                field_type: string
      required: [field_key, field_name, field_type]
      allOf:
        - if:
            properties:
              field_type:
                const: table
            required: [field_type]
          then:
            required: [sub_fields]
            properties:
              sub_fields:
                minItems: 1
    HighSpeedExtractionSubFieldConfig:
      type: object
      additionalProperties: false
      properties:
        field_key:
          type: string
          pattern: '^[A-Za-z][A-Za-z0-9_]{0,63}$'
          description: Unique sub-field identifier. It must start with an English letter and can contain only English letters, numbers, and underscores. Maximum 64 characters.
        field_name:
          type: string
          minLength: 1
          maxLength: 50
          description: Sub-field name.
        field_type:
          type: string
          enum: [string, date]
          description: Sub-field type. Nested tables are not supported inside a table.
        field_prompt:
          type: string
          maxLength: 200
          description: Sub-field extraction prompt.
      required: [field_key, field_name, field_type]
    ExtractionAppUpdateRequest:
      oneOf:
        - $ref: '#/components/schemas/StandardExtractionAppUpdateRequest'
        - $ref: '#/components/schemas/HighSpeedExtractionAppUpdateRequest'
    StandardExtractionAppUpdateRequest:
      type: object
      additionalProperties: false
      title: Update standard custom extraction application
      properties:
        app_id:
          type: string
          description: Application ID.
        app_name:
          type: string
          description: Application name. If omitted or passed as an empty string, the name is not updated.
        config_version:
          type: string
          description: Current configuration version. The update is saved as a new version.
        app_label:
          type: array
          maxItems: 5
          description: Application labels. Up to 5 labels.
          items:
            type: string
        extract_fields:
          type: array
          maxItems: 20
          description: Extraction field configuration list. Up to 20 fields.
          items:
            $ref: '#/components/schemas/ExtractionFieldConfig'
        parse_mode:
          type: string
          enum: [standard, advance, agentic, fast_vlm]
          description: Parsing mode. Required for standard custom extraction applications. High-speed custom extraction applications do not support setting this parameter.
        enable_field_value_translation:
          type: boolean
          default: false
          description: Whether to enable extracted value translation. Disabled by default.
        enable_long_doc:
          type: boolean
          default: false
          description: Whether to enable long document support. Standard custom extraction applications support this parameter. High-speed custom extraction applications do not support setting this parameter.
        long_doc_config:
          type: array
          maxItems: 5
          description: Long document configuration. Used only when enable_long_doc is true.
          items:
            $ref: '#/components/schemas/LongDocConfig'
      required: [app_id, config_version, extract_fields, parse_mode]
    HighSpeedExtractionAppUpdateRequest:
      type: object
      additionalProperties: false
      title: Update high-speed extraction application
      properties:
        app_id:
          type: string
          description: High-speed custom extraction application ID.
        app_name:
          type: string
          description: Application name. If omitted or passed as an empty string, the name is not updated.
        config_version:
          type: string
          description: Current configuration version. The update is saved as a new version.
        app_label:
          type: array
          maxItems: 5
          description: Application labels. Up to 5 labels.
          items:
            type: string
        extract_fields:
          type: array
          minItems: 1
          maxItems: 20
          description: High-speed extraction field configuration list. Up to 20 fields. Every field must provide field_key.
          items:
            $ref: '#/components/schemas/HighSpeedExtractionFieldConfig'
        enable_field_value_translation:
          type: boolean
          default: false
          description: Whether to enable extracted value translation. Disabled by default.
      required: [app_id, config_version, extract_fields]
    AppIdRequest:
      type: object
      additionalProperties: false
      properties:
        app_id:
          type: string
          description: Application ID. To delete a high-speed custom extraction application, pass the app_id of the high-speed application.
      required: [app_id]
    AppVersionDeleteRequest:
      type: object
      additionalProperties: false
      properties:
        app_id:
          type: string
          description: Application ID. To delete a high-speed custom extraction application configuration, pass the app_id of the high-speed application.
        config_version:
          type: string
          description: Configuration version to delete.
      required: [app_id, config_version]
    AppConfigQueryRequest:
      type: object
      additionalProperties: false
      properties:
        app_id:
          type: string
          description: Application ID. To query a high-speed custom extraction application configuration, pass the app_id of the high-speed application.
        config_version:
          type: string
          description: Configuration version. Optional. Defaults to the latest version.
      required: [app_id]
    AiRecommendRequest:
      type: object
      additionalProperties: false
      description: Field configuration generation request. The request body must provide file_url or file_base64. prompt can be used as an auxiliary generation instruction.
      properties:
        app_id:
          type: string
          description: Application ID. When you pass a high-speed custom extraction application, the response returns a high-speed auto-configuration preview.
        file_base64:
          type: string
          description: Base64-encoded file. Required for high-speed applications if file_url is not provided.
        file_url:
          type: string
          format: uri
          description: File URL. Required for high-speed applications if file_base64 is not provided.
        prompt:
          type: string
          description: User-provided generation instruction. Provide a file as well, and use prompt only as an auxiliary instruction.
        doc_type:
          type: string
          description: Document type. You can provide this for standard application recommendations. High-speed applications detect the document type automatically.
        doc_type_description:
          type: string
          description: Document type description. You can provide this for standard application recommendations.
      required: [app_id]
      anyOf:
        - required: [file_base64]
        - required: [file_url]
    ExtractionAppResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/AppConfigData'
    ExtractionAppDeleteResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                success:
                  type: boolean
                  description: Whether deletion succeeded.
                message:
                  type: string
                  description: Operation message.
    ExtractionAppUpdateResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                app_id:
                  type: string
                  description: Application ID.
                config_version:
                  type: string
                  description: New configuration version.
    ExtractionAppVersionDeleteResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                success:
                  type: boolean
                  description: Whether deletion succeeded.
                message:
                  type: string
                  description: Operation message.
    AppListResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                list:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                total:
                  type: integer
    AppConfigResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/AppConfigData'
    AppConfigData:
      type: object
      additionalProperties: true
      properties:
        app_id:
          type: string
        app_name:
          type: string
        app_label:
          type: array
          items:
            type: string
        config_version:
          type: string
        extract_fields:
          type: array
          items:
            $ref: '#/components/schemas/ExtractionFieldConfig'
        parse_mode:
          type: string
        enable_long_doc:
          type: boolean
        long_doc_config:
          type: array
          items:
            $ref: '#/components/schemas/LongDocConfig'
    AiRecommendResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/AiRecommendData'
    AiRecommendData:
      type: object
      additionalProperties: true
      properties:
        app_id:
          type: string
          description: Application ID.
        app_name:
          type: string
          description: Application name.
        ai_function:
          type: integer
          enum: [1406, 1425]
          description: Application type. 1406 means standard custom extraction. 1425 means high-speed custom extraction.
        extract_fields:
          type: array
          description: Compatibility field list. Standard applications return recommended fields. High-speed applications currently return an ordinary field preview here. Use field_rule and table_rule for the full configuration.
          items:
            $ref: '#/components/schemas/AiRecommendFieldConfig'
        prompt_rule:
          type: string
          description: Overall rule for high-speed auto-configuration. Compatibility field.
        common_rule:
          type: string
          description: Overall rule for high-speed auto-configuration.
        field_rule:
          type: array
          description: Ordinary field configuration preview generated for high-speed applications. This field is not automatically saved to the application configuration.
          items:
            $ref: '#/components/schemas/AiRecommendGeneratedRuleField'
        table_rule:
          type: array
          description: Table field configuration preview generated for high-speed applications. This uses a flat structure. Records whose field_parent_id is empty are table parent fields. Records whose field_parent_id points to a parent field_key are table sub-fields.
          items:
            $ref: '#/components/schemas/AiRecommendGeneratedRuleField'
        page_count:
          type: integer
          description: Number of pages used for high-speed auto-configuration.
        document_type:
          type: string
          description: Document type detected automatically by the high-speed service.
    AiRecommendFieldConfig:
      type: object
      additionalProperties: true
      properties:
        field_key:
          type: string
          description: Unique field identifier. Returned for high-speed auto-configuration.
        field_name:
          type: string
          description: Field name.
        field_type:
          type: string
          enum: [string, date, table]
          description: Field type.
        field_prompt:
          type:
            - string
            - 'null'
          description: Field prompt.
        field_description:
          type:
            - string
            - 'null'
          description: Field description.
        sub_fields:
          type: array
          description: Table sub-field list. Standard table fields may return this field. For high-speed table fields, use table_rule.
          items:
            $ref: '#/components/schemas/AiRecommendSubFieldConfig'
      required: [field_name, field_type]
    AiRecommendSubFieldConfig:
      type: object
      additionalProperties: true
      properties:
        field_key:
          type: string
          description: Unique sub-field identifier.
        field_name:
          type: string
          description: Sub-field name.
        field_type:
          type: string
          enum: [string, date]
          description: Sub-field type.
        field_prompt:
          type:
            - string
            - 'null'
          description: Sub-field prompt.
        field_description:
          type:
            - string
            - 'null'
          description: Sub-field description.
      required: [field_name, field_type]
    AiRecommendGeneratedRuleField:
      type: object
      additionalProperties: true
      properties:
        field_key:
          type: string
          description: Unique field identifier. A table sub-field's field_parent_id references the table parent field's field_key.
        field_name:
          type: string
          description: Field name.
        field_type:
          type: string
          enum: [string, date, table]
          description: Field type. table means a table parent field.
        field_description:
          type: string
          description: Field description.
        field_parent_id:
          type: string
          description: Parent field_key for a table sub-field. Empty means an ordinary field or a table parent field.
        config:
          type: object
          additionalProperties: true
          description: Field extension configuration.
        source:
          type: integer
          description: Field source.
        _field_key_source:
          type: string
          description: Original field key generated by the model. Returned only when the service keeps debug information.
    UserPaymentResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                total_credits:
                  type: number
                used_credits:
                  type: number
                expired_credits:
                  type: number
                remaining_credits:
                  type: number
    WorkflowRunRequest:
      type: object
      additionalProperties: false
      properties:
        application_id:
          type: string
        release_version_id:
          type: string
        session_id:
          type: string
        files:
          type: array
          items:
            type: object
            additionalProperties: false
            properties:
              url:
                type: string
              name:
                type: string
              mime_type:
                type: string
              size:
                type: integer
            required: [url, name, mime_type]
        inputs:
          type: object
          additionalProperties: false
          properties:
            query:
              type: string
              description: Example workflow input. Actual fields depend on the workflow input configuration.
      required: [application_id]
    WorkflowRunResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              additionalProperties: true
    FileUploadRequest:
      type: object
      additionalProperties: false
      properties:
        chunk:
          type: string
          format: binary
        application_id:
          type: string
        sharing_scope:
          type: string
          enum: [user, application]
      required: [chunk]
    FileResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              additionalProperties: true
    FileDeleteResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                id:
                  type: string
