openapi: 3.1.0
info:
  title: Global Invoices and receipts
  version: 1.0.0
  description: ADP preset application APIs for extracting Global Invoices and receipts.
  license:
    name: MIT
    identifier: MIT
servers:
  - url: https://adp-global.laiye.com
    description: ADP global production endpoint
tags:
  - name: Global Invoices and receipts extraction
    description: Extract fields from Global Invoices and receipts.
paths:
  /open/agentic_doc_processor/{tenant_name}/v1/app/doc/extract:
    post:
      tags: [Global Invoices and receipts extraction]
      summary: Extract Global Invoices and receipts (sync)
      description: Extract fields from Global Invoices and receipts. Returned fields depend on the preset application configuration.
      operationId: extractOverseasDocuments
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        $ref: '#/components/requestBodies/DocumentExtractRequest'
      responses:
        '200':
          $ref: '#/components/responses/DocumentExtractResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app/doc/extract/create/task:
    post:
      tags: [Global Invoices and receipts extraction]
      summary: Create Global Invoices and receipts extraction task
      description: Create an async extraction task for Global Invoices or receipts.
      operationId: createOverseasDocumentExtractTask
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        $ref: '#/components/requestBodies/DocumentExtractRequest'
      responses:
        '200':
          $ref: '#/components/responses/TaskCreateResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app/doc/extract/query/task/{task_id}:
    get:
      tags: [Global Invoices and receipts extraction]
      summary: Query Global Invoices and receipts extraction result
      description: Query async extraction results for Global Invoices or receipts.
      operationId: queryOverseasDocumentExtractTask
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - $ref: '#/components/parameters/TaskId'
      responses:
        '200':
          $ref: '#/components/responses/DocumentExtractResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
  parameters:
    TenantName:
      name: tenant_name
      in: path
      required: true
      description: "Tenant name. Default: laiye."
      schema:
        type: string
        default: laiye
    TaskId:
      name: task_id
      in: path
      required: true
      description: Task ID.
      schema:
        type: string
    AcceptLanguage:
      name: accept-language
      in: header
      required: false
      description: Field name language. Use zh for Chinese or en for English.
      schema:
        type: string
        enum: [zh, en]
        default: en
  examples:
    OverseasDocumentsFileBase64:
      summary: Use file Base64
      value:
        file_base64: &overseasDocumentsFileBase64 data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAwICQsJCAwLCgsODQwOEh4UEhEREiUbHBYeLCcuLisnKyoxN0Y7MTRCNCorPVM+QkhKTk9OLztWXFVMW0ZNTkv/wAALCAA7AHQBAREA/8QAGwABAAIDAQEAAAAAAAAAAAAAAAQGAgMFAQf/xAAuEAACAgIBAwMDBQABBQAAAAABAgMEBREAEiExBhNBFCIyFVFhcYEWJDVTgqH/2gAIAQEAAD8A+q8cccccccccccccch5Wy1WoXjmghdmCq829Df7Ad2P7D55SK8sVk2BGuXVJpOtcjCLxE6kDThEHT1a7fC9gQNduSPUkyNRw0lCCTJwSFQiy3JVkmUeepCujvtsnvsga5iJJa7z/AE2ZkqT2VdmZET6eGRWSJY9NEW6V6lBOwNg+NnV1C2lsQgPG1cRkSFlPWz9tEa7a87/zm/lXoepppMxBWllrWK1lZSsleCRVQoN/m32yDW/GuQbl7JZOpg79hKqU7eQryRRoG9yNSdr1MTptjzoDX88lTZ/MJTyuQSKl9JjbMqNGQ3XLGh7kHelOv4Oz+3LWjB1DDwRscy444445wsb6ftUMfWqLn7/TXiWMdEUAGgNdgYydf2T/AGeZVfTsdenj4fe65qZTcxTRdVJOtb7dzxB6djSw4laJ6IrPWjrLERpHILdTFj1EkedDyedNagWeGRJplSGMxiLq2jb13O+5I12O/k83OodGRhtWGiP3HOJQ9L1qVilKLdyYUVaOvHK6lUQr09Ogo2NfJ79vPMIvSNSM1VFy8a9OdZ69cyr7cRB2APt2R8dydDxrkWl6WM5yAyE1qOCzelmaskq+3MhbaluxI2PIBG/kctXHHHHHIGbn9jGWOkzLJIjJG0MMkjKxB0dICR/euUeFJZ6KSQ5fISF4wVkSjlSrHXkMJdH+9f5yflslU9vCRWrWTidQTaaP6qJjHHHt2KABiCxX7iPG+/nmOSnjqi1If1qJoLkRSRGuvH9OChdydlD9vuf58cufvStYiEcIau8ZZpevRU9tDp133s9/jXN/Kj6VsVXsoLdzIDKu0rexZlnVGHU34q32HS68b1zz0vZqGdTcuZAZRmmcwWZZ1Rl6m/FW+w6XXjeuafTuYFp6ORyD5OOS8zGJmbVU7BIiC7+APyIBJXyfHPfTeXFyWhfvvk0lyDN7TM2qpJBIiC7+APyIGyvk+OXTjjjjmMiLIjIw2rAg99duVe76fsQKa2JrzCFYwkUj5u0ntnWh9g2ND9t83Zv0/cuU6sdSxB9RFVkryT2FZmkDR9PkHfkk7JOt70eY5j05NPTeCiZC9iJ45ZJ8nY6Y+oa2sfdW8nsdDsP87/tTCxEyTBa6IVaLo2WPbR6vjWj2/nm/nGTEW58jVt5K/HOKjM8McNf2gGKldsSzE9ifGuFw9ufI1rWSvx2FqMzwxQ1/aHUVK7YlmJ7E+Ncj0/TL13pwyXvdx1CQyVq/sgMp0QoZ9/cFDHXYfG989pemnrvThkvGXH0JDLWr+0AynRChn39wUMddh8b3ywcccccg52xLUwmQsQN0TQ1pJEbQOmCkg6P88rf6rT+j9z/nI932+rp96n+WvGvb55kM9kqmN9PWxbroLlcGf3Yk+9zGG3tpIwO/wCP98c575zOyYp7It2XdMabQapFXVVbcmi4cnY0o/D9vHL59QRYih9mVvcQuZQo6F1rsT+532/o838rctu/jM1RhnyX1i2RK88Hsqvsoqk9a67gbAX7id75Go5PKLHhMlatCSvlpFRqvtqFhDoWQqwGyRoA7J3v45KaxkKGex9aXJC4LfuNNAYVUQoqkh113A6tL9xO98h4L1GMjNDbnyhjWcO8dIV9RlACQBIR9zgAE6b9xr557SyeUEOFyVm2Hgy0gRqwiUCASIWQqdbJGgDsne/jm4/qNTPV6363aswxRNZtrJDCAI+4UfagOyd/PhTzTSyeUEOFyVm2Hgy0gRqwiUCASIWQqdbJGgDsne/jklEycPqKpSTNWrMaxme0ssMIAT8VG1QHZbfz4U8svIOdry28JkK8C9c01aSNF2BtipAGz/POfvPfQez+mY7ftdH/cH341/wCHX/3kOPCZOSLAxpZmomjTVZXUxMFfo6SACp2d+TvWh27nY5knpfIJjL8U0dq1O9YU6whtiMa05LvooCvU+ukhj28HfLtqyLMQURfTBD7hJPX1dta+Ned/5zcd6PTrfxvlZwOLzFIsL9XHSyWT/wBXaW1I0kn9AxjsPAXYAHPaGByMaYynblrNSxTdUDIW9yYqpWPqGtLoHvonZA8cen8bmKDk3auOllsHdu2tqRpJP6BjA0PAXYAHNdP05dWLHY6y9U43Gy+5G6FvdlADBVYa0vZu5BO9fG+bMfgchGMXTuS1mo4p+qF4y3uTdKlU6gRpdA99E7IHjnSx+Mkit5WxbKO12UdPST2iVAqqe3nfUf8A25zcfgchGMXTuS1mo4p+qF4y3uTdKlU6gRpdA99E7IHjnUxePlrX8nbssjSW5gU6CT0xKoCg9vO+o/7zpcccccccccccccccc//Z
        app_id: ootb_r3s6t9u2v5w8x1y4z7a0b3c6d9e2
        enable_multi_ticket: true
        enable_field_value_translation: false
    OverseasDocumentsFileUrl:
      summary: Use file URL
      value:
        file_url: &overseasDocumentsFileUrl https://adp.laiye.com/web/agentic_doc_processor/laiye/file/2003c711818811f1a36200163e358400
        app_id: ootb_r3s6t9u2v5w8x1y4z7a0b3c6d9e2
        enable_multi_ticket: true
        enable_field_value_translation: false
  requestBodies:
    DocumentExtractRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocumentExtractRequest'
          examples:
            fileUrl:
              $ref: '#/components/examples/OverseasDocumentsFileUrl'
            fileBase64:
              $ref: '#/components/examples/OverseasDocumentsFileBase64'
  responses:
    DocumentExtractResponse:
      description: Extraction result.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocumentExtractResponse'
    TaskCreateResponse:
      description: Task creation result.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TaskCreateResponse'
    ValidationError:
      description: Validation error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HTTPValidationError'
  schemas:
    DocumentExtractRequest:
      oneOf:
        - title: Use file URL
          type: object
          additionalProperties: false
          properties:
            file_url:
              default: *overseasDocumentsFileUrl
              type: string
              format: uri
              description: File URL. Use either file_url or file_base64.
            file_name:
              type: string
              description: File name. Provide it for Base64 input or when the name cannot be determined from the URL.
            enable_multi_ticket:
              type: boolean
              default: true
              description: Whether to split multiple invoices or receipts in one file into separate results. Only the high-speed (global) and Southeast Asia versions support this option. It applies only to the current request and does not modify the application configuration.
            enable_field_value_translation:
              type: [boolean, 'null']
              description: Whether to enable field-value translation for the current request. If omitted or null, the saved application setting is used. This option does not modify the application configuration. The accept-language header determines the target language.
            app_id:
              type: string
              enum:
                - ootb_r3s6t9u2v5w8x1y4z7a0b3c6d9e2
                - ootb_u2v5w8x1y4z7a0b3c6d9e2f5g8
                - ootb_a3f8h1j5k9n2p7q4w6x0y3b5c8d1
              x-enumNames:
                - High-speed (global)
                - Southeast Asia
                - Standard
              x-enumDescriptions:
                - High-speed for global invoices and receipts (default)
                - Southeast Asia version with additional withholding tax fields
                - Standard
              default: ootb_r3s6t9u2v5w8x1y4z7a0b3c6d9e2
              description: "Preset application ID. High-speed (global, default): ootb_r3s6t9u2v5w8x1y4z7a0b3c6d9e2; Southeast Asia: ootb_u2v5w8x1y4z7a0b3c6d9e2f5g8; Standard: ootb_a3f8h1j5k9n2p7q4w6x0y3b5c8d1."
          required: [app_id, file_url]
        - title: Use file Base64
          type: object
          additionalProperties: false
          properties:
            file_base64:
              default: *overseasDocumentsFileBase64
              type: string
              description: Base64-encoded file. Use either file_base64 or file_url.
            file_name:
              type: string
              description: File name. Provide it for Base64 input or when the name cannot be determined from the URL.
            enable_multi_ticket:
              type: boolean
              default: true
              description: Whether to split multiple invoices or receipts in one file into separate results. Only the high-speed (global) and Southeast Asia versions support this option. It applies only to the current request and does not modify the application configuration.
            enable_field_value_translation:
              type: [boolean, 'null']
              description: Whether to enable field-value translation for the current request. If omitted or null, the saved application setting is used. This option does not modify the application configuration. The accept-language header determines the target language.
            app_id:
              type: string
              enum:
                - ootb_r3s6t9u2v5w8x1y4z7a0b3c6d9e2
                - ootb_u2v5w8x1y4z7a0b3c6d9e2f5g8
                - ootb_a3f8h1j5k9n2p7q4w6x0y3b5c8d1
              x-enumNames:
                - High-speed (global)
                - Southeast Asia
                - Standard
              x-enumDescriptions:
                - High-speed for global invoices and receipts (default)
                - Southeast Asia version with additional withholding tax fields
                - Standard
              default: ootb_r3s6t9u2v5w8x1y4z7a0b3c6d9e2
              description: "Preset application ID. High-speed (global, default): ootb_r3s6t9u2v5w8x1y4z7a0b3c6d9e2; Southeast Asia: ootb_u2v5w8x1y4z7a0b3c6d9e2f5g8; Standard: ootb_a3f8h1j5k9n2p7q4w6x0y3b5c8d1."
          required: [app_id, file_base64]
    SimpleResponse:
      type: object
      properties:
        code:
          oneOf:
            - type: string
            - type: integer
        message:
          type: string
        tips:
          type:
            - string
            - 'null'
    HTTPValidationError:
      type: object
      properties:
        detail:
          type: array
          items:
            $ref: '#/components/schemas/ValidationErrorItem'
      required: [detail]
    ValidationErrorItem:
      type: object
      additionalProperties: true
      properties:
        type:
          type: string
        loc:
          type: array
          items:
            oneOf:
              - type: string
              - type: integer
        msg:
          type: string
        input: {}
        ctx:
          type: object
          additionalProperties: true
      required: [type, loc, msg]
    TaskCreateResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                task_id:
                  type: string
                metadata:
                  type: object
                  additionalProperties: true
                  description: Document processing task metadata.
    DocumentExtractResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              additionalProperties: true
              properties:
                task_id:
                  type: string
                file_url:
                  type: string
                status:
                  type: integer
                  enum: [0, 1, 2, 4, 5, 6]
                  description: 0=unknown, 1=ready, 2=running, 4=succeeded, 5=failed, 6=canceled or rejected.
                message:
                  type: string
                  description: Task status or processing result message.
                extract_config_version:
                  type: string
                  description: Extraction configuration version used for this request.
                metadata:
                  type: [object, 'null']
                  additionalProperties: true
                  description: Document processing task metadata.
                aigc:
                  type: [object, 'null']
                  additionalProperties: true
                  description: AI-generated content compliance label.
                doc_recognize_result:
                  type: array
                  description: Document parsing results.
                  items:
                    type: object
                    additionalProperties: true
                extraction_result:
                  type: array
                  description: Document field extraction results.
                  items:
                    type: object
                    additionalProperties: true
                classify_result:
                  type: object
                  description: Document classification result.
                  additionalProperties: true
