openapi: 3.1.0
info:
  title: Purchase orders
  version: 1.0.0
  description: ADP preset application APIs for extracting purchase orders.
  license:
    name: MIT
    identifier: MIT
servers:
  - url: https://adp-global.laiye.com
    description: ADP global production endpoint
tags:
  - name: Purchase order extraction
    description: Extract fields from purchase orders.
paths:
  /open/agentic_doc_processor/{tenant_name}/v1/app/doc/extract:
    post:
      tags: [Purchase order extraction]
      summary: Extract purchase order (sync)
      description: Extract fields from purchase orders. Returned fields depend on the preset application configuration.
      operationId: extractPurchaseOrder
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        $ref: '#/components/requestBodies/DocumentExtractRequest'
      responses:
        '200':
          $ref: '#/components/responses/DocumentExtractResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app/doc/extract/create/task:
    post:
      tags: [Purchase order extraction]
      summary: Create purchase order extraction task
      description: Create an async extraction task for a purchase order.
      operationId: createPurchaseOrderExtractTask
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        $ref: '#/components/requestBodies/DocumentExtractRequest'
      responses:
        '200':
          $ref: '#/components/responses/TaskCreateResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app/doc/extract/query/task/{task_id}:
    get:
      tags: [Purchase order extraction]
      summary: Query purchase order extraction result
      description: Query async extraction results for a purchase order.
      operationId: queryPurchaseOrderExtractTask
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - $ref: '#/components/parameters/TaskId'
      responses:
        '200':
          $ref: '#/components/responses/DocumentExtractResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
  parameters:
    TenantName:
      name: tenant_name
      in: path
      required: true
      description: "Tenant name. Default: laiye."
      schema:
        type: string
        default: laiye
    TaskId:
      name: task_id
      in: path
      required: true
      description: Task ID.
      schema:
        type: string
    AcceptLanguage:
      name: accept-language
      in: header
      required: false
      description: Field name language. Use zh for Chinese or en for English.
      schema:
        type: string
        enum: [zh, en]
        default: en
  examples:
    PurchaseOrderFileBase64:
      summary: Use file Base64
      value:
        file_base64: &purchaseOrderFileBase64 data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAwICQsJCAwLCgsODQwOEh4UEhEREiUbHBYeLCcuLisnKyoxN0Y7MTRCNCorPVM+QkhKTk9OLztWXFVMW0ZNTkv/wAALCAA7AHQBAREA/8QAGwABAAIDAQEAAAAAAAAAAAAAAAQGAgMFAQf/xAAuEAACAgIBAwMDBQABBQAAAAABAgMEBREAEiExBhNBFCIyFVFhcYEWJDVTgqH/2gAIAQEAAD8A+q8cccccccccccccch5Wy1WoXjmghdmCq829Df7Ad2P7D55SK8sVk2BGuXVJpOtcjCLxE6kDThEHT1a7fC9gQNduSPUkyNRw0lCCTJwSFQiy3JVkmUeepCujvtsnvsga5iJJa7z/AE2ZkqT2VdmZET6eGRWSJY9NEW6V6lBOwNg+NnV1C2lsQgPG1cRkSFlPWz9tEa7a87/zm/lXoepppMxBWllrWK1lZSsleCRVQoN/m32yDW/GuQbl7JZOpg79hKqU7eQryRRoG9yNSdr1MTptjzoDX88lTZ/MJTyuQSKl9JjbMqNGQ3XLGh7kHelOv4Oz+3LWjB1DDwRscy444445wsb6ftUMfWqLn7/TXiWMdEUAGgNdgYydf2T/AGeZVfTsdenj4fe65qZTcxTRdVJOtb7dzxB6djSw4laJ6IrPWjrLERpHILdTFj1EkedDyedNagWeGRJplSGMxiLq2jb13O+5I12O/k83OodGRhtWGiP3HOJQ9L1qVilKLdyYUVaOvHK6lUQr09Ogo2NfJ79vPMIvSNSM1VFy8a9OdZ69cyr7cRB2APt2R8dydDxrkWl6WM5yAyE1qOCzelmaskq+3MhbaluxI2PIBG/kctXHHHHHIGbn9jGWOkzLJIjJG0MMkjKxB0dICR/euUeFJZ6KSQ5fISF4wVkSjlSrHXkMJdH+9f5yflslU9vCRWrWTidQTaaP6qJjHHHt2KABiCxX7iPG+/nmOSnjqi1If1qJoLkRSRGuvH9OChdydlD9vuf58cufvStYiEcIau8ZZpevRU9tDp133s9/jXN/Kj6VsVXsoLdzIDKu0rexZlnVGHU34q32HS68b1zz0vZqGdTcuZAZRmmcwWZZ1Rl6m/FW+w6XXjeuafTuYFp6ORyD5OOS8zGJmbVU7BIiC7+APyIBJXyfHPfTeXFyWhfvvk0lyDN7TM2qpJBIiC7+APyIGyvk+OXTjjjjmMiLIjIw2rAg99duVe76fsQKa2JrzCFYwkUj5u0ntnWh9g2ND9t83Zv0/cuU6sdSxB9RFVkryT2FZmkDR9PkHfkk7JOt70eY5j05NPTeCiZC9iJ45ZJ8nY6Y+oa2sfdW8nsdDsP87/tTCxEyTBa6IVaLo2WPbR6vjWj2/nm/nGTEW58jVt5K/HOKjM8McNf2gGKldsSzE9ifGuFw9ufI1rWSvx2FqMzwxQ1/aHUVK7YlmJ7E+Ncj0/TL13pwyXvdx1CQyVq/sgMp0QoZ9/cFDHXYfG989pemnrvThkvGXH0JDLWr+0AynRChn39wUMddh8b3ywcccccg52xLUwmQsQN0TQ1pJEbQOmCkg6P88rf6rT+j9z/nI932+rp96n+WvGvb55kM9kqmN9PWxbroLlcGf3Yk+9zGG3tpIwO/wCP98c575zOyYp7It2XdMabQapFXVVbcmi4cnY0o/D9vHL59QRYih9mVvcQuZQo6F1rsT+532/o838rctu/jM1RhnyX1i2RK88Hsqvsoqk9a67gbAX7id75Go5PKLHhMlatCSvlpFRqvtqFhDoWQqwGyRoA7J3v45KaxkKGex9aXJC4LfuNNAYVUQoqkh113A6tL9xO98h4L1GMjNDbnyhjWcO8dIV9RlACQBIR9zgAE6b9xr557SyeUEOFyVm2Hgy0gRqwiUCASIWQqdbJGgDsne/jm4/qNTPV6363aswxRNZtrJDCAI+4UfagOyd/PhTzTSyeUEOFyVm2Hgy0gRqwiUCASIWQqdbJGgDsne/jklEycPqKpSTNWrMaxme0ssMIAT8VG1QHZbfz4U8svIOdry28JkK8C9c01aSNF2BtipAGz/POfvPfQez+mY7ftdH/cH341/wCHX/3kOPCZOSLAxpZmomjTVZXUxMFfo6SACp2d+TvWh27nY5knpfIJjL8U0dq1O9YU6whtiMa05LvooCvU+ukhj28HfLtqyLMQURfTBD7hJPX1dta+Ned/5zcd6PTrfxvlZwOLzFIsL9XHSyWT/wBXaW1I0kn9AxjsPAXYAHPaGByMaYynblrNSxTdUDIW9yYqpWPqGtLoHvonZA8cen8bmKDk3auOllsHdu2tqRpJP6BjA0PAXYAHNdP05dWLHY6y9U43Gy+5G6FvdlADBVYa0vZu5BO9fG+bMfgchGMXTuS1mo4p+qF4y3uTdKlU6gRpdA99E7IHjnSx+Mkit5WxbKO12UdPST2iVAqqe3nfUf8A25zcfgchGMXTuS1mo4p+qF4y3uTdKlU6gRpdA99E7IHjnUxePlrX8nbssjSW5gU6CT0xKoCg9vO+o/7zpcccccccccccccccc//Z
        app_id: &purchaseOrderAppId ootb_m9n2p5q8r1t4v7w0x3y6z9a2b5
        with_rec_result: false
    PurchaseOrderFileUrl:
      summary: Use file URL
      value:
        file_url: &purchaseOrderFileUrl https://adp.laiye.com/web/agentic_doc_processor/laiye/file/2003c711818811f1a36200163e358400
        app_id: *purchaseOrderAppId
        with_rec_result: false
  requestBodies:
    DocumentExtractRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocumentExtractRequest'
          examples:
            fileBase64:
              $ref: '#/components/examples/PurchaseOrderFileBase64'
            fileUrl:
              $ref: '#/components/examples/PurchaseOrderFileUrl'
  responses:
    DocumentExtractResponse:
      description: Extraction result.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocumentExtractResponse'
    TaskCreateResponse:
      description: Task creation result.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TaskCreateResponse'
    ValidationError:
      description: Validation error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SimpleResponse'
  schemas:
    DocumentExtractRequest:
      oneOf:
        - title: Use file Base64
          type: object
          additionalProperties: false
          properties:
            file_base64:
              default: *purchaseOrderFileBase64
              type: string
              description: Base64-encoded file. Use either file_base64 or file_url.
            app_id:
              default: *purchaseOrderAppId
              type: string
              description: Unique identifier of the preset application.
            with_rec_result:
              type: boolean
              default: false
              description: Whether to return the document recognition result.
          required: [app_id, file_base64]
        - title: Use file URL
          type: object
          additionalProperties: false
          properties:
            file_url:
              default: *purchaseOrderFileUrl
              type: string
              format: uri
              description: File URL. Use either file_url or file_base64.
            app_id:
              default: *purchaseOrderAppId
              type: string
              description: Unique identifier of the preset application.
            with_rec_result:
              type: boolean
              default: false
              description: Whether to return the document recognition result.
          required: [app_id, file_url]
    SimpleResponse:
      type: object
      properties:
        code:
          oneOf:
            - type: string
            - type: integer
        message:
          type: string
        tips:
          type:
            - string
            - 'null'
    TaskCreateResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                task_id:
                  type: string
    DocumentExtractResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              additionalProperties: true
