openapi: 3.1.0
info:
  title: ADP API
  version: 1.0.0
  description: Laiye ADP 官方 OpenAPI 接口规范，覆盖文档抽取、解析与转换，抽取应用管理、Webhook、积分查询，以及工作流发现、运行、导出和文件管理。
  license:
    name: MIT
    identifier: MIT
servers:
  - url: https://adp.laiye.com
    description: ADP 生产环境
tags:
  - name: 文档抽取
    description: 从上传的文档中抽取结构化字段。
  - name: 文档解析
    description: 识别上传文档中的文字、版面块和位置信息。
  - name: 文档转换
    description: 将 PDF、Office、OFD 和图片转换为页面图片或电子表格结构。
  - name: 应用管理
    description: 创建、修改、删除和查询抽取应用及配置。
  - name: Webhook
    description: 查询事件目录并管理事件回调。
  - name: 账户
    description: 查询账户积分和使用情况。
  - name: 工作流
    description: 运行工作流应用并查询执行结果。
  - name: 工作流文件
    description: 上传和管理工作流应用使用的文件。
paths:
  /open/agentic_doc_processor/{tenant_name}/v1/app/doc/extract:
    post:
      tags: [文档抽取]
      summary: 文档抽取（同步接口）
      description: 针对用户上传的文档，调用指定的文档抽取应用，根据应用配置和规则从文件中提取指定内容。同一接口适用于自定义抽取应用、海外发票、收据、采购订单、国内通用票据和卡证等场景。
      operationId: extractDocument
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        $ref: '#/components/requestBodies/DocumentExtractRequest'
      responses:
        '200':
          $ref: '#/components/responses/DocumentExtractResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app/doc/extract/create/task:
    post:
      tags: [文档抽取]
      summary: 创建文档抽取异步任务
      description: 创建文档抽取任务并立即返回 task_id。适用于大文档或长时间抽取任务。
      operationId: createDocumentExtractTask
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        $ref: '#/components/requestBodies/DocumentExtractRequest'
      responses:
        '200':
          $ref: '#/components/responses/TaskCreateResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app/doc/extract/query/task/{task_id}:
    get:
      tags: [文档抽取]
      summary: 查询文档抽取任务结果
      description: 根据创建任务接口返回的 task_id 查询文档抽取状态和结果。
      operationId: queryDocumentExtractTask
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - $ref: '#/components/parameters/TaskId'
      responses:
        '200':
          $ref: '#/components/responses/DocumentExtractResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app/doc/recognize:
    post:
      tags: [文档解析]
      summary: 文档解析（同步接口）
      description: 接受用户上传的文档，识别文档中的文字内容和文本块位置信息。
      operationId: recognizeDocument
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        $ref: '#/components/requestBodies/DocumentFileRequest'
      responses:
        '200':
          $ref: '#/components/responses/DocumentRecognizeResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app/doc/recognize/create/task:
    post:
      tags: [文档解析]
      summary: 创建文档解析异步任务
      description: 创建文档解析任务并立即返回 task_id。
      operationId: createDocumentRecognizeTask
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        $ref: '#/components/requestBodies/DocumentFileRequest'
      responses:
        '200':
          $ref: '#/components/responses/TaskCreateResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app/doc/recognize/query/task/{task_id}:
    get:
      tags: [文档解析]
      summary: 查询文档解析任务结果
      description: 根据创建任务接口返回的 task_id 查询文档解析状态和结果。
      operationId: queryDocumentRecognizeTask
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - $ref: '#/components/parameters/TaskId'
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          $ref: '#/components/responses/DocumentRecognizeResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/doc/convert:
    post:
      tags: [文档转换]
      summary: 文档转换（同步）
      description: |
        将 PDF、DOC/DOCX、XLS/XLSX、PPT/PPTX、OFD 或常见图片转换为页面图片；XLSX 也可能返回原生电子表格结构。file_url 与 file_base64 必须二选一。

        当前实现限制输入最大 50 MiB、最多 260 页；同步请求可能在约 120 秒达到服务超时，生产集成优先使用异步创建与查询接口。失败分支可能以 HTTP 200、code=success、data=null 返回，调用方必须确认 data 存在，并检查 task_id、img_detail_list 或电子表格结构字段。返回 URL 当前通常约 1 小时有效，应及时下载。
      operationId: convertDocument
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/DocumentConvertRequest'
      responses:
        '200':
          $ref: '#/components/responses/DocumentConvertResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/doc/convert/create/task:
    post:
      tags: [文档转换]
      summary: 创建文档转换异步任务
      description: |
        创建文档转换任务并立即返回 task_id。当前队列消息保留约 1 小时，单任务消费超时约 180 秒，结果文件通常约 1 小时有效；这些时长尚未作为稳定 SLA。

        创建失败仍可能表现为 HTTP 200、code=success、data=null，必须确认 data.task_id 非空。请使用查询接口轮询结果，并采用退避策略。
      operationId: createDocumentConvertTask
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/DocumentConvertAsyncRequest'
      responses:
        '200':
          $ref: '#/components/responses/DocumentConvertTaskResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/doc/convert/query/task/{task_id}:
    get:
      tags: [文档转换]
      summary: 查询文档转换异步任务
      description: |
        根据 task_id 查询转换结果。当前响应没有独立的任务状态字段；任务仍在处理时可能返回 code=success 以及空的 img_detail_list/total_num。请使用退避轮询，并在取得页面结果或电子表格结构后再结束。

        空结果不能可靠区分“处理中”和“无可视页面”，请为客户端设置总超时和最大轮询次数。
      operationId: queryDocumentConvertTask
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - name: task_id
          in: path
          required: true
          description: 创建异步转换任务后返回的任务 ID。
          schema:
            type: string
            minLength: 1
      responses:
        '200':
          $ref: '#/components/responses/DocumentConvertResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/webhook/events:
    get:
      tags: [Webhook]
      summary: 查询 Webhook 事件目录
      description: |
        返回当前服务注册、可用于配置订阅的系统事件类型。事件目录只说明事件名称可被配置，不等于每种事件都已提供投递 SLA；回调 data 的字段也可能因事件而异。

        当前目录包含文档解析完成、文档抽取完成，以及人工协作开始/成功/失败/完成/超时等 7 个事件。collaboration_timeout 当前仅表示已注册事件，不承诺一定产生实际投递。
      operationId: listWebhookEvents
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      responses:
        '200':
          $ref: '#/components/responses/WebhookEventListResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/webhook/create:
    post:
      tags: [Webhook]
      summary: 创建 Webhook
      description: |
        创建 Webhook 配置。每个账号最多保留 5 个配置；app_id 省略、为 null 或空数组时，订阅当前账号下所有应用，传数组时只订阅指定应用。

        回调使用 POST application/json，请求体为 `{event_type, timestamp, data}`。正式环境会发送 `X-Webhook-Signature: sha256=...` 和 `X-Webhook-Timestamp`；签名计算为 `HMAC-SHA256(secret, timestamp + "." + raw_body)`。

        当前 OpenAPI 不返回、设置或轮换 secret，因此外部调用方无法独立完成验签；失败重试也没有公开 SLA。只可配置由你控制的公网 HTTPS 地址，接收端应快速返回 HTTP 200。
      operationId: createWebhook
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/WebhookCreateRequest'
      responses:
        '200':
          $ref: '#/components/responses/WebhookMutationResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/webhook/list:
    get:
      tags: [Webhook]
      summary: 查询 Webhook 配置
      description: 查询当前账号的 Webhook 配置。可使用 app_id 过滤包含该抽取应用的配置；全应用范围的配置也会匹配。响应不会返回回调签名密钥。
      operationId: listWebhooks
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - name: app_id
          in: query
          required: false
          description: 按抽取应用 ID 或应用 Key 过滤。
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/WebhookListResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/webhook/update:
    post:
      tags: [Webhook]
      summary: 修改 Webhook
      description: |
        修改回调地址、事件类型或应用范围。省略 app_id 表示不修改应用范围；显式传 null 或空数组会清除范围并改为订阅当前账号下所有应用。

        仅传 webhook_id 在后端是合法的空操作。公开合同要求至少提供一个待修改字段；回调地址只应使用由你控制的公网 HTTPS 地址。
      operationId: updateWebhook
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/WebhookUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/WebhookMutationResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/webhook/delete:
    post:
      tags: [Webhook]
      summary: 删除 Webhook
      description: 删除当前账号的 Webhook 配置。删除配置不会同步删除已经生成的历史投递日志。
      operationId: deleteWebhook
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/WebhookDeleteRequest'
      responses:
        '200':
          $ref: '#/components/responses/EmptyMutationResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/webhook/logs:
    post:
      tags: [Webhook]
      summary: 查询 Webhook 投递日志
      description: |
        查询 Webhook 投递结果。默认返回最近 72 小时，单次时间范围最多 30 天；response_body 最多保留约 2000 个字符，可能包含接收端返回的业务或敏感信息。

        当前服务按租户范围查询日志，而不是按创建 Webhook 的用户二次隔离。该接口只应由受控租户的管理员 API Key 使用，并应尽量传 webhook_id 收窄范围。不要向普通终端用户暴露日志响应。
      operationId: queryWebhookLogs
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/WebhookLogQueryRequest'
      responses:
        '200':
          $ref: '#/components/responses/WebhookLogResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app-manage/create:
    post:
      tags: [应用管理]
      summary: 创建抽取应用
      description: 创建标准版或高速版自定义抽取应用，并设置标签、字段配置和抽取配置。标准版支持 parse_mode、显示来源位置、PDF 文本优先、印章识别等解析配置；创建高速版自定义抽取应用时，设置 ai_function 为 1425，且字段和表格子字段需要提供 field_key，不支持标准版解析配置。注意：HTTP 200 也可能表示业务失败，调用方必须同时检查响应中的业务 code。
      operationId: createExtractionApp
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/ExtractionAppCreateRequest'
      responses:
        '200':
          $ref: '#/components/responses/ExtractionAppResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
      x-codeSamples:
        - lang: python
          label: Python（同时检查 HTTP 状态和业务码）
          source: |
            import requests

            response = requests.post(
                "https://adp.laiye.com/open/agentic_doc_processor/laiye/v1/app-manage/create",
                headers={"X-API-KEY": "YOUR_API_KEY"},
                json={
                    "ai_function": 1406,
                    "app_name": "采购单抽取应用",
                    "extract_fields": [
                        {"field_name": "订单号", "field_type": "string"}
                    ],
                    "parse_mode": "standard",
                },
                timeout=60,
            )
            response.raise_for_status()
            result = response.json()
            if result.get("code") not in ("success", 200, "200"):
                raise RuntimeError(result.get("message") or result.get("code"))
  /open/agentic_doc_processor/{tenant_name}/v1/app-manage/delete:
    post:
      tags: [应用管理]
      summary: 删除抽取应用
      description: 删除抽取应用，删除后无法恢复。删除高速版自定义抽取应用时，复用该接口并传入高速版应用的 app_id。
      operationId: deleteExtractionApp
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/AppIdRequest'
      responses:
        '200':
          $ref: '#/components/responses/ExtractionAppDeleteResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app-manage/update:
    post:
      tags: [应用管理]
      summary: 修改抽取应用
      description: 更新抽取应用的名称、标签、字段配置和抽取配置，并创建新的配置版本。修改高速版自定义抽取应用时，复用该接口并传入高速版应用的 app_id；请求体不需要传 ai_function。高速版自定义抽取应用不支持设置 parse_mode、enable_highlight、enable_pdf_parse、pdf_pic_second_parsing、enable_stamp_recognition 和 enable_long_doc。注意：HTTP 200 也可能表示业务失败，调用方必须同时检查响应中的业务 code。
      operationId: updateExtractionApp
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/ExtractionAppUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/ExtractionAppUpdateResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
      x-codeSamples:
        - lang: python
          label: Python（同时检查 HTTP 状态和业务码）
          source: |
            import requests

            response = requests.post(
                "https://adp.laiye.com/open/agentic_doc_processor/laiye/v1/app-manage/update",
                headers={"X-API-KEY": "YOUR_API_KEY"},
                json={
                    "app_id": "app_1406",
                    "extract_fields": [
                        {"field_name": "订单号", "field_type": "string"}
                    ],
                    "parse_mode": "standard",
                },
                timeout=60,
            )
            response.raise_for_status()
            result = response.json()
            if result.get("code") not in ("success", 200, "200"):
                raise RuntimeError(result.get("message") or result.get("code"))
  /open/agentic_doc_processor/{tenant_name}/v1/app-manage/config:
    post:
      tags: [应用管理]
      summary: 查询应用配置
      description: 根据 app_id 查询抽取应用配置。查询高速版自定义抽取应用配置时，传入高速版应用的 app_id；不传 config_version 时返回最新配置版本。
      operationId: getExtractionAppConfig
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/AppConfigQueryRequest'
      responses:
        '200':
          description: 应用配置。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppConfigResponse'
              examples:
                standardConfig:
                  value:
                    code: 200
                    message: success
                    data:
                      app_id: app_1406
                      app_name: 采购单抽取应用
                      app_label: [purchase-order]
                      config_version: v1
                      extract_fields:
                        - field_name: 订单号
                          field_type: string
                          field_prompt: 抽取采购订单编号。
                      parse_mode: fast_vlm
                      enable_highlight: 0
                      enable_pdf_parse: true
                      pdf_pic_second_parsing: false
                      enable_stamp_recognition: true
                      enable_long_doc: false
                highSpeedConfig:
                  value:
                    code: 200
                    message: success
                    data:
                      app_id: app_1425
                      app_name: 高速版发票抽取应用
                      app_label: [invoice, high-speed]
                      config_version: v1
                      extract_fields:
                        - field_name: 发票号码
                          field_type: string
                          field_prompt: 抽取发票上的唯一发票号码。
                      parse_mode: null
                      enable_highlight: null
                      enable_pdf_parse: null
                      pdf_pic_second_parsing: null
                      enable_stamp_recognition: null
                      enable_long_doc: false
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app-list:
    get:
      tags: [应用管理]
      summary: 查询应用列表
      description: 查询应用列表。查询高速版自定义抽取应用列表时，设置 ai_function=1425。
      operationId: listExtractionApps
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - name: app_name
          in: query
          required: false
          description: 按应用名称过滤，支持模糊匹配。
          schema:
            type: string
        - name: ai_function
          in: query
          required: false
          description: 按 AI 能力过滤。高速版自定义抽取应用传 1425；标准自定义抽取应用传 1406。
          schema:
            type: integer
            enum: [1406, 1425]
            default: 1425
        - name: app_type
          in: query
          required: false
          description: 应用类型。1=自定义应用，0=开箱即用。
          schema:
            type: integer
            enum: [0, 1]
        - name: with_extra
          in: query
          required: false
          description: 是否查询扩展信息。
          schema:
            type: integer
            enum: [0, 1]
            default: 1
        - name: sort[]
          in: query
          required: false
          description: 排序字段列表。字段名前加 - 表示降序，不加表示升序；默认按 updated_at 降序。
          style: form
          explode: true
          schema:
            type: array
            default: [-updated_at]
            items:
              type: string
        - name: offset
          in: query
          required: false
          description: 分页偏移量。
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 1000
        - name: limit
          in: query
          required: false
          description: 每页数量。
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 1000
      responses:
        '200':
          $ref: '#/components/responses/AppListResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app-manage/version/delete:
    post:
      tags: [应用管理]
      summary: 删除抽取应用的配置
      description: 删除应用下某一个版本的字段配置信息。删除高速版自定义抽取应用的配置时，复用该接口并传入高速版应用的 app_id 和要删除的 config_version。
      operationId: deleteExtractionAppVersion
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/AppVersionDeleteRequest'
      responses:
        '200':
          $ref: '#/components/responses/ExtractionAppVersionDeleteResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app-manage/ai-recommend:
    post:
      tags: [应用管理]
      summary: 智能体生成抽取字段提示词
      description: 基于示例文档或提示词，AI 自动生成字段名称、字段类型和字段提示词等配置参考。标准版应用至少提供 prompt、file_url 或 file_base64 之一；高速版应用必须提供 file_url 或 file_base64，prompt 仅作为辅助生成提示。传入高速版自定义抽取应用的 app_id 时，会返回 common_rule、field_rule、table_rule 等配置预览；该接口不会保存配置版本，也不会自动回填到 Web 页面应用中。注意：HTTP 200 也可能表示业务失败，调用方必须同时检查响应中的业务 code。
      operationId: recommendExtractionFields
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/AiRecommendRequest'
      responses:
        '200':
          $ref: '#/components/responses/AiRecommendResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
      x-codeSamples:
        - lang: python
          label: Python（同时检查 HTTP 状态和业务码）
          source: |
            import requests

            response = requests.post(
                "https://adp.laiye.com/open/agentic_doc_processor/laiye/v1/app-manage/ai-recommend",
                headers={"X-API-KEY": "YOUR_API_KEY"},
                json={
                    "app_id": "app_1406",
                    "prompt": "请生成发票号码、开票日期和价税合计字段",
                },
                timeout=120,
            )
            response.raise_for_status()
            result = response.json()
            if result.get("code") not in ("success", 200, "200"):
                raise RuntimeError(result.get("message") or result.get("code"))
  /open/agentic_doc_processor/{tenant_name}/v1/user/payment:
    get:
      tags: [账户]
      summary: 查看用户积分使用情况
      description: 无需请求体，根据 X-API-KEY 获取当前用户积分信息。
      operationId: getUserPayment
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      responses:
        '200':
          $ref: '#/components/responses/UserPaymentResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_engine/laiye/v1/app/applications:
    get:
      tags: [工作流]
      summary: 查询可运行的工作流应用
      description: 查询当前 API Key 可见且已发布的工作流应用，可按名称搜索并分页。使用返回的 id 作为运行接口的 application_id。
      operationId: listWorkflowApplications
      security:
        - EngineApiKeyAuth: []
      parameters:
        - name: search
          in: query
          required: false
          description: 按应用名称搜索。
          schema:
            type: string
        - name: offset
          in: query
          required: false
          description: 分页偏移量。
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: size
          in: query
          required: false
          description: 每页数量。
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '200':
          $ref: '#/components/responses/WorkflowApplicationListResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_engine/laiye/v1/app/applications/{application_id}:
    get:
      tags: [工作流]
      summary: 查询工作流应用详情（受限预览）
      description: |
        根据应用 ID 查询名称、描述、状态和标签。

        受限预览：当前详情路由的可见性校验与列表路由不完全一致。仅查询由当前账号拥有或明确共享给当前租户、且已从列表中取得的 application_id；不要把任意外部 ID 直接传入该接口。
      operationId: getWorkflowApplication
      security:
        - EngineApiKeyAuth: []
      parameters:
        - name: application_id
          in: path
          required: true
          description: 从工作流应用列表取得的应用 ID。
          schema:
            type: string
            minLength: 1
      responses:
        '200':
          $ref: '#/components/responses/WorkflowApplicationResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_engine/laiye/v1/app/run:
    post:
      tags: [工作流]
      summary: 运行应用（同步接口）
      description: 同步运行工作流应用的发布版本，阻塞等待执行完成后返回结果。
      operationId: runDocFlowApp
      security:
        - EngineApiKeyAuth: []
      requestBody:
        $ref: '#/components/requestBodies/DocFlowRunRequest'
      responses:
        '200':
          $ref: '#/components/responses/DocFlowRunResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_engine/laiye/v1/app/run/create/task:
    post:
      tags: [工作流]
      summary: 创建运行应用异步任务
      description: 异步触发工作流应用运行，立即返回 run_id，不等待执行完成。
      operationId: createDocFlowRunTask
      security:
        - EngineApiKeyAuth: []
      requestBody:
        $ref: '#/components/requestBodies/DocFlowRunRequest'
      responses:
        '200':
          $ref: '#/components/responses/DocFlowRunResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_engine/laiye/v1/app/run/query/task/{run_id}:
    get:
      tags: [工作流]
      summary: 查询运行结果
      description: 根据 run_id 查询工作流应用运行状态和结果。
      operationId: queryDocFlowRunTask
      security:
        - EngineApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RunId'
      responses:
        '200':
          $ref: '#/components/responses/DocFlowRunResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_engine/laiye/v1/app/run/{run_id}/rerun:
    post:
      tags: [工作流]
      summary: 重新运行工作流
      description: 根据历史运行记录重新触发一次工作流运行。接口会复用原运行的应用、版本和输入，并创建新的异步运行任务。
      operationId: rerunDocFlowRunTask
      security:
        - EngineApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RunId'
      responses:
        '200':
          $ref: '#/components/responses/DocFlowRunResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_engine/laiye/v1/app/run/{run_id}/cancel:
    post:
      tags: [工作流]
      summary: 取消工作流运行
      description: 取消等待中、运行中或已暂停的工作流运行。已成功、失败、已取消或超时的运行不能取消。
      operationId: cancelDocFlowRunTask
      security:
        - EngineApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RunId'
      requestBody:
        $ref: '#/components/requestBodies/DocFlowCancelRunRequest'
      responses:
        '200':
          $ref: '#/components/responses/DocFlowRunResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_engine/laiye/v1/app/runs/export:
    post:
      tags: [工作流]
      summary: 导出工作流运行记录（受限预览）
      description: |
        将指定工作流运行记录导出为 Excel、Word、Markdown 或 JSON，并返回临时下载地址及运行摘要。公开合同要求显式提供至少一个 run_id，不开放后端“空列表导出应用全部运行”的兼容行为。

        当前实现单次最多处理 200 个运行、最多生成 500,000 行，临时文件通常约 1 小时有效。受限预览：路由只校验 API Key 和租户，没有独立的管理员角色或应用可见性校验。仅可在受控租户中，由管理员导出自己确认有权访问的 application_id 和 run_ids。导出内容可能包含工作流输入、节点输出和业务数据；下载后应按原始数据等级保护。
      operationId: exportWorkflowRuns
      security:
        - EngineApiKeyAuth: []
      requestBody:
        $ref: '#/components/requestBodies/WorkflowRunExportRequest'
      responses:
        '200':
          $ref: '#/components/responses/WorkflowRunExportResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_engine/laiye/files/upload:
    post:
      tags: [工作流文件]
      summary: 文件上传
      description: 上传文件到智能引擎存储，返回文件 ID 和下载地址。上传后的文件可在运行工作流接口的 files 参数中使用。
      operationId: uploadDocFlowFile
      security:
        - EngineApiKeyAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FileUploadRequest'
      responses:
        '200':
          $ref: '#/components/responses/FileUploadResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_engine/laiye/files/{file_id}:
    get:
      tags: [工作流文件]
      summary: 获取文件信息
      description: 根据文件 ID 获取文件元信息。
      operationId: getDocFlowFile
      security:
        - EngineApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/FileId'
      responses:
        '200':
          $ref: '#/components/responses/FileInfoResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
      description: 生产环境 API Key，可在 ADP 平台的「我的 API」中查看。请确保 API Key 有效且属于生产环境。
    EngineApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: 用于调用工作流接口的 API Key。
  parameters:
    TenantName:
      name: tenant_name
      in: path
      required: true
      description: 租户名称，默认 laiye。
      schema:
        type: string
        default: laiye
    TaskId:
      name: task_id
      in: path
      required: true
      description: 任务 ID。
      schema:
        type: string
    RunId:
      name: run_id
      in: path
      required: true
      description: 运行 ID。
      schema:
        type: string
    FileId:
      name: file_id
      in: path
      required: true
      description: 文件 ID。
      schema:
        type: string
    AcceptLanguage:
      name: accept-language
      in: header
      required: false
      description: 返回字段名称的语言。默认 zh 返回中文字段名；设置为 en 返回英文字段名。
      schema:
        type: string
        enum: [zh, en]
        default: zh
  examples:
    DocumentRecognitionFileBase64:
      summary: 使用文件 Base64
      value:
        file_base64: &documentRecognitionFileBase64 data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAwICQsJCAwLCgsODQwOEh4UEhEREiUbHBYeLCcuLisnKyoxN0Y7MTRCNCorPVM+QkhKTk9OLztWXFVMW0ZNTkv/wAALCAA7AHQBAREA/8QAGwABAAIDAQEAAAAAAAAAAAAAAAQGAgMFAQf/xAAuEAACAgIBAwMDBQABBQAAAAABAgMEBREAEiExBhNBFCIyFVFhcYEWJDVTgqH/2gAIAQEAAD8A+q8cccccccccccccch5Wy1WoXjmghdmCq829Df7Ad2P7D55SK8sVk2BGuXVJpOtcjCLxE6kDThEHT1a7fC9gQNduSPUkyNRw0lCCTJwSFQiy3JVkmUeepCujvtsnvsga5iJJa7z/AE2ZkqT2VdmZET6eGRWSJY9NEW6V6lBOwNg+NnV1C2lsQgPG1cRkSFlPWz9tEa7a87/zm/lXoepppMxBWllrWK1lZSsleCRVQoN/m32yDW/GuQbl7JZOpg79hKqU7eQryRRoG9yNSdr1MTptjzoDX88lTZ/MJTyuQSKl9JjbMqNGQ3XLGh7kHelOv4Oz+3LWjB1DDwRscy444445wsb6ftUMfWqLn7/TXiWMdEUAGgNdgYydf2T/AGeZVfTsdenj4fe65qZTcxTRdVJOtb7dzxB6djSw4laJ6IrPWjrLERpHILdTFj1EkedDyedNagWeGRJplSGMxiLq2jb13O+5I12O/k83OodGRhtWGiP3HOJQ9L1qVilKLdyYUVaOvHK6lUQr09Ogo2NfJ79vPMIvSNSM1VFy8a9OdZ69cyr7cRB2APt2R8dydDxrkWl6WM5yAyE1qOCzelmaskq+3MhbaluxI2PIBG/kctXHHHHHIGbn9jGWOkzLJIjJG0MMkjKxB0dICR/euUeFJZ6KSQ5fISF4wVkSjlSrHXkMJdH+9f5yflslU9vCRWrWTidQTaaP6qJjHHHt2KABiCxX7iPG+/nmOSnjqi1If1qJoLkRSRGuvH9OChdydlD9vuf58cufvStYiEcIau8ZZpevRU9tDp133s9/jXN/Kj6VsVXsoLdzIDKu0rexZlnVGHU34q32HS68b1zz0vZqGdTcuZAZRmmcwWZZ1Rl6m/FW+w6XXjeuafTuYFp6ORyD5OOS8zGJmbVU7BIiC7+APyIBJXyfHPfTeXFyWhfvvk0lyDN7TM2qpJBIiC7+APyIGyvk+OXTjjjjmMiLIjIw2rAg99duVe76fsQKa2JrzCFYwkUj5u0ntnWh9g2ND9t83Zv0/cuU6sdSxB9RFVkryT2FZmkDR9PkHfkk7JOt70eY5j05NPTeCiZC9iJ45ZJ8nY6Y+oa2sfdW8nsdDsP87/tTCxEyTBa6IVaLo2WPbR6vjWj2/nm/nGTEW58jVt5K/HOKjM8McNf2gGKldsSzE9ifGuFw9ufI1rWSvx2FqMzwxQ1/aHUVK7YlmJ7E+Ncj0/TL13pwyXvdx1CQyVq/sgMp0QoZ9/cFDHXYfG989pemnrvThkvGXH0JDLWr+0AynRChn39wUMddh8b3ywcccccg52xLUwmQsQN0TQ1pJEbQOmCkg6P88rf6rT+j9z/nI932+rp96n+WvGvb55kM9kqmN9PWxbroLlcGf3Yk+9zGG3tpIwO/wCP98c575zOyYp7It2XdMabQapFXVVbcmi4cnY0o/D9vHL59QRYih9mVvcQuZQo6F1rsT+532/o838rctu/jM1RhnyX1i2RK88Hsqvsoqk9a67gbAX7id75Go5PKLHhMlatCSvlpFRqvtqFhDoWQqwGyRoA7J3v45KaxkKGex9aXJC4LfuNNAYVUQoqkh113A6tL9xO98h4L1GMjNDbnyhjWcO8dIV9RlACQBIR9zgAE6b9xr557SyeUEOFyVm2Hgy0gRqwiUCASIWQqdbJGgDsne/jm4/qNTPV6363aswxRNZtrJDCAI+4UfagOyd/PhTzTSyeUEOFyVm2Hgy0gRqwiUCASIWQqdbJGgDsne/jklEycPqKpSTNWrMaxme0ssMIAT8VG1QHZbfz4U8svIOdry28JkK8C9c01aSNF2BtipAGz/POfvPfQez+mY7ftdH/cH341/wCHX/3kOPCZOSLAxpZmomjTVZXUxMFfo6SACp2d+TvWh27nY5knpfIJjL8U0dq1O9YU6whtiMa05LvooCvU+ukhj28HfLtqyLMQURfTBD7hJPX1dta+Ned/5zcd6PTrfxvlZwOLzFIsL9XHSyWT/wBXaW1I0kn9AxjsPAXYAHPaGByMaYynblrNSxTdUDIW9yYqpWPqGtLoHvonZA8cen8bmKDk3auOllsHdu2tqRpJP6BjA0PAXYAHNdP05dWLHY6y9U43Gy+5G6FvdlADBVYa0vZu5BO9fG+bMfgchGMXTuS1mo4p+qF4y3uTdKlU6gRpdA99E7IHjnSx+Mkit5WxbKO12UdPST2iVAqqe3nfUf8A25zcfgchGMXTuS1mo4p+qF4y3uTdKlU6gRpdA99E7IHjnUxePlrX8nbssjSW5gU6CT0xKoCg9vO+o/7zpcccccccccccccccc//Z
        app_id: &documentRecognitionAppId ootb_k7m2x9p4v1n8w3q6r5t0y2b4
        model_params:
          recognize_config:
            recognize_mode: standard
            enable_highlight: 1
            enable_pdf_parse: false
            pdf_pic_second_parsing: false
            enable_stamp_recognition: false
    DocumentRecognitionFileUrl:
      summary: 使用文件 URL
      value:
        file_url: &documentRecognitionFileUrl https://adp.laiye.com/web/agentic_doc_processor/laiye/file/2003c711818811f1a36200163e358400
        app_id: *documentRecognitionAppId
        model_params:
          recognize_config:
            recognize_mode: standard
            enable_highlight: 1
            enable_pdf_parse: true
            pdf_pic_second_parsing: false
            enable_stamp_recognition: false
  requestBodies:
    DocumentFileRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocumentFileRequest'
          examples:
            fileUrl:
              $ref: '#/components/examples/DocumentRecognitionFileUrl'
            fileBase64:
              $ref: '#/components/examples/DocumentRecognitionFileBase64'
    DocumentExtractRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocumentExtractRequest'
          examples:
            fileUrl:
              value:
                app_id: app_abc123
                file_url: https://adp.laiye.com/web/agentic_doc_processor/laiye/file/2003c711818811f1a36200163e358400
                with_rec_result: false
            fileBase64:
              value:
                app_id: app_abc123
                file_base64: JVBERi0xLjQKJcfs...
                with_rec_result: true
    AppIdRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AppIdRequest'
          examples:
            standardCustomExtractionApp:
              summary: 删除标准版自定义抽取应用
              value:
                app_id: app_abc123
            highSpeedCustomExtractionApp:
              summary: 删除高速版自定义抽取应用
              value:
                app_id: app_1425
    AppVersionDeleteRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AppVersionDeleteRequest'
          examples:
            highSpeedConfigVersion:
              summary: 删除高速版自定义抽取应用配置版本
              value:
                app_id: app_1425
                config_version: v2
    ExtractionAppCreateRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExtractionAppCreateRequest'
          examples:
            standardCustomExtractionApp:
              summary: 创建标准版自定义抽取应用
              value:
                ai_function: 1406
                app_name: 采购单抽取应用
                app_label: [purchase-order]
                extract_fields:
                  - field_name: 订单号
                    field_type: string
                    field_prompt: 抽取采购订单编号。
                  - field_name: 订单日期
                    field_type: date
                    field_prompt: 抽取订单日期。
                parse_mode: standard
                enable_highlight: 1
                enable_pdf_parse: false
                pdf_pic_second_parsing: false
                enable_stamp_recognition: false
                enable_long_doc: false
            highSpeedCustomExtractionApp:
              summary: 创建高速版自定义抽取应用
              value:
                ai_function: 1425
                app_name: 高速版发票抽取应用
                app_label: [invoice, high-speed]
                extract_fields:
                  - field_key: invoice_no
                    field_name: 发票号码
                    field_type: string
                    field_prompt: 抽取发票上的唯一发票号码。
                  - field_key: invoice_date
                    field_name: 开票日期
                    field_type: date
                    field_prompt: 抽取发票开具日期。
                  - field_key: line_items
                    field_name: 明细
                    field_type: table
                    sub_fields:
                      - field_key: item_name
                        field_name: 商品名称
                        field_type: string
                      - field_key: item_date
                        field_name: 日期
                        field_type: date
                enable_field_value_translation: false
    ExtractionAppUpdateRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExtractionAppUpdateRequest'
          examples:
            standardCustomExtractionApp:
              summary: 修改标准版自定义抽取应用
              value:
                app_id: app_1406
                app_name: 采购单抽取应用（新版）
                config_version: v1
                app_label: [purchase-order]
                extract_fields:
                  - field_name: 订单号
                    field_type: string
                    field_prompt: 抽取采购订单编号。
                  - field_name: 供应商名称
                    field_type: string
                    field_prompt: 抽取供应商名称。
                parse_mode: fast_vlm
                enable_highlight: 1
                enable_pdf_parse: true
                pdf_pic_second_parsing: false
                enable_stamp_recognition: true
                enable_long_doc: false
            highSpeedCustomExtractionApp:
              summary: 修改高速版自定义抽取应用
              value:
                app_id: app_1425
                app_name: 高速版发票抽取应用（新版）
                config_version: v1
                app_label: [invoice, high-speed]
                extract_fields:
                  - field_key: invoice_no
                    field_name: 发票号码
                    field_type: string
                    field_prompt: 抽取发票上的唯一发票号码。
                  - field_key: invoice_date
                    field_name: 开票日期
                    field_type: date
                    field_prompt: 抽取发票开具日期。
                  - field_key: total_amount
                    field_name: 价税合计
                    field_type: string
                    field_prompt: 抽取发票价税合计金额。
                  - field_key: line_items
                    field_name: 明细
                    field_type: table
                    sub_fields:
                      - field_key: item_name
                        field_name: 商品名称
                        field_type: string
                      - field_key: item_amount
                        field_name: 金额
                        field_type: string
                enable_field_value_translation: false
    AppConfigQueryRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AppConfigQueryRequest'
          examples:
            highSpeedConfig:
              summary: 查询高速版自定义抽取应用配置
              value:
                app_id: app_1425
            highSpeedConfigVersion:
              summary: 查询高速版指定配置版本
              value:
                app_id: app_1425
                config_version: v1
    AiRecommendRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AiRecommendRequest'
          examples:
            standardCustomExtractionApp:
              summary: 标准版自定义抽取应用生成字段提示词
              value:
                app_id: app_1406
                prompt: 请从发票中抽取发票号码、开票日期和价税合计。
            highSpeedCustomExtractionApp:
              summary: 高速版自定义抽取应用自动生成配置预览
              value:
                app_id: app_1425
                file_url: https://adp.laiye.com/web/agentic_doc_processor/laiye/file/2003c711818811f1a36200163e358400
                prompt: 请根据票据版面生成字段配置，字段 key 使用英文下划线命名。
    DocFlowRunRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocFlowRunRequest'
          example:
            application_id: app_abc123
            inputs:
              query: 请帮我分析这份采购单
            files:
              - url: https://adp.laiye.com/web/agentic_doc_processor/laiye/file/2003c711818811f1a36200163e358400
                name: 采购单.pdf
                mime_type: application/pdf
    DocFlowCancelRunRequest:
      required: false
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocFlowCancelRunRequest'
          example:
            reason: 用户主动取消
    DocumentConvertRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocumentConvertRequest'
          examples:
            fileUrl:
              value:
                file_url: https://example.com/invoice.pdf
                scale: 1
                first_convert_page: 1
                last_convert_page: 5
                result_mode: url
            fileBase64:
              value:
                file_base64: JVBERi0xLjQKJcfs...
                result_mode: base64
    DocumentConvertAsyncRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocumentConvertAsyncRequest'
          example:
            file_url: https://example.com/long-document.pdf
            first_convert_page: 1
            last_convert_page: 20
    WebhookCreateRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WebhookCreateRequest'
          example:
            webhook_url: https://hooks.example.com/adp
            event_types: [doc_extract_completed]
            app_id: [app_abc123]
    WebhookUpdateRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WebhookUpdateRequest'
          example:
            webhook_id: webhook_abc123
            event_types: [doc_parse_completed, doc_extract_completed]
    WebhookDeleteRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WebhookDeleteRequest'
          example:
            webhook_id: webhook_abc123
    WebhookLogQueryRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WebhookLogQueryRequest'
          example:
            webhook_id: webhook_abc123
            start_time: '2026-08-01 00:00:00'
            end_time: '2026-08-02 00:00:00'
            page: 1
            page_size: 20
    WorkflowRunExportRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WorkflowRunExportRequest'
          example:
            application_id: app_abc123
            run_ids: [run_xyz789]
            format: excel
            report_mode: merged
            include_failed_runs: false
            max_text_length: 10000
  responses:
    SimpleResponse:
      description: 通用响应。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SimpleResponse'
          example:
            code: success
            message: success
    ValidationError:
      description: 参数校验错误。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HTTPValidationError'
          example:
            detail:
              - type: greater_than
                loc: [query, limit]
                msg: Input should be greater than 0
                input: 0
                ctx:
                  gt: 0
    TaskCreateResponse:
      description: 任务创建结果。
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/SimpleResponse'
              - type: object
                properties:
                  data:
                    type: object
                    properties:
                      task_id:
                        type: string
                      metadata:
                        type: object
                        additionalProperties: true
                        description: 文档处理任务元数据。
          example:
            code: success
            message: ''
            data:
              task_id: 94fe9b74e0e311f091505e345594c618
              metadata: {}
    DocumentExtractResponse:
      description: 文档抽取结果。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocumentExtractResponse'
          example:
            code: success
            message: ''
            data:
              task_id: 94fe9b74e0e311f091505e345594c618
              file_url: ''
              message: ''
              status: 4
              doc_recognize_result: []
              extraction_result: []
              extract_config_version: v1
              metadata: {}
              aigc: null
    DocumentRecognizeResponse:
      description: 文档解析结果。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocumentRecognizeResponse'
          example:
            code: success
            message: ''
            data:
              task_id: 94fe9b74e0e311f091505e345594c618
              file_url: ''
              message: ''
              status: 4
              doc_recognize_result: []
              metadata: {}
              aigc: null
    ExtractionAppResponse:
      description: 抽取应用结果。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExtractionAppResponse'
          examples:
            success:
              summary: 创建成功
              value:
                code: success
                message: ''
                tips: null
                data:
                  app_id: app_abc123
                  app_name: 高速版发票抽取应用
                  app_label: [invoice, high-speed]
                  config_version: v1
            missingParseMode:
              summary: 标准版缺少 parse_mode（HTTP 200 业务失败）
              value:
                code: server_error
                message: 标准版自定义抽取应用必须提供 parse_mode
                tips: null
    ExtractionAppDeleteResponse:
      description: 抽取应用删除结果。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExtractionAppDeleteResponse'
          example:
            code: success
            message: ''
            tips: null
            data:
              success: true
              message: App deleted successfully
    ExtractionAppUpdateResponse:
      description: 抽取应用修改结果。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExtractionAppUpdateResponse'
          examples:
            success:
              summary: 修改成功
              value:
                code: success
                message: ''
                tips: null
                data:
                  config_version: v2
            missingParseMode:
              summary: 标准版缺少 parse_mode（HTTP 200 业务失败）
              value:
                code: server_error
                message: 标准版自定义抽取应用必须提供 parse_mode
                tips: null
    ExtractionAppVersionDeleteResponse:
      description: 抽取应用配置版本删除结果。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExtractionAppVersionDeleteResponse'
          example:
            code: success
            message: ''
            tips: null
            data:
              success: true
              message: Version deleted successfully
    AppConfigResponse:
      description: 应用配置结果。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AppConfigResponse'
    AiRecommendResponse:
      description: 智能体生成字段配置结果。高速版返回配置预览，不会保存配置版本。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AiRecommendResponse'
          examples:
            standardCustomExtractionApp:
              summary: 标准版自定义抽取应用推荐字段
              value:
                code: success
                message: ''
                tips: null
                data:
                  app_id: app_1406
                  app_name: ''
                  extract_fields:
                    - field_name: 发票号码
                      field_type: string
                      field_prompt: 抽取税务发票的唯一标识编号。
                    - field_name: 开票日期
                      field_type: date
                      field_prompt: 抽取发票开具日期。
            highSpeedCustomExtractionApp:
              summary: 高速版自定义抽取应用自动生成配置预览
              value:
                code: success
                message: ''
                tips: null
                data:
                  app_id: app_1425
                  app_name: 高速版发票抽取应用
                  ai_function: 1425
                  extract_fields:
                    - field_key: invoice_number
                      field_name: 发票号码
                      field_type: string
                      field_prompt: 税务发票的唯一标识编号。
                      field_description: 税务发票的唯一标识编号。
                    - field_key: invoice_date
                      field_name: 开票日期
                      field_type: date
                      field_prompt: 发票开具日期。
                      field_description: 发票开具日期。
                  prompt_rule: 仅抽取票面中明确出现的字段。
                  common_rule: 仅抽取票面中明确出现的字段。
                  field_rule:
                    - field_key: invoice_number
                      field_name: 发票号码
                      field_type: string
                      field_description: 税务发票的唯一标识编号。
                    - field_key: invoice_date
                      field_name: 开票日期
                      field_type: date
                      field_description: 发票开具日期。
                  table_rule:
                    - field_key: line_items
                      field_name: 明细
                      field_type: table
                      field_description: 发票明细表。
                      field_parent_id: ''
                    - field_key: item_name
                      field_name: 商品名称
                      field_type: string
                      field_description: 明细中的商品或服务名称。
                      field_parent_id: line_items
                    - field_key: item_amount
                      field_name: 金额
                      field_type: string
                      field_description: 明细金额。
                      field_parent_id: line_items
                  page_count: 2
                  document_type: invoice
            promptOrFileRequired:
              summary: 标准版未提供提示词或文件（HTTP 200 业务失败）
              value:
                code: prompt_or_file_required
                message: prompt、file_url 或 file_base64 至少提供一个
                tips: null
    AppListResponse:
      description: 应用列表。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AppListResponse'
          example:
            code: success
            message: ''
            tips: null
            data:
              range:
                offset: 0
                size: 20
                total: 1
              list:
                - id: app_1425
                  app_name: 高速版发票抽取应用
                  ai_function: 1425
                  app_label: [invoice, high-speed]
                  app_type: 1
                  created_at: '2026-04-30T10:00:00Z'
                  updated_at: '2026-04-30T10:10:00Z'
                  engine_type: extract
    UserPaymentResponse:
      description: 用户积分信息。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UserPaymentResponse'
          example:
            user_id: user_abc123
            payment_type: free
            concurrency: 2
            total_credits: 0
            used_credits: 0
            expired_credits: 0
            remaining_credits: 0
    DocFlowRunResponse:
      description: 工作流运行结果。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocFlowRunResponse'
          example:
            code: success
            message: ''
            data:
              run_id: run_xyz789
              status: succeeded
              output:
                result: 采购单分析完成
              error: null
              started_at: '2026-04-30T10:00:00Z'
              ended_at: '2026-04-30T10:00:15Z'
    FileUploadResponse:
      description: 文件上传结果。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FileUploadResponse'
    FileInfoResponse:
      description: 文件信息。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FileInfoResponse'
    DocumentConvertTaskResponse:
      description: 文档转换异步任务创建结果。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocumentConvertTaskResponse'
          examples:
            created:
              value:
                code: success
                message: ''
                tips: null
                data:
                  task_id: task_abc123
            failedButWrappedAsSuccess:
              summary: 当前失败分支可能出现的响应
              value:
                code: success
                message: ''
                tips: null
                data: null
    DocumentConvertResponse:
      description: 文档转换结果。处理中或失败时可能返回空结果或 data=null。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocumentConvertResponse'
          example:
            code: success
            message: ''
            tips: null
            data:
              task_id: task_abc123
              img_detail_list:
                - page_num: 1
                  img_base64: ''
                  img_url: https://example.com/temp/task_abc123/page-1.png
                  width: 1240
                  height: 1754
                  preprocess: {}
              total_num: 1
              metadata: {}
              file_type: pdf
              source_file_type: pdf
              spreadsheet_manifest_file_id: ''
              spreadsheet_manifest_url: ''
              view_type: ''
              page_count: 1
              sheet_count: 0
              logical_unit_count: 0
              document_contents: []
              document_details: []
              warnings: []
              billing: {}
    WebhookEventListResponse:
      description: Webhook 系统事件目录。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WebhookEventListResponse'
    WebhookMutationResponse:
      description: Webhook 创建或修改结果。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WebhookMutationResponse'
    EmptyMutationResponse:
      description: 操作成功，data 为空对象。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EmptyDataResponse'
    WebhookListResponse:
      description: 当前账号的 Webhook 配置列表，不包含签名密钥。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WebhookListResponse'
    WebhookLogResponse:
      description: Webhook 投递日志。response_body 可能包含敏感数据。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WebhookLogResponse'
    WorkflowApplicationListResponse:
      description: 当前 API Key 可见的已发布工作流应用列表。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WorkflowApplicationListResponse'
    WorkflowApplicationResponse:
      description: 工作流应用详情。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WorkflowApplicationResponse'
    WorkflowRunExportResponse:
      description: 工作流运行记录导出结果。下载地址按临时敏感链接处理。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WorkflowRunExportResponse'
  schemas:
    # Schemas for the public and limited-preview operations above.
    DocumentConvertRequest:
      type: object
      additionalProperties: false
      oneOf:
        - title: 使用文件 URL
          required: [file_url]
        - title: 使用 Base64 文件
          required: [file_base64]
      properties:
        file_url:
          type: string
          format: uri
          maxLength: 2048
          description: 待转换文件的公网 HTTPS URL。不要传入内网地址或带长期凭证的 URL。
        file_base64:
          type: string
          format: byte
          description: 待转换文件的 Base64 内容。解码后最大 50 MiB。
        scale:
          type: number
          exclusiveMinimum: 0
          default: 1
          description: 页面缩放比例。服务端当前未设置稳定上限，建议使用默认值。
        first_convert_page:
          type: integer
          minimum: 1
          description: 转换起始页，从 1 开始；省略表示从第一页开始。
        last_convert_page:
          type: integer
          minimum: 1
          description: 转换结束页，从 1 开始且不能小于起始页；省略表示到最后一页。
        result_mode:
          type: string
          enum: [url, base64]
          default: url
          description: 页面图片返回方式。URL 为临时结果；Base64 会显著增加响应体。
    DocumentConvertAsyncRequest:
      type: object
      additionalProperties: false
      oneOf:
        - title: 使用文件 URL
          required: [file_url]
        - title: 使用 Base64 文件
          required: [file_base64]
      properties:
        file_url:
          type: string
          format: uri
          maxLength: 2048
          description: 待转换文件的公网 HTTPS URL。
        file_base64:
          type: string
          format: byte
          description: 待转换文件的 Base64 内容。解码后最大 50 MiB。
        scale:
          type: number
          exclusiveMinimum: 0
          default: 1
        first_convert_page:
          type: integer
          minimum: 1
        last_convert_page:
          type: integer
          minimum: 1
      description: 异步转换当前固定以 URL 返回页面结果，后端会忽略 result_mode，因此公共合同不暴露该字段。
    DocumentConvertTaskResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              oneOf:
                - type: object
                  properties:
                    task_id:
                      type: string
                  required: [task_id]
                - type: 'null'
    DocumentConvertResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              oneOf:
                - $ref: '#/components/schemas/DocumentConvertData'
                - type: 'null'
    DocumentConvertData:
      type: object
      properties:
        task_id:
          type: string
        img_detail_list:
          type: array
          items:
            $ref: '#/components/schemas/DocumentConvertImage'
        total_num:
          type: integer
          minimum: 0
        metadata:
          type: object
          additionalProperties: true
        file_type:
          type: string
          description: 转换结果类型，例如 pdf、image 或 spreadsheet。
        source_file_type:
          type: string
          description: 检测到的源文件扩展类型。
        spreadsheet_manifest_file_id:
          type: string
        spreadsheet_manifest_url:
          type: string
          description: Excel 原生预览 Manifest 临时下载地址。
        view_type:
          type: string
          description: Excel 原生解析时为 spreadsheet。
        page_count:
          type: integer
          minimum: 0
        sheet_count:
          type: integer
          minimum: 0
        logical_unit_count:
          type: integer
          minimum: 0
        document_contents:
          type: array
          items:
            type: string
        document_details:
          type: array
          items: {}
        warnings:
          type: array
          items:
            type: object
            additionalProperties: true
        billing:
          type: object
          additionalProperties: true
      required: [task_id, img_detail_list, total_num, metadata, file_type, source_file_type, spreadsheet_manifest_file_id, spreadsheet_manifest_url, view_type, page_count, sheet_count, logical_unit_count, document_contents, document_details, warnings, billing]
    DocumentConvertImage:
      type: object
      properties:
        page_num: {type: integer, minimum: 0}
        img_base64:
          type: string
          description: result_mode=base64 时的页面图片内容，否则通常为空字符串。
        img_url:
          type: string
          description: result_mode=url 时的临时页面地址，否则通常为空字符串。
        width: {type: integer, minimum: 0}
        height: {type: integer, minimum: 0}
        preprocess:
          type: object
          additionalProperties: true
      required: [page_num, img_base64, img_url, width, height, preprocess]
    EmptyDataResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              additionalProperties: false
          required: [data]
    WebhookEventType:
      type: string
      enum:
        - doc_parse_completed
        - doc_extract_completed
        - collaboration_start
        - collaboration_success
        - collaboration_failed
        - collaboration_completed
        - collaboration_timeout
    WebhookEventListResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                events:
                  type: array
                  items:
                    $ref: '#/components/schemas/WebhookEvent'
              required: [events]
          required: [data]
    WebhookEvent:
      type: object
      properties:
        event_type:
          $ref: '#/components/schemas/WebhookEventType'
        name:
          type: string
        description:
          type: string
      required: [event_type, name, description]
    WebhookCreateRequest:
      type: object
      additionalProperties: false
      properties:
        webhook_url:
          type: string
          format: uri
          pattern: '^https://'
          maxLength: 512
          description: 由调用方控制的公网 HTTPS 回调地址。公共合同不接受 HTTP 或内网地址。
        event_types:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            $ref: '#/components/schemas/WebhookEventType'
        app_id:
          type: [array, 'null']
          uniqueItems: true
          description: 应用范围；省略、null 或空数组表示当前账号的全部应用。
          items:
            type: string
            minLength: 1
      required: [webhook_url, event_types]
    WebhookUpdateRequest:
      type: object
      additionalProperties: false
      anyOf:
        - required: [webhook_url]
        - required: [event_types]
        - required: [app_id]
      properties:
        webhook_id:
          type: string
          minLength: 1
        webhook_url:
          type: string
          format: uri
          pattern: '^https://'
          maxLength: 512
          description: 新的公网 HTTPS 回调地址。
        event_types:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            $ref: '#/components/schemas/WebhookEventType'
        app_id:
          type: [array, 'null']
          uniqueItems: true
          description: 显式 null 或空数组会清空应用范围；省略时保持不变。
          items:
            type: string
            minLength: 1
      required: [webhook_id]
    WebhookDeleteRequest:
      type: object
      additionalProperties: false
      properties:
        webhook_id:
          type: string
          minLength: 1
      required: [webhook_id]
    WebhookMutationResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              oneOf:
                - type: object
                  properties:
                    webhook_id:
                      type: string
                  required: [webhook_id]
                - type: 'null'
    WebhookListResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                webhook_list:
                  type: array
                  items:
                    $ref: '#/components/schemas/WebhookConfig'
              required: [webhook_list]
          required: [data]
    WebhookConfig:
      type: object
      properties:
        webhook_id: {type: string}
        webhook_url:
          type: string
          format: uri
        event_types:
          type: array
          items:
            $ref: '#/components/schemas/WebhookEventType'
        app_id:
          type: [array, 'null']
          items:
            type: string
        is_active:
          type: integer
          enum: [0, 1]
        created_at:
          type: [string, 'null']
          format: date-time
        updated_at:
          type: [string, 'null']
          format: date-time
      required: [webhook_id, webhook_url, event_types, is_active]
    WebhookLogQueryRequest:
      type: object
      additionalProperties: false
      properties:
        webhook_id:
          type: [string, 'null']
          description: Webhook 配置 ID；建议始终提供以收窄日志查询范围。
        start_time:
          type: [string, 'null']
          pattern: '^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$'
          description: 起始时间，格式 YYYY-MM-DD HH:mm:ss。省略时默认为结束时间前 72 小时。
        end_time:
          type: [string, 'null']
          pattern: '^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$'
          description: 结束时间，格式 YYYY-MM-DD HH:mm:ss。省略时为当前时间。
        page:
          type: integer
          default: 1
          minimum: 1
        page_size:
          type: integer
          default: 20
          minimum: 1
          maximum: 100
    WebhookLogResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                logs:
                  type: array
                  items:
                    $ref: '#/components/schemas/WebhookLog'
                total: {type: integer, minimum: 0}
                page: {type: integer, minimum: 1}
                page_size: {type: integer, minimum: 1, maximum: 100}
              required: [logs, total, page, page_size]
          required: [data]
    WebhookLog:
      type: object
      properties:
        id: {type: string}
        webhook_id: {type: string}
        webhook_url:
          type: string
          format: uri
        event_type:
          $ref: '#/components/schemas/WebhookEventType'
        app_id: {type: [string, 'null']}
        app_name: {type: [string, 'null']}
        status:
          type: string
          enum: [pending, success, failed, final_failed]
        retry_count: {type: integer, minimum: 0}
        next_retry_at:
          type: [string, 'null']
          format: date-time
        response_code: {type: [integer, 'null']}
        response_body:
          type: [string, 'null']
          maxLength: 2000
          description: 接收端最后一次响应或错误信息，可能包含敏感数据。
        delivered_at:
          type: [string, 'null']
          format: date-time
        created_at:
          type: [string, 'null']
          format: date-time
      required: [id, webhook_id, webhook_url, event_type, status, retry_count]
    WorkflowApplication:
      type: object
      properties:
        id:
          type: string
          description: 工作流应用 ID。
        name:
          type: string
        description:
          type: [string, 'null']
        status:
          type: string
        tags:
          type: [array, 'null']
          items:
            type: string
      required: [id, name, description, status, tags]
    WorkflowApplicationListResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                range:
                  type: object
                  properties:
                    offset: {type: integer, minimum: 0}
                    size: {type: integer, minimum: 1}
                    total: {type: [integer, 'null'], minimum: 0}
                  required: [offset, size, total]
                list:
                  type: array
                  items:
                    $ref: '#/components/schemas/WorkflowApplication'
              required: [range, list]
          required: [data]
    WorkflowApplicationResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              oneOf:
                - $ref: '#/components/schemas/WorkflowApplication'
                - type: 'null'
    WorkflowRunExportRequest:
      type: object
      additionalProperties: false
      properties:
        application_id:
          type: string
          minLength: 1
          description: 工作流应用 ID。
        run_ids:
          type: array
          minItems: 1
          maxItems: 200
          uniqueItems: true
          description: 明确授权导出的运行 ID。公共合同不允许 null 或空数组导出全部运行。
          items:
            type: string
            minLength: 1
        node_ids:
          type: array
          uniqueItems: true
          description: 可选的节点 ID 列表；省略时包含运行中的全部可导出节点。
          items:
            type: string
            minLength: 1
        format:
          type: string
          enum: [excel, word, markdown, json]
          default: excel
        report_mode:
          type: string
          enum: [merged, per_run]
          default: merged
          description: merged 合并为一份报告；per_run 按运行拆分。
        include_failed_runs:
          type: boolean
          default: false
        primary_key_variable:
          type: string
          description: 可选的工作流输入变量名，用作导出主键。
        max_text_length:
          type: integer
          minimum: 1
          maximum: 30000
          default: 10000
          description: 单个文本值导出的最大字符数；当前路由实际默认 10000。
      required: [application_id, run_ids]
    WorkflowRunExportResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              oneOf:
                - $ref: '#/components/schemas/WorkflowRunExportData'
                - type: 'null'
    WorkflowRunExportData:
      type: object
      properties:
        file_id: {type: string}
        download_url:
          type: string
          format: uri
          description: 临时下载地址；当前实现通常约 1 小时，未作为稳定 SLA。
        filename: {type: string}
        file_size: {type: integer, minimum: 0}
        format:
          type: string
          enum: [excel, word, markdown, json]
        report_mode:
          type: string
          enum: [merged, per_run]
        total_runs: {type: integer, minimum: 0, maximum: 200}
        included_runs: {type: integer, minimum: 0, maximum: 200}
        skipped_runs: {type: integer, minimum: 0, maximum: 200}
        run_summaries:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowRunExportSummary'
        export_time:
          type: string
          format: date-time
      required: [file_id, download_url, filename, file_size, format, report_mode, total_runs, included_runs, skipped_runs, run_summaries, export_time]
    WorkflowRunExportSummary:
      type: object
      properties:
        run_id: {type: string}
        status: {type: string}
        started_at:
          type: [string, 'null']
          format: date-time
        ended_at:
          type: [string, 'null']
          format: date-time
        included_nodes: {type: integer, minimum: 0}
        skipped_nodes: {type: integer, minimum: 0}
      required: [run_id, status, started_at, ended_at, included_nodes, skipped_nodes]
    SimpleResponse:
      type: object
      properties:
        code:
          oneOf:
            - type: string
            - type: integer
          description: 业务码。成功通常为 success 或 200。
        message:
          type: string
          description: 返回信息。
        tips:
          type:
            - string
            - 'null'
          description: 详细信息，默认为空。
    HTTPValidationError:
      type: object
      description: FastAPI/Pydantic 请求参数校验错误。
      properties:
        detail:
          type: array
          items:
            $ref: '#/components/schemas/ValidationErrorItem'
      required: [detail]
    ValidationErrorItem:
      type: object
      additionalProperties: true
      properties:
        type:
          type: string
          description: 校验错误类型。
        loc:
          type: array
          description: 错误字段在请求中的位置。
          items:
            oneOf:
              - type: string
              - type: integer
        msg:
          type: string
          description: 可读的错误说明。
        input:
          description: 导致校验失败的输入值。
        ctx:
          type: object
          additionalProperties: true
          description: 校验器提供的补充上下文。
        url:
          type: string
          format: uri
          description: Pydantic 错误说明链接。
      required: [type, loc, msg]
    DocumentFileRequest:
      oneOf:
        - title: 使用文件 URL
          type: object
          additionalProperties: false
          properties:
            app_id:
              default: *documentRecognitionAppId
              type: string
              description: 应用的唯一标识。
            file_url:
              default: *documentRecognitionFileUrl
              type: string
              format: uri
              description: 待处理文件 URL，与 file_base64 二选一。
            file_name:
              type: string
              description: 文件名称。使用 Base64 或无法从 URL 判断文件名时可传入。
            model_params:
              $ref: '#/components/schemas/DocumentRecognizeModelParams'
          required: [app_id, file_url]
        - title: 使用文件 Base64
          type: object
          additionalProperties: false
          properties:
            app_id:
              default: *documentRecognitionAppId
              type: string
              description: 应用的唯一标识。
            file_base64:
              default: *documentRecognitionFileBase64
              type: string
              description: 待处理文件 Base64，与 file_url 二选一。
            file_name:
              type: string
              description: 文件名称。使用 Base64 或无法从 URL 判断文件名时可传入。
            model_params:
              $ref: '#/components/schemas/DocumentRecognizeModelParams'
          required: [app_id, file_base64]
    DocumentRecognizeModelParams:
      type: object
      additionalProperties: true
      description: |
        本次文档解析的模型调用参数。未传时使用应用已保存的解析配置；如需临时覆盖解析配置，在 recognize_config 中传入对应字段。
      properties:
        recognize_config:
          $ref: '#/components/schemas/DocumentRecognizeConfig'
    DocumentRecognizeConfig:
      type: object
      additionalProperties: false
      description: 本次调用使用的解析配置。
      properties:
        recognize_mode:
          type: string
          enum: [standard, advance, agentic, fast_vlm, agentic_v2]
          default: standard
          description: |
            解析模式。可选值如下：

            - standard：标准解析，适用于清晰的电子版文档，速度和准确率均衡。
            - advance：增强解析 1.0，适用于印章、签名、多表格等版式较复杂的文档。
            - agentic：智能解析，组合标准解析与增强解析，并按条件进行二次解析。
            - fast_vlm：增强解析 2.0，适用于复杂版式、扫描件、多表格等文档，提升解析稳定性。
            - agentic_v2：智能解析 2.0，采用两阶段版面分析与内容识别，适用于复杂版式、表格和公式文档。
        enable_highlight:
          type: integer
          enum: [0, 1]
          default: 1
          description: 是否显示来源位置。1 表示保留文本块和表格在原文中的位置；0 表示不返回位置。standard、agentic、fast_vlm、agentic_v2 模式支持，advance 模式不支持。
        enable_pdf_parse:
          type: boolean
          default: false
          description: 是否启用 PDF 文本优先。仅对可复制文字的电子 PDF 生效，可提升处理速度和文字稳定性。
        pdf_pic_second_parsing:
          type: boolean
          default: false
          description: 启用 PDF 文本优先时，是否对 PDF 中的图片区域进行 VLM 二次解析。
        enable_stamp_recognition:
          type: boolean
          default: false
          description: 是否启用印章识别。开启后会识别文档中的印章信息，并尝试提取印章文字。
    DocumentExtractRequest:
      oneOf:
        - title: 使用文件 URL
          type: object
          additionalProperties: false
          properties:
            app_id:
              default: app_abc123
              type: string
              description: 应用的唯一标识。
            file_url:
              default: *documentRecognitionFileUrl
              type: string
              format: uri
              description: 待处理文件 URL，与 file_base64 二选一。
            file_name:
              type: string
              description: 文件名称。使用 Base64 或无法从 URL 判断文件名时可传入。
            with_rec_result:
              type: boolean
              description: 是否返回文档解析结果。高速版抽取不返回解析结果。
              default: false
          required: [app_id, file_url]
        - title: 使用文件 Base64
          type: object
          additionalProperties: false
          properties:
            app_id:
              default: app_abc123
              type: string
              description: 应用的唯一标识。
            file_base64:
              default: JVBERi0xLjQKJcfs...
              type: string
              description: 待处理文件 Base64，与 file_url 二选一。
            file_name:
              type: string
              description: 文件名称。使用 Base64 或无法从 URL 判断文件名时可传入。
            with_rec_result:
              type: boolean
              description: 是否返回文档解析结果。高速版抽取不返回解析结果。
              default: false
          required: [app_id, file_base64]
    DocumentExtractResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/DocumentExtractData'
    DocumentExtractData:
      type: object
      properties:
        task_id:
          type: string
        file_url:
          type: string
        message:
          type: string
          description: 任务状态或处理结果说明。
        status:
          type: integer
          enum: [0, 1, 2, 4, 5, 6]
          description: 0=未知，1=就绪，2=运行中，4=成功，5=失败，6=取消或拒绝。
        doc_recognize_result:
          type: array
          items:
            $ref: '#/components/schemas/RecognizePage'
        extraction_result:
          type: array
          items:
            $ref: '#/components/schemas/ExtractionField'
        extract_config_version:
          type: string
          description: 本次抽取使用的配置版本。
        collaboration_result:
          type: array
          items:
            type: object
            additionalProperties: true
        output_result:
          type: array
          items:
            type: object
            additionalProperties: true
        metadata:
          type:
            - object
            - 'null'
          additionalProperties: true
          description: 文档处理任务元数据。
        aigc:
          oneOf:
            - $ref: '#/components/schemas/AigcLabel'
            - type: 'null'
          description: AI 生成内容合规标识。
        spreadsheet_manifest_file_id:
          type: string
          description: Excel 原生预览 Manifest 文件 ID；非 Excel 文档通常返回空字符串。
        spreadsheet_manifest_url:
          type: string
          description: Excel 原生预览 Manifest 下载地址；非 Excel 文档通常返回空字符串。
        spreadsheet_billing:
          type:
            - object
            - 'null'
          additionalProperties: true
          description: Excel 工作表与内嵌图片计费信息。
    DocumentRecognizeResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                task_id:
                  type: string
                file_url:
                  type: string
                message:
                  type: string
                  description: 任务状态或处理结果说明。
                status:
                  type: integer
                  enum: [0, 1, 2, 4, 5, 6]
                  description: 0=未知，1=就绪，2=运行中，4=成功，5=失败，6=取消或拒绝。
                doc_recognize_result:
                  type: array
                  items:
                    $ref: '#/components/schemas/RecognizePage'
                metadata:
                  type: object
                  additionalProperties: true
                  description: 文档处理任务元数据。
                aigc:
                  oneOf:
                    - $ref: '#/components/schemas/AigcLabel'
                    - type: 'null'
                  description: AI 生成内容合规标识。
                convert_result:
                  type: object
                  additionalProperties: true
                  description: 文档转换结果；Excel 文件会携带原生预览 Manifest 与计费信息。
                spreadsheet:
                  type: object
                  additionalProperties: true
                  description: Excel 原生结构摘要。
    AigcLabel:
      type: object
      properties:
        Label:
          type: string
          description: 内容标识类型。
        ContentProducer:
          type: string
          description: 内容生成服务提供者编码。
        ProduceID:
          type: string
          description: 内容制作编号。
        ReservedCode1:
          type: string
          description: 内容生成侧预留校验码。
        ContentPropagator:
          type: string
          description: 内容传播服务提供者编码。
        PropagateID:
          type: string
          description: 内容传播编号。
        ReservedCode2:
          type: string
          description: 内容传播侧预留校验码。
        ProcessingTypes:
          type: array
          description: 本次响应涉及的 AI 处理类型。
          items:
            type: string
    RecognizePage:
      type: object
      properties:
        page_num:
          type: integer
        document_content:
          type: string
        document_details:
          type: array
          items:
            $ref: '#/components/schemas/DocumentDetail'
        stamps:
          type: array
          description: 印章识别结果。仅在开启 enable_stamp_recognition 且识别到印章时返回。
          items:
            type: object
            additionalProperties: true
    DocumentDetail:
      type: object
      properties:
        type:
          type: string
        text:
          type: string
        position:
          type: array
          items:
            type: object
            properties:
              points:
                type: array
                items:
                  $ref: '#/components/schemas/Point'
        ocr_confidence:
          type: object
          properties:
            ocr_mean_confidence:
              type: number
            ocr_min_confidence:
              type: number
            is_overall_confidence:
              type: integer
    Point:
      type: object
      properties:
        x:
          type: number
        y:
          type: number
    ExtractionField:
      type: object
      additionalProperties: true
      properties:
        field_key:
          type: string
        field_name:
          type: string
        field_values:
          type: array
          items:
            type: object
            additionalProperties: true
        references:
          type: array
          items:
            type: object
            additionalProperties: true
        table_values:
          type: array
          items:
            type: array
            items:
              type: object
              additionalProperties: true
    ExtractionFieldConfig:
      type: object
      additionalProperties: false
      properties:
        field_key:
          type: string
          pattern: '^[A-Za-z][A-Za-z0-9_]{0,63}$'
          description: 字段唯一标识。创建高速版自定义抽取应用时必填；标准版不要求传入。
        field_name:
          type: string
          minLength: 1
          maxLength: 50
          description: 字段名称。
        field_type:
          type: string
          enum: [string, date, table]
          description: 字段类型。表格字段使用 table。
        field_prompt:
          type: string
          description: 字段抽取提示词。
        sub_fields:
          type: array
          minItems: 1
          maxItems: 20
          description: 表格子字段。field_type 为 table 时必须至少提供 1 个有效子字段。
          items:
            $ref: '#/components/schemas/ExtractionSubFieldConfig'
      required: [field_name, field_type]
    ExtractionSubFieldConfig:
      type: object
      additionalProperties: false
      properties:
        field_key:
          type: string
          pattern: '^[A-Za-z][A-Za-z0-9_]{0,63}$'
          description: 子字段唯一标识。创建高速版自定义抽取应用时必填；标准版不要求传入。
        field_name:
          type: string
          minLength: 1
          maxLength: 50
          description: 子字段名称。
        field_type:
          type: string
          enum: [string, date]
          description: 子字段类型。表格内不允许再嵌套表格。
        field_prompt:
          type: string
          description: 子字段抽取提示词。
      required: [field_name, field_type]
    LongDocConfig:
      type: object
      additionalProperties: false
      properties:
        doc_type:
          type: string
          description: 文档类型。
        doc_desc:
          type: string
          description: 文档类型描述。
      required: [doc_type]
    ExtractionAppCreateRequest:
      description: 先设置 ai_function。ai_function 为 1406 时使用标准版自定义抽取应用参数；为 1425 时使用高速版自定义抽取应用参数。
      discriminator:
        propertyName: ai_function
        mapping:
          '1406': '#/components/schemas/StandardExtractionAppCreateRequest'
          '1425': '#/components/schemas/HighSpeedExtractionAppCreateRequest'
      oneOf:
        - $ref: '#/components/schemas/StandardExtractionAppCreateRequest'
        - $ref: '#/components/schemas/HighSpeedExtractionAppCreateRequest'
    StandardExtractionAppCreateRequest:
      type: object
      additionalProperties: false
      title: 创建标准版自定义抽取应用
      properties:
        ai_function:
          type: integer
          enum: [1406]
          default: 1406
          description: 应用类型。创建标准自定义抽取应用传 1406；不传时默认按 1406 处理。
        app_name:
          type: string
          minLength: 1
          maxLength: 100
          description: 应用名称。
        app_label:
          type: array
          maxItems: 5
          description: 应用标签列表，最多 5 个。
          items:
            type: string
        extract_fields:
          type: array
          minItems: 1
          maxItems: 20
          description: 抽取字段配置列表，最多 20 个字段。
          items:
            $ref: '#/components/schemas/ExtractionFieldConfig'
        parse_mode:
          type: string
          enum: [standard, advance, agentic, fast_vlm, agentic_v2]
          description: |
            解析模式。标准版自定义抽取应用必填。可选解析模式如下：

            - standard：标准解析，适用于清晰的电子版文档，速度和准确率均衡。
            - advance：增强解析 1.0，适用于印章、签名、多表格等版式较复杂的文档。
            - agentic：智能解析，组合标准解析与增强解析，并按条件进行二次解析。
            - fast_vlm：增强解析 2.0，适用于复杂版式、扫描件、多表格等文档，提升解析稳定性。
            - agentic_v2：智能解析 2.0，采用两阶段版面分析与内容识别，适用于复杂版式、表格和公式文档。
        enable_highlight:
          type: integer
          enum: [0, 1]
          default: 1
          description: 是否显示来源位置。传 1 开启，传 0 关闭；standard、agentic、fast_vlm、agentic_v2 支持，advance 不支持。
        enable_pdf_parse:
          type: boolean
          default: false
          description: 是否开启 PDF 文本优先。适合可复制文字的电子 PDF，可提升处理速度和文字稳定性。
        pdf_pic_second_parsing:
          type: boolean
          default: false
          description: 开启 PDF 文本优先时，是否对 PDF 中的图片进行二次解析。
        enable_stamp_recognition:
          type: boolean
          default: false
          description: 是否开启印章识别。开启后会尝试识别文档中的印章信息，需要印章识别能力授权。
        enable_field_value_translation:
          type: boolean
          default: false
          description: 是否开启抽取结果翻译，默认关闭。
        enable_long_doc:
          type: boolean
          default: false
          description: 是否开启长文档支持。
        long_doc_config:
          type: array
          maxItems: 5
          description: 长文档配置，仅 enable_long_doc 为 true 时使用。
          items:
            $ref: '#/components/schemas/LongDocConfig'
      required: [ai_function, app_name, extract_fields, parse_mode]
    HighSpeedExtractionAppCreateRequest:
      type: object
      additionalProperties: false
      title: 创建高速版抽取应用
      properties:
        ai_function:
          type: integer
          enum: [1425]
          default: 1425
          description: 应用类型。创建高速版自定义抽取应用固定传 1425。
        app_name:
          type: string
          minLength: 1
          maxLength: 100
          description: 应用名称。
        app_label:
          type: array
          maxItems: 5
          description: 应用标签列表，最多 5 个。
          items:
            type: string
        extract_fields:
          type: array
          minItems: 1
          maxItems: 50
          description: 高速版抽取字段配置列表，最多 50 个字段。每个字段都需要提供 field_key。
          items:
            $ref: '#/components/schemas/HighSpeedExtractionFieldConfig'
        enable_field_value_translation:
          type: boolean
          default: false
          description: 是否开启抽取结果翻译，默认关闭。
      required: [ai_function, app_name, extract_fields]
    HighSpeedExtractionFieldConfig:
      type: object
      additionalProperties: false
      title: 高速版字段
      description: 高速版字段配置。普通字段的 field_type 为 string 或 date，不要传 sub_fields；表格字段的 field_type 为 table，必须传 sub_fields。
      properties:
        field_key:
          type: string
          pattern: '^[A-Za-z][A-Za-z0-9_]{0,63}$'
          description: 字段唯一标识。必须以英文字母开头，只能包含英文字母、数字和下划线，最多 64 个字符。
        field_name:
          type: string
          minLength: 1
          maxLength: 50
          description: 字段名称。
        field_type:
          type: string
          enum: [string, date, table]
          description: 字段类型。普通字段使用 string 或 date；表格字段使用 table。
        field_prompt:
          type: string
          maxLength: 200
          description: 字段抽取提示词。
        sub_fields:
          type: array
          maxItems: 30
          description: 表格子字段。仅 field_type 为 table 时填写，且必须至少提供 1 个有效子字段；普通字段不要传该参数。
          items:
            $ref: '#/components/schemas/HighSpeedExtractionSubFieldConfig'
          examples:
            - - field_key: item_name
                field_name: 商品名称
                field_type: string
      required: [field_key, field_name, field_type]
      allOf:
        - if:
            properties:
              field_type:
                const: table
            required: [field_type]
          then:
            required: [sub_fields]
            properties:
              sub_fields:
                minItems: 1
    HighSpeedExtractionSubFieldConfig:
      type: object
      additionalProperties: false
      properties:
        field_key:
          type: string
          pattern: '^[A-Za-z][A-Za-z0-9_]{0,63}$'
          description: 子字段唯一标识。必须以英文字母开头，只能包含英文字母、数字和下划线，最多 64 个字符。
        field_name:
          type: string
          minLength: 1
          maxLength: 50
          description: 子字段名称。
        field_type:
          type: string
          enum: [string, date]
          description: 子字段类型。表格内不允许再嵌套表格。
        field_prompt:
          type: string
          maxLength: 200
          description: 子字段抽取提示词。
      required: [field_key, field_name, field_type]
    ExtractionAppUpdateRequest:
      oneOf:
        - $ref: '#/components/schemas/StandardExtractionAppUpdateRequest'
        - $ref: '#/components/schemas/HighSpeedExtractionAppUpdateRequest'
    StandardExtractionAppUpdateRequest:
      type: object
      additionalProperties: false
      title: 修改标准版自定义抽取应用
      properties:
        app_id:
          type: string
          description: 应用 ID。
        app_name:
          type: string
          description: 应用名称。不传或传空字符串时不更新应用名称。
        config_version:
          type: string
          description: 当前配置版本。修改后会另存为新版本。
        app_label:
          type: array
          maxItems: 5
          description: 应用标签列表，最多 5 个。
          items:
            type: string
        extract_fields:
          type: array
          maxItems: 20
          description: 抽取字段配置列表，最多 20 个字段。
          items:
            $ref: '#/components/schemas/ExtractionFieldConfig'
        parse_mode:
          type: string
          enum: [standard, advance, agentic, fast_vlm, agentic_v2]
          description: |
            解析模式。标准版自定义抽取应用必填；高速版自定义抽取应用不支持设置该参数。可选解析模式如下：

            - standard：标准解析，适用于清晰的电子版文档，速度和准确率均衡。
            - advance：增强解析 1.0，适用于印章、签名、多表格等版式较复杂的文档。
            - agentic：智能解析，组合标准解析与增强解析，并按条件进行二次解析。
            - fast_vlm：增强解析 2.0，适用于复杂版式、扫描件、多表格等文档，提升解析稳定性。
            - agentic_v2：智能解析 2.0，采用两阶段版面分析与内容识别，适用于复杂版式、表格和公式文档。
        enable_highlight:
          type: integer
          enum: [0, 1]
          default: 1
          description: 是否显示来源位置。传 1 开启，传 0 关闭；standard、agentic、fast_vlm、agentic_v2 支持，advance 不支持。
        enable_pdf_parse:
          type: boolean
          default: false
          description: 是否开启 PDF 文本优先。适合可复制文字的电子 PDF，可提升处理速度和文字稳定性。
        pdf_pic_second_parsing:
          type: boolean
          default: false
          description: 开启 PDF 文本优先时，是否对 PDF 中的图片进行二次解析。
        enable_stamp_recognition:
          type: boolean
          default: false
          description: 是否开启印章识别。开启后会尝试识别文档中的印章信息，需要印章识别能力授权。
        enable_field_value_translation:
          type: boolean
          default: false
          description: 是否开启抽取结果翻译，默认关闭。
        enable_long_doc:
          type: boolean
          default: false
          description: 是否开启长文档支持。标准版自定义抽取应用支持该参数；高速版自定义抽取应用不支持该参数的设置。
        long_doc_config:
          type: array
          maxItems: 5
          description: 长文档配置，仅 enable_long_doc 为 true 时使用。
          items:
            $ref: '#/components/schemas/LongDocConfig'
      required: [app_id, extract_fields, parse_mode]
    HighSpeedExtractionAppUpdateRequest:
      type: object
      additionalProperties: false
      title: 修改高速版抽取应用
      properties:
        app_id:
          type: string
          description: 高速版自定义抽取应用 ID。
        app_name:
          type: string
          description: 应用名称。不传或传空字符串时不更新应用名称。
        config_version:
          type: string
          description: 当前配置版本。修改后会另存为新版本。
        app_label:
          type: array
          maxItems: 5
          description: 应用标签列表，最多 5 个。
          items:
            type: string
        extract_fields:
          type: array
          minItems: 1
          maxItems: 50
          description: 高速版抽取字段配置列表，最多 50 个字段。每个字段都需要提供 field_key。
          items:
            $ref: '#/components/schemas/HighSpeedExtractionFieldConfig'
        enable_field_value_translation:
          type: boolean
          default: false
          description: 是否开启抽取结果翻译，默认关闭。
      required: [app_id, extract_fields]
    AppIdRequest:
      type: object
      additionalProperties: false
      properties:
        app_id:
          type: string
          description: 应用 ID。删除高速版自定义抽取应用时，传入高速版应用的 app_id。
      required: [app_id]
    AppVersionDeleteRequest:
      type: object
      additionalProperties: false
      properties:
        app_id:
          type: string
          description: 应用 ID。删除高速版自定义抽取应用配置时，传入高速版应用的 app_id。
        config_version:
          type: string
          description: 要删除的配置版本。
      required: [app_id, config_version]
    AppConfigQueryRequest:
      type: object
      additionalProperties: false
      properties:
        app_id:
          type: string
          description: 应用 ID。查询高速版自定义抽取应用配置时，传入高速版应用的 app_id。
        config_version:
          type: string
          description: 配置版本。可选，默认返回最新版本。
      required: [app_id]
    AiRecommendRequest:
      type: object
      additionalProperties: false
      description: 智能体生成字段配置请求。标准版应用至少提供 prompt、file_url 或 file_base64 之一；高速版应用仍必须提供 file_url 或 file_base64，prompt 只作为辅助说明。应用类型由 app_id 对应的应用决定，因此 OpenAPI 无法仅根据请求字段进一步区分两种条件约束。
      properties:
        app_id:
          type: string
          description: 应用 ID。传入高速版自定义抽取应用时，返回高速版自动生成配置预览。
        file_base64:
          type: string
          description: 文件 Base64 编码。高速版应用与 file_url 二选一必填。
        file_url:
          type: string
          format: uri
          description: 文件 URL。高速版应用与 file_base64 二选一必填。
        prompt:
          type: string
          description: 用户提供的生成提示。标准版可只传 prompt；高速版需要同时提供文件。
        doc_type:
          type: string
          description: 文档类型。标准版自动生成建议时可传入；高速版会根据文档自动识别。
        doc_type_description:
          type: string
          description: 文档类型描述。标准版自动生成建议时可传入。
      required: [app_id]
      anyOf:
        - required: [prompt]
        - required: [file_base64]
        - required: [file_url]
    ExtractionAppResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/ExtractionAppCreateData'
    ExtractionAppCreateData:
      type: object
      properties:
        app_id:
          type: string
          description: 应用 ID。
        app_name:
          type: string
          description: 应用名称。
        app_label:
          type:
            - array
            - 'null'
          description: 应用标签列表。
          items:
            type: string
        config_version:
          type: string
          description: 初始配置版本号。
      required: [app_id, app_name, app_label, config_version]
    ExtractionAppDeleteResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                success:
                  type: boolean
                  description: 是否删除成功。
                message:
                  type: string
                  description: 操作消息。
    ExtractionAppUpdateResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/ExtractionAppUpdateData'
    ExtractionAppUpdateData:
      type: object
      properties:
        config_version:
          type: string
          description: 新配置版本号。
      required: [config_version]
    ExtractionAppVersionDeleteResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                success:
                  type: boolean
                  description: 是否删除成功。
                message:
                  type: string
                  description: 操作消息。
    AppListResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/AppListData'
    AppListData:
      type: object
      properties:
        range:
          $ref: '#/components/schemas/PaginationRange'
        list:
          type: array
          items:
            $ref: '#/components/schemas/AppListItem'
      required: [range, list]
    PaginationRange:
      type: object
      properties:
        offset:
          type: integer
          minimum: 0
        size:
          type: integer
          minimum: 0
        total:
          type: integer
          minimum: 0
      required: [offset, size, total]
    AppListItem:
      type: object
      description: 应用列表中的非敏感公开字段。凭证及内部配置字段不会在公共 schema 中声明。
      properties:
        id:
          type: string
          description: 应用 ID。
        app_type:
          type: integer
          description: 应用类型。1 表示自定义应用，0 表示开箱即用。
        ai_function:
          type: integer
          description: AI 能力类型。
        app_name:
          type: string
          description: 应用名称。
        app_label:
          type:
            - array
            - 'null'
          description: 应用标签列表。
          items:
            type: string
        created_at:
          type: string
          format: date-time
          description: 创建时间。
        updated_at:
          type: string
          format: date-time
          description: 更新时间。
        engine_type:
          type: string
          description: 应用引擎类型。
[...]
