openapi: 3.1.0
info:
  title: ADP API
  version: 1.0.0
  description: Laiye ADP 官方 OpenAPI 接口规范，覆盖文档抽取、文档解析、抽取应用管理、积分查询、工作流运行和工作流文件管理。
  license:
    name: MIT
    identifier: MIT
servers:
  - url: https://adp.laiye.com
    description: ADP 生产环境
tags:
  - name: 文档抽取
    description: 从上传的文档中抽取结构化字段。
  - name: 文档解析
    description: 识别上传文档中的文字、版面块和位置信息。
  - name: 应用管理
    description: 创建、修改、删除和查询抽取应用及配置。
  - name: 账户
    description: 查询账户积分和使用情况。
  - name: 工作流
    description: 运行工作流应用并查询执行结果。
  - name: 工作流文件
    description: 上传和管理工作流应用使用的文件。
paths:
  /open/agentic_doc_processor/{tenant_name}/v1/app/doc/extract:
    post:
      tags: [文档抽取]
      summary: 文档抽取（同步接口）
      description: 针对用户上传的文档，调用指定的文档抽取应用，根据应用配置和规则从文件中提取指定内容。同一接口适用于自定义抽取应用、海外发票、收据、采购订单、国内通用票据和卡证等场景。
      operationId: extractDocument
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        $ref: '#/components/requestBodies/DocumentExtractRequest'
      responses:
        '200':
          $ref: '#/components/responses/DocumentExtractResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app/doc/extract/create/task:
    post:
      tags: [文档抽取]
      summary: 创建文档抽取异步任务
      description: 创建文档抽取任务并立即返回 task_id。适用于大文档或长时间抽取任务。
      operationId: createDocumentExtractTask
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        $ref: '#/components/requestBodies/DocumentExtractRequest'
      responses:
        '200':
          $ref: '#/components/responses/TaskCreateResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app/doc/extract/query/task/{task_id}:
    get:
      tags: [文档抽取]
      summary: 查询文档抽取任务结果
      description: 根据创建任务接口返回的 task_id 查询文档抽取状态和结果。
      operationId: queryDocumentExtractTask
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - $ref: '#/components/parameters/TaskId'
      responses:
        '200':
          $ref: '#/components/responses/DocumentExtractResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app/doc/recognize:
    post:
      tags: [文档解析]
      summary: 文档解析（同步接口）
      description: 接受用户上传的文档，识别文档中的文字内容和文本块位置信息。
      operationId: recognizeDocument
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        $ref: '#/components/requestBodies/DocumentFileRequest'
      responses:
        '200':
          $ref: '#/components/responses/DocumentRecognizeResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app/doc/recognize/create/task:
    post:
      tags: [文档解析]
      summary: 创建文档解析异步任务
      description: 创建文档解析任务并立即返回 task_id。
      operationId: createDocumentRecognizeTask
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        $ref: '#/components/requestBodies/DocumentFileRequest'
      responses:
        '200':
          $ref: '#/components/responses/TaskCreateResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app/doc/recognize/query/task/{task_id}:
    get:
      tags: [文档解析]
      summary: 查询文档解析任务结果
      description: 根据创建任务接口返回的 task_id 查询文档解析状态和结果。
      operationId: queryDocumentRecognizeTask
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - $ref: '#/components/parameters/TaskId'
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          $ref: '#/components/responses/DocumentRecognizeResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app-manage/create:
    post:
      tags: [应用管理]
      summary: 创建抽取应用
      description: 创建标准版或高速版自定义抽取应用，并设置标签、字段配置和抽取配置。创建高速版自定义抽取应用时，设置 ai_function 为 1425，且字段和表格子字段需要提供 field_key。
      operationId: createExtractionApp
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/ExtractionAppCreateRequest'
      responses:
        '200':
          $ref: '#/components/responses/ExtractionAppResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app-manage/delete:
    post:
      tags: [应用管理]
      summary: 删除抽取应用
      description: 删除抽取应用，删除后无法恢复。删除高速版自定义抽取应用时，复用该接口并传入高速版应用的 app_id。
      operationId: deleteExtractionApp
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/AppIdRequest'
      responses:
        '200':
          $ref: '#/components/responses/ExtractionAppDeleteResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app-manage/update:
    post:
      tags: [应用管理]
      summary: 修改抽取应用
      description: 更新抽取应用的名称、标签、字段配置和抽取配置，并创建新的配置版本。修改高速版自定义抽取应用时，复用该接口并传入高速版应用的 app_id；请求体不需要传 ai_function。高速版自定义抽取应用不支持设置 parse_mode 和 enable_long_doc。
      operationId: updateExtractionApp
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/ExtractionAppUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/ExtractionAppUpdateResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app-manage/config:
    post:
      tags: [应用管理]
      summary: 查询应用配置
      description: 根据 app_id 查询抽取应用配置。查询高速版自定义抽取应用配置时，传入高速版应用的 app_id；不传 config_version 时返回最新配置版本。
      operationId: getExtractionAppConfig
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/AppConfigQueryRequest'
      responses:
        '200':
          description: 应用配置。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppConfigResponse'
              examples:
                highSpeedConfig:
                  value:
                    code: 200
                    message: success
                    data:
                      app_id: app_1425
                      app_name: 高速版发票抽取应用
                      app_label: [invoice, high-speed]
                      config_version: v1
                      extract_fields:
                        - field_name: 发票号码
                          field_type: string
                          field_prompt: 抽取发票上的唯一发票号码。
                      parse_mode: standard
                      enable_long_doc: false
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app-list:
    get:
      tags: [应用管理]
      summary: 查询应用列表
      description: 查询应用列表。查询高速版自定义抽取应用列表时，设置 ai_function=1425。
      operationId: listExtractionApps
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - name: app_name
          in: query
          required: false
          description: 按应用名称过滤，支持模糊匹配。
          schema:
            type: string
        - name: ai_function
          in: query
          required: false
          description: 按 AI 能力过滤。高速版自定义抽取应用传 1425；标准自定义抽取应用传 1406。
          schema:
            type: integer
            enum: [1406, 1425]
        - name: app_type
          in: query
          required: false
          description: 应用类型。1=自定义应用，0=系统预设。
          schema:
            type: integer
            enum: [0, 1]
        - name: with_extra
          in: query
          required: false
          description: 是否查询扩展信息。
          schema:
            type: integer
            enum: [0, 1]
            default: 1
        - name: offset
          in: query
          required: false
          description: 分页偏移量。
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: limit
          in: query
          required: false
          description: 每页数量。
          schema:
            type: integer
            default: 1000
            minimum: 1
      responses:
        '200':
          $ref: '#/components/responses/AppListResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app-manage/version/delete:
    post:
      tags: [应用管理]
      summary: 删除抽取应用的配置
      description: 删除应用下某一个版本的字段配置信息。删除高速版自定义抽取应用的配置时，复用该接口并传入高速版应用的 app_id 和要删除的 config_version。
      operationId: deleteExtractionAppVersion
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/AppVersionDeleteRequest'
      responses:
        '200':
          $ref: '#/components/responses/ExtractionAppVersionDeleteResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app-manage/ai-recommend:
    post:
      tags: [应用管理]
      summary: 智能体生成抽取字段提示词
      description: 基于示例文档或提示词，AI 自动生成字段名称、字段类型和字段提示词等配置参考。传入高速版自定义抽取应用的 app_id 时，会进入高速版自动生成配置服务，返回 common_rule、field_rule、table_rule 等配置预览；该接口不会保存配置版本，也不会自动回填到 Web 页面应用中。高速版应用必须提供 file_url 或 file_base64，prompt 仅作为辅助生成提示。
      operationId: recommendExtractionFields
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/AiRecommendRequest'
      responses:
        '200':
          $ref: '#/components/responses/AiRecommendResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/user/payment:
    post:
      tags: [账户]
      summary: 查看用户积分使用情况
      description: 无需请求体，根据 X-API-KEY 获取当前用户积分信息。
      operationId: getUserPayment
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      responses:
        '200':
          $ref: '#/components/responses/UserPaymentResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_engine/laiye/v1/app/run:
    post:
      tags: [工作流]
      summary: 运行应用（同步接口）
      description: 同步运行工作流应用的发布版本，阻塞等待执行完成后返回结果。
      operationId: runDocFlowApp
      security:
        - EngineApiKeyAuth: []
      requestBody:
        $ref: '#/components/requestBodies/DocFlowRunRequest'
      responses:
        '200':
          $ref: '#/components/responses/DocFlowRunResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_engine/laiye/v1/app/run/create/task:
    post:
      tags: [工作流]
      summary: 创建运行应用异步任务
      description: 异步触发工作流应用运行，立即返回 run_id，不等待执行完成。
      operationId: createDocFlowRunTask
      security:
        - EngineApiKeyAuth: []
      requestBody:
        $ref: '#/components/requestBodies/DocFlowRunRequest'
      responses:
        '200':
          $ref: '#/components/responses/DocFlowRunResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_engine/laiye/v1/app/run/query/task/{run_id}:
    get:
      tags: [工作流]
      summary: 查询运行结果
      description: 根据 run_id 查询工作流应用运行状态和结果。
      operationId: queryDocFlowRunTask
      security:
        - EngineApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RunId'
      responses:
        '200':
          $ref: '#/components/responses/DocFlowRunResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_engine/laiye/files/upload:
    post:
      tags: [工作流文件]
      summary: 文件上传
      description: 上传文件到智能引擎存储，返回文件 ID 和下载地址。上传后的文件可在运行工作流接口的 files 参数中使用。
      operationId: uploadDocFlowFile
      security:
        - EngineApiKeyAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FileUploadRequest'
      responses:
        '200':
          $ref: '#/components/responses/FileResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_engine/laiye/files/{file_id}:
    get:
      tags: [工作流文件]
      summary: 获取文件信息
      description: 根据文件 ID 获取文件元信息。
      operationId: getDocFlowFile
      security:
        - EngineApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/FileId'
      responses:
        '200':
          $ref: '#/components/responses/FileResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_engine/laiye/files/{file_id}/delete:
    post:
      tags: [工作流文件]
      summary: 删除文件
      description: 删除指定文件。该操作不可恢复。
      operationId: deleteDocFlowFile
      security:
        - EngineApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/FileId'
      responses:
        '200':
          $ref: '#/components/responses/FileDeleteResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
      description: 生产环境的用户 OpenAPI Accessor access_key，在 ADP 平台的「我的 API」中查看。key 被禁用、过期或不属于生产环境时会返回 Accessor not found。
    EngineApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: 工作流智能引擎 API 访问密钥。
  parameters:
    TenantName:
      name: tenant_name
      in: path
      required: true
      description: 租户名称，默认 laiye。
      schema:
        type: string
        default: laiye
    TaskId:
      name: task_id
      in: path
      required: true
      description: 任务 ID。
      schema:
        type: string
    RunId:
      name: run_id
      in: path
      required: true
      description: 运行 ID。
      schema:
        type: string
    FileId:
      name: file_id
      in: path
      required: true
      description: 文件 ID。
      schema:
        type: string
    AcceptLanguage:
      name: accept-language
      in: header
      required: false
      description: 返回字段名称的语言。默认 zh 返回中文字段名；设置为 en 返回英文字段名。
      schema:
        type: string
        enum: [zh, en]
        default: zh
  examples:
    DocumentRecognitionFileBase64:
      summary: 使用文件 Base64
      value:
        file_base64: &documentRecognitionFileBase64 data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAwICQsJCAwLCgsODQwOEh4UEhEREiUbHBYeLCcuLisnKyoxN0Y7MTRCNCorPVM+QkhKTk9OLztWXFVMW0ZNTkv/wAALCAA7AHQBAREA/8QAGwABAAIDAQEAAAAAAAAAAAAAAAQGAgMFAQf/xAAuEAACAgIBAwMDBQABBQAAAAABAgMEBREAEiExBhNBFCIyFVFhcYEWJDVTgqH/2gAIAQEAAD8A+q8cccccccccccccch5Wy1WoXjmghdmCq829Df7Ad2P7D55SK8sVk2BGuXVJpOtcjCLxE6kDThEHT1a7fC9gQNduSPUkyNRw0lCCTJwSFQiy3JVkmUeepCujvtsnvsga5iJJa7z/AE2ZkqT2VdmZET6eGRWSJY9NEW6V6lBOwNg+NnV1C2lsQgPG1cRkSFlPWz9tEa7a87/zm/lXoepppMxBWllrWK1lZSsleCRVQoN/m32yDW/GuQbl7JZOpg79hKqU7eQryRRoG9yNSdr1MTptjzoDX88lTZ/MJTyuQSKl9JjbMqNGQ3XLGh7kHelOv4Oz+3LWjB1DDwRscy444445wsb6ftUMfWqLn7/TXiWMdEUAGgNdgYydf2T/AGeZVfTsdenj4fe65qZTcxTRdVJOtb7dzxB6djSw4laJ6IrPWjrLERpHILdTFj1EkedDyedNagWeGRJplSGMxiLq2jb13O+5I12O/k83OodGRhtWGiP3HOJQ9L1qVilKLdyYUVaOvHK6lUQr09Ogo2NfJ79vPMIvSNSM1VFy8a9OdZ69cyr7cRB2APt2R8dydDxrkWl6WM5yAyE1qOCzelmaskq+3MhbaluxI2PIBG/kctXHHHHHIGbn9jGWOkzLJIjJG0MMkjKxB0dICR/euUeFJZ6KSQ5fISF4wVkSjlSrHXkMJdH+9f5yflslU9vCRWrWTidQTaaP6qJjHHHt2KABiCxX7iPG+/nmOSnjqi1If1qJoLkRSRGuvH9OChdydlD9vuf58cufvStYiEcIau8ZZpevRU9tDp133s9/jXN/Kj6VsVXsoLdzIDKu0rexZlnVGHU34q32HS68b1zz0vZqGdTcuZAZRmmcwWZZ1Rl6m/FW+w6XXjeuafTuYFp6ORyD5OOS8zGJmbVU7BIiC7+APyIBJXyfHPfTeXFyWhfvvk0lyDN7TM2qpJBIiC7+APyIGyvk+OXTjjjjmMiLIjIw2rAg99duVe76fsQKa2JrzCFYwkUj5u0ntnWh9g2ND9t83Zv0/cuU6sdSxB9RFVkryT2FZmkDR9PkHfkk7JOt70eY5j05NPTeCiZC9iJ45ZJ8nY6Y+oa2sfdW8nsdDsP87/tTCxEyTBa6IVaLo2WPbR6vjWj2/nm/nGTEW58jVt5K/HOKjM8McNf2gGKldsSzE9ifGuFw9ufI1rWSvx2FqMzwxQ1/aHUVK7YlmJ7E+Ncj0/TL13pwyXvdx1CQyVq/sgMp0QoZ9/cFDHXYfG989pemnrvThkvGXH0JDLWr+0AynRChn39wUMddh8b3ywcccccg52xLUwmQsQN0TQ1pJEbQOmCkg6P88rf6rT+j9z/nI932+rp96n+WvGvb55kM9kqmN9PWxbroLlcGf3Yk+9zGG3tpIwO/wCP98c575zOyYp7It2XdMabQapFXVVbcmi4cnY0o/D9vHL59QRYih9mVvcQuZQo6F1rsT+532/o838rctu/jM1RhnyX1i2RK88Hsqvsoqk9a67gbAX7id75Go5PKLHhMlatCSvlpFRqvtqFhDoWQqwGyRoA7J3v45KaxkKGex9aXJC4LfuNNAYVUQoqkh113A6tL9xO98h4L1GMjNDbnyhjWcO8dIV9RlACQBIR9zgAE6b9xr557SyeUEOFyVm2Hgy0gRqwiUCASIWQqdbJGgDsne/jm4/qNTPV6363aswxRNZtrJDCAI+4UfagOyd/PhTzTSyeUEOFyVm2Hgy0gRqwiUCASIWQqdbJGgDsne/jklEycPqKpSTNWrMaxme0ssMIAT8VG1QHZbfz4U8svIOdry28JkK8C9c01aSNF2BtipAGz/POfvPfQez+mY7ftdH/cH341/wCHX/3kOPCZOSLAxpZmomjTVZXUxMFfo6SACp2d+TvWh27nY5knpfIJjL8U0dq1O9YU6whtiMa05LvooCvU+ukhj28HfLtqyLMQURfTBD7hJPX1dta+Ned/5zcd6PTrfxvlZwOLzFIsL9XHSyWT/wBXaW1I0kn9AxjsPAXYAHPaGByMaYynblrNSxTdUDIW9yYqpWPqGtLoHvonZA8cen8bmKDk3auOllsHdu2tqRpJP6BjA0PAXYAHNdP05dWLHY6y9U43Gy+5G6FvdlADBVYa0vZu5BO9fG+bMfgchGMXTuS1mo4p+qF4y3uTdKlU6gRpdA99E7IHjnSx+Mkit5WxbKO12UdPST2iVAqqe3nfUf8A25zcfgchGMXTuS1mo4p+qF4y3uTdKlU6gRpdA99E7IHjnUxePlrX8nbssjSW5gU6CT0xKoCg9vO+o/7zpcccccccccccccccc//Z
        app_id: &documentRecognitionAppId ootb_k7m2x9p4v1n8w3q6r5t0y2b4
    DocumentRecognitionFileUrl:
      summary: 使用文件 URL
      value:
        file_url: &documentRecognitionFileUrl https://adp.laiye.com/web/agentic_doc_processor/laiye/file/2003c711818811f1a36200163e358400
        app_id: *documentRecognitionAppId
  requestBodies:
    DocumentFileRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocumentFileRequest'
          examples:
            fileUrl:
              $ref: '#/components/examples/DocumentRecognitionFileUrl'
            fileBase64:
              $ref: '#/components/examples/DocumentRecognitionFileBase64'
    DocumentExtractRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocumentExtractRequest'
          examples:
            fileUrl:
              value:
                app_id: app_abc123
                file_url: https://adp.laiye.com/web/agentic_doc_processor/laiye/file/2003c711818811f1a36200163e358400
                with_rec_result: false
            fileBase64:
              value:
                app_id: app_abc123
                file_base64: JVBERi0xLjQKJcfs...
                with_rec_result: true
    AppIdRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AppIdRequest'
          examples:
            standardCustomExtractionApp:
              summary: 删除标准版自定义抽取应用
              value:
                app_id: app_abc123
            highSpeedCustomExtractionApp:
              summary: 删除高速版自定义抽取应用
              value:
                app_id: app_1425
    AppVersionDeleteRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AppVersionDeleteRequest'
          examples:
            highSpeedConfigVersion:
              summary: 删除高速版自定义抽取应用配置版本
              value:
                app_id: app_1425
                config_version: v2
    ExtractionAppCreateRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExtractionAppCreateRequest'
          examples:
            standardCustomExtractionApp:
              summary: 创建标准版自定义抽取应用
              value:
                ai_function: 1406
                app_name: 采购单抽取应用
                app_label: [purchase-order]
                extract_fields:
                  - field_name: 订单号
                    field_type: string
                    field_prompt: 抽取采购订单编号。
                  - field_name: 订单日期
                    field_type: date
                    field_prompt: 抽取订单日期。
                parse_mode: standard
                enable_long_doc: false
            highSpeedCustomExtractionApp:
              summary: 创建高速版自定义抽取应用
              value:
                ai_function: 1425
                app_name: 高速版发票抽取应用
                app_label: [invoice, high-speed]
                extract_fields:
                  - field_key: invoice_no
                    field_name: 发票号码
                    field_type: string
                    field_prompt: 抽取发票上的唯一发票号码。
                  - field_key: invoice_date
                    field_name: 开票日期
                    field_type: date
                    field_prompt: 抽取发票开具日期。
                  - field_key: line_items
                    field_name: 明细
                    field_type: table
                    sub_fields:
                      - field_key: item_name
                        field_name: 商品名称
                        field_type: string
                      - field_key: item_date
                        field_name: 日期
                        field_type: date
                enable_field_value_translation: false
    ExtractionAppUpdateRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExtractionAppUpdateRequest'
          examples:
            highSpeedCustomExtractionApp:
              summary: 修改高速版自定义抽取应用
              value:
                app_id: app_1425
                app_name: 高速版发票抽取应用（新版）
                config_version: v1
                app_label: [invoice, high-speed]
                extract_fields:
                  - field_key: invoice_no
                    field_name: 发票号码
                    field_type: string
                    field_prompt: 抽取发票上的唯一发票号码。
                  - field_key: invoice_date
                    field_name: 开票日期
                    field_type: date
                    field_prompt: 抽取发票开具日期。
                  - field_key: total_amount
                    field_name: 价税合计
                    field_type: string
                    field_prompt: 抽取发票价税合计金额。
                  - field_key: line_items
                    field_name: 明细
                    field_type: table
                    sub_fields:
                      - field_key: item_name
                        field_name: 商品名称
                        field_type: string
                      - field_key: item_amount
                        field_name: 金额
                        field_type: string
                enable_field_value_translation: false
    AppConfigQueryRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AppConfigQueryRequest'
          examples:
            highSpeedConfig:
              summary: 查询高速版自定义抽取应用配置
              value:
                app_id: app_1425
            highSpeedConfigVersion:
              summary: 查询高速版指定配置版本
              value:
                app_id: app_1425
                config_version: v1
    AiRecommendRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AiRecommendRequest'
          examples:
            standardCustomExtractionApp:
              summary: 标准版自定义抽取应用生成字段提示词
              value:
                app_id: app_1406
                file_url: https://adp.laiye.com/web/agentic_doc_processor/laiye/file/2003c711818811f1a36200163e358400
                prompt: 请从发票中抽取发票号码、开票日期和价税合计。
            highSpeedCustomExtractionApp:
              summary: 高速版自定义抽取应用自动生成配置预览
              value:
                app_id: app_1425
                file_url: https://adp.laiye.com/web/agentic_doc_processor/laiye/file/2003c711818811f1a36200163e358400
                prompt: 请根据票据版面生成字段配置，字段 key 使用英文下划线命名。
    DocFlowRunRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocFlowRunRequest'
          example:
            application_id: app_abc123
            inputs:
              query: 请帮我分析这份采购单
            files:
              - url: https://adp.laiye.com/web/agentic_doc_processor/laiye/file/2003c711818811f1a36200163e358400
                name: 采购单.pdf
                mime_type: application/pdf
  responses:
    SimpleResponse:
      description: 通用响应。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SimpleResponse'
          example:
            code: success
            message: success
    ValidationError:
      description: 参数校验错误。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SimpleResponse'
    TaskCreateResponse:
      description: 任务创建结果。
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/SimpleResponse'
              - type: object
                properties:
                  data:
                    type: object
                    properties:
                      task_id:
                        type: string
          example:
            code: success
            message: ''
            data:
              task_id: 94fe9b74e0e311f091505e345594c618
    DocumentExtractResponse:
      description: 文档抽取结果。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocumentExtractResponse'
          example:
            code: success
            message: ''
            data:
              task_id: 94fe9b74e0e311f091505e345594c618
              file_url: ''
              status: 4
              doc_recognize_result: []
              extraction_result: []
    DocumentRecognizeResponse:
      description: 文档解析结果。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocumentRecognizeResponse'
          example:
            code: success
            message: ''
            data:
              task_id: 94fe9b74e0e311f091505e345594c618
              file_url: ''
              status: 4
              doc_recognize_result: []
    ExtractionAppResponse:
      description: 抽取应用结果。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExtractionAppResponse'
          example:
            code: success
            message: ''
            tips: null
            data:
              app_id: app_abc123
              app_name: 高速版发票抽取应用
              app_label: [invoice, high-speed]
              config_version: v1
    ExtractionAppDeleteResponse:
      description: 抽取应用删除结果。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExtractionAppDeleteResponse'
          example:
            code: success
            message: ''
            tips: null
            data:
              success: true
              message: App deleted successfully
    ExtractionAppUpdateResponse:
      description: 抽取应用修改结果。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExtractionAppUpdateResponse'
          example:
            code: success
            message: ''
            tips: null
            data:
              app_id: app_1425
              config_version: v2
    ExtractionAppVersionDeleteResponse:
      description: 抽取应用配置版本删除结果。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExtractionAppVersionDeleteResponse'
          example:
            code: success
            message: ''
            tips: null
            data:
              success: true
              message: Version deleted successfully
    AppConfigResponse:
      description: 应用配置结果。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AppConfigResponse'
    AiRecommendResponse:
      description: 智能体生成字段配置结果。高速版返回配置预览，不会保存配置版本。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AiRecommendResponse'
          examples:
            standardCustomExtractionApp:
              summary: 标准版自定义抽取应用推荐字段
              value:
                code: success
                message: ''
                tips: null
                data:
                  app_id: app_1406
                  app_name: ''
                  extract_fields:
                    - field_name: 发票号码
                      field_type: string
                      field_prompt: 抽取税务发票的唯一标识编号。
                    - field_name: 开票日期
                      field_type: date
                      field_prompt: 抽取发票开具日期。
            highSpeedCustomExtractionApp:
              summary: 高速版自定义抽取应用自动生成配置预览
              value:
                code: success
                message: ''
                tips: null
                data:
                  app_id: app_1425
                  app_name: 高速版发票抽取应用
                  ai_function: 1425
                  extract_fields:
                    - field_key: invoice_number
                      field_name: 发票号码
                      field_type: string
                      field_prompt: 税务发票的唯一标识编号。
                      field_description: 税务发票的唯一标识编号。
                    - field_key: invoice_date
                      field_name: 开票日期
                      field_type: date
                      field_prompt: 发票开具日期。
                      field_description: 发票开具日期。
                  prompt_rule: 仅抽取票面中明确出现的字段。
                  common_rule: 仅抽取票面中明确出现的字段。
                  field_rule:
                    - field_key: invoice_number
                      field_name: 发票号码
                      field_type: string
                      field_description: 税务发票的唯一标识编号。
                    - field_key: invoice_date
                      field_name: 开票日期
                      field_type: date
                      field_description: 发票开具日期。
                  table_rule:
                    - field_key: line_items
                      field_name: 明细
                      field_type: table
                      field_description: 发票明细表。
                      field_parent_id: ''
                    - field_key: item_name
                      field_name: 商品名称
                      field_type: string
                      field_description: 明细中的商品或服务名称。
                      field_parent_id: line_items
                    - field_key: item_amount
                      field_name: 金额
                      field_type: string
                      field_description: 明细金额。
                      field_parent_id: line_items
                  page_count: 2
                  document_type: invoice
    AppListResponse:
      description: 应用列表。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AppListResponse'
          example:
            code: success
            message: ''
            tips: null
            data:
              list:
                - id: app_1425
                  app_name: 高速版发票抽取应用
                  ai_function: 1425
                  app_label: [invoice, high-speed]
              total: 1
    UserPaymentResponse:
      description: 用户积分信息。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UserPaymentResponse'
          example:
            code: success
            message: ''
            data:
              total_credits: 0
              used_credits: 0
              expired_credits: 0
              remaining_credits: 0
    DocFlowRunResponse:
      description: 工作流运行结果。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocFlowRunResponse'
          example:
            code: success
            message: ''
            data:
              run_id: run_xyz789
              status: succeeded
              output:
                result: 采购单分析完成
              error: null
              started_at: '2026-04-30T10:00:00Z'
              ended_at: '2026-04-30T10:00:15Z'
    FileResponse:
      description: 文件信息。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FileResponse'
    FileDeleteResponse:
      description: 文件删除结果。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FileDeleteResponse'
  schemas:
    SimpleResponse:
      type: object
      properties:
        code:
          oneOf:
            - type: string
            - type: integer
          description: 业务码。成功通常为 success 或 200。
        message:
          type: string
          description: 返回信息。
        tips:
          type:
            - string
            - 'null'
          description: 详细信息，默认为空。
    DocumentFileRequest:
      oneOf:
        - title: 使用文件 URL
          type: object
          additionalProperties: false
          properties:
            app_id:
              default: *documentRecognitionAppId
              type: string
              description: 应用的唯一标识。
            file_url:
              default: *documentRecognitionFileUrl
              type: string
              format: uri
              description: 待处理文件 URL，与 file_base64 二选一。
          required: [app_id, file_url]
          not:
            required: [file_base64]
        - title: 使用文件 Base64
          type: object
          additionalProperties: false
          properties:
            app_id:
              default: *documentRecognitionAppId
              type: string
              description: 应用的唯一标识。
            file_base64:
              default: *documentRecognitionFileBase64
              type: string
              description: 待处理文件 Base64，与 file_url 二选一。
          required: [app_id, file_base64]
          not:
            required: [file_url]
    DocumentExtractRequest:
      oneOf:
        - title: 使用文件 URL
          type: object
          additionalProperties: false
          properties:
            app_id:
              default: app_abc123
              type: string
              description: 应用的唯一标识。
            file_url:
              default: *documentRecognitionFileUrl
              type: string
              format: uri
              description: 待处理文件 URL，与 file_base64 二选一。
            with_rec_result:
              type: boolean
              description: 是否返回文档解析结果。高速版抽取不返回解析结果。
              default: false
          required: [app_id, file_url]
        - title: 使用文件 Base64
          type: object
          additionalProperties: false
          properties:
            app_id:
              default: app_abc123
              type: string
              description: 应用的唯一标识。
            file_base64:
              default: JVBERi0xLjQKJcfs...
              type: string
              description: 待处理文件 Base64，与 file_url 二选一。
            with_rec_result:
              type: boolean
              description: 是否返回文档解析结果。高速版抽取不返回解析结果。
              default: false
          required: [app_id, file_base64]
    DocumentExtractResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/DocumentExtractData'
    DocumentExtractData:
      type: object
      properties:
        task_id:
          type: string
        file_url:
          type: string
        status:
          type: integer
          description: 1=等待，2=解析中，3=抽取中，4=成功，5=失败。
        doc_recognize_result:
          type: array
          items:
            $ref: '#/components/schemas/RecognizePage'
        extraction_result:
          type: array
          items:
            $ref: '#/components/schemas/ExtractionField'
        collaboration_result:
          type: array
          items:
            type: object
            additionalProperties: true
        output_result:
          type: array
          items:
            type: object
            additionalProperties: true
    DocumentRecognizeResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                task_id:
                  type: string
                file_url:
                  type: string
                status:
                  type: integer
                doc_recognize_result:
                  type: array
                  items:
                    $ref: '#/components/schemas/RecognizePage'
    RecognizePage:
      type: object
      properties:
        page_num:
          type: integer
        document_content:
          type: string
        document_details:
          type: array
          items:
            $ref: '#/components/schemas/DocumentDetail'
    DocumentDetail:
      type: object
      properties:
        type:
          type: string
        text:
          type: string
        position:
          type: array
          items:
            type: object
            properties:
              points:
                type: array
                items:
                  $ref: '#/components/schemas/Point'
        ocr_confidence:
          type: object
          properties:
            ocr_mean_confidence:
              type: number
            ocr_min_confidence:
              type: number
            is_overall_confidence:
              type: integer
    Point:
      type: object
      properties:
        x:
          type: number
        y:
          type: number
    ExtractionField:
      type: object
      additionalProperties: true
      properties:
        field_key:
          type: string
        field_name:
          type: string
        field_values:
          type: array
          items:
            type: object
            additionalProperties: true
        references:
          type: array
          items:
            type: object
            additionalProperties: true
        table_values:
          type: array
          items:
            type: array
            items:
              type: object
              additionalProperties: true
    ExtractionFieldConfig:
      type: object
      additionalProperties: false
      properties:
        field_key:
          type: string
          pattern: '^[A-Za-z][A-Za-z0-9_]{0,63}$'
          description: 字段唯一标识。创建高速版自定义抽取应用时必填；标准版不要求传入。
        field_name:
          type: string
          minLength: 1
          maxLength: 50
          description: 字段名称。
        field_type:
          type: string
          enum: [string, date, table]
          description: 字段类型。表格字段使用 table。
        field_prompt:
          type: string
          description: 字段抽取提示词。
        sub_fields:
          type: array
          description: 表格子字段。field_type 为 table 时必须至少提供 1 个有效子字段。
          items:
            $ref: '#/components/schemas/ExtractionSubFieldConfig'
      required: [field_name, field_type]
    ExtractionSubFieldConfig:
      type: object
      additionalProperties: false
      properties:
        field_key:
          type: string
          pattern: '^[A-Za-z][A-Za-z0-9_]{0,63}$'
          description: 子字段唯一标识。创建高速版自定义抽取应用时必填；标准版不要求传入。
        field_name:
          type: string
          minLength: 1
          maxLength: 50
          description: 子字段名称。
        field_type:
          type: string
          enum: [string, date]
          description: 子字段类型。表格内不允许再嵌套表格。
        field_prompt:
          type: string
          description: 子字段抽取提示词。
      required: [field_name, field_type]
    LongDocConfig:
      type: object
      additionalProperties: false
      properties:
        doc_type:
          type: string
          description: 文档类型。
        doc_desc:
          type: string
          description: 文档类型描述。
      required: [doc_type]
    ExtractionAppCreateRequest:
      description: 先设置 ai_function。ai_function 为 1406 时使用标准版自定义抽取应用参数；为 1425 时使用高速版自定义抽取应用参数。
      discriminator:
        propertyName: ai_function
        mapping:
          '1406': '#/components/schemas/StandardExtractionAppCreateRequest'
          '1425': '#/components/schemas/HighSpeedExtractionAppCreateRequest'
      oneOf:
        - $ref: '#/components/schemas/StandardExtractionAppCreateRequest'
        - $ref: '#/components/schemas/HighSpeedExtractionAppCreateRequest'
    StandardExtractionAppCreateRequest:
      type: object
      additionalProperties: false
      title: 创建标准版自定义抽取应用
      properties:
        ai_function:
          type: integer
          enum: [1406]
          default: 1406
          description: 应用类型。创建标准自定义抽取应用传 1406；不传时默认按 1406 处理。
        app_name:
          type: string
          minLength: 1
          maxLength: 100
          description: 应用名称。
        app_label:
          type: array
          maxItems: 5
          description: 应用标签列表，最多 5 个。
          items:
            type: string
        extract_fields:
          type: array
          maxItems: 20
          description: 抽取字段配置列表，最多 20 个字段。
          items:
            $ref: '#/components/schemas/ExtractionFieldConfig'
        parse_mode:
          type: string
          enum: [standard, advance, fast_vlm, agentic]
          description: |
            解析模式。标准版自定义抽取应用必填；不同模式适用于不同版式复杂度和准确率要求的文档。

            - standard：标准解析，适用于清晰的电子版文档，速度和准确率均衡。
            - advance：增强解析 1.0，适用于印章、签名、多表格等格式较复杂的文档。
            - fast_vlm：增强解析 2.0，适用于复杂版式、扫描件、多表格等文档，提升解析稳定性。
            - agentic：智能解析，自动组合多种模型处理复杂文档，适合准确率要求高的场景。
        enable_field_value_translation:
          type: boolean
          default: false
          description: 是否开启抽取结果翻译，默认关闭。
        enable_long_doc:
          type: boolean
          default: false
          description: 是否开启长文档支持。
        long_doc_config:
          type: array
          maxItems: 5
          description: 长文档配置，仅 enable_long_doc 为 true 时使用。
          items:
            $ref: '#/components/schemas/LongDocConfig'
      required: [ai_function, app_name, extract_fields, parse_mode]
    HighSpeedExtractionAppCreateRequest:
      type: object
      additionalProperties: false
      title: 创建高速版抽取应用
      properties:
        ai_function:
          type: integer
          enum: [1425]
          default: 1425
          description: 应用类型。创建高速版自定义抽取应用固定传 1425。
        app_name:
          type: string
          minLength: 1
          maxLength: 100
          description: 应用名称。
        app_label:
          type: array
          maxItems: 5
          description: 应用标签列表，最多 5 个。
          items:
            type: string
        extract_fields:
          type: array
          minItems: 1
          maxItems: 20
          description: 高速版抽取字段配置列表，最多 20 个字段。每个字段都需要提供 field_key。
          items:
            $ref: '#/components/schemas/HighSpeedExtractionFieldConfig'
        enable_field_value_translation:
          type: boolean
          default: false
          description: 是否开启抽取结果翻译，默认关闭。
      required: [ai_function, app_name, extract_fields]
    HighSpeedExtractionFieldConfig:
      type: object
      additionalProperties: false
      title: 高速版字段
      description: 高速版字段配置。普通字段的 field_type 为 string 或 date，不要传 sub_fields；表格字段的 field_type 为 table，必须传 sub_fields。
      properties:
        field_key:
          type: string
          pattern: '^[A-Za-z][A-Za-z0-9_]{0,63}$'
          description: 字段唯一标识。必须以英文字母开头，只能包含英文字母、数字和下划线，最多 64 个字符。
        field_name:
          type: string
          minLength: 1
          maxLength: 50
          description: 字段名称。
        field_type:
          type: string
          enum: [string, date, table]
          description: 字段类型。普通字段使用 string 或 date；表格字段使用 table。
        field_prompt:
          type: string
          maxLength: 200
          description: 字段抽取提示词。
        sub_fields:
          type: array
          maxItems: 50
          description: 表格子字段。仅 field_type 为 table 时填写，且必须至少提供 1 个有效子字段；普通字段不要传该参数。
          items:
            $ref: '#/components/schemas/HighSpeedExtractionSubFieldConfig'
          examples:
            - - field_key: item_name
                field_name: 商品名称
                field_type: string
      required: [field_key, field_name, field_type]
      allOf:
        - if:
            properties:
              field_type:
                const: table
            required: [field_type]
          then:
            required: [sub_fields]
            properties:
              sub_fields:
                minItems: 1
    HighSpeedExtractionSubFieldConfig:
      type: object
      additionalProperties: false
      properties:
        field_key:
          type: string
          pattern: '^[A-Za-z][A-Za-z0-9_]{0,63}$'
          description: 子字段唯一标识。必须以英文字母开头，只能包含英文字母、数字和下划线，最多 64 个字符。
        field_name:
          type: string
          minLength: 1
          maxLength: 50
          description: 子字段名称。
        field_type:
          type: string
          enum: [string, date]
          description: 子字段类型。表格内不允许再嵌套表格。
        field_prompt:
          type: string
          maxLength: 200
          description: 子字段抽取提示词。
      required: [field_key, field_name, field_type]
    ExtractionAppUpdateRequest:
      oneOf:
        - $ref: '#/components/schemas/StandardExtractionAppUpdateRequest'
        - $ref: '#/components/schemas/HighSpeedExtractionAppUpdateRequest'
    StandardExtractionAppUpdateRequest:
      type: object
      additionalProperties: false
      title: 修改标准版自定义抽取应用
      properties:
        app_id:
          type: string
          description: 应用 ID。
        app_name:
          type: string
          description: 应用名称。不传或传空字符串时不更新应用名称。
        config_version:
          type: string
          description: 当前配置版本。修改后会另存为新版本。
        app_label:
          type: array
          maxItems: 5
          description: 应用标签列表，最多 5 个。
          items:
            type: string
        extract_fields:
          type: array
          maxItems: 20
          description: 抽取字段配置列表，最多 20 个字段。
          items:
            $ref: '#/components/schemas/ExtractionFieldConfig'
        parse_mode:
          type: string
          enum: [standard, advance, fast_vlm, agentic]
          description: |
            解析模式。标准版自定义抽取应用必填；高速版自定义抽取应用不支持设置该参数。

            - standard：标准解析，适用于清晰的电子版文档，速度和准确率均衡。
            - advance：增强解析 1.0，适用于印章、签名、多表格等格式较复杂的文档。
            - fast_vlm：增强解析 2.0，适用于复杂版式、扫描件、多表格等文档，提升解析稳定性。
            - agentic：智能解析，自动组合多种模型处理复杂文档，适合准确率要求高的场景。
        enable_field_value_translation:
          type: boolean
          default: false
          description: 是否开启抽取结果翻译，默认关闭。
        enable_long_doc:
          type: boolean
          default: false
          description: 是否开启长文档支持。标准版自定义抽取应用支持该参数；高速版自定义抽取应用不支持该参数的设置。
        long_doc_config:
          type: array
          maxItems: 5
          description: 长文档配置，仅 enable_long_doc 为 true 时使用。
          items:
            $ref: '#/components/schemas/LongDocConfig'
      required: [app_id, config_version, extract_fields, parse_mode]
    HighSpeedExtractionAppUpdateRequest:
      type: object
      additionalProperties: false
      title: 修改高速版抽取应用
      properties:
        app_id:
          type: string
          description: 高速版自定义抽取应用 ID。
        app_name:
          type: string
          description: 应用名称。不传或传空字符串时不更新应用名称。
        config_version:
          type: string
          description: 当前配置版本。修改后会另存为新版本。
        app_label:
          type: array
          maxItems: 5
          description: 应用标签列表，最多 5 个。
          items:
            type: string
        extract_fields:
          type: array
          minItems: 1
          maxItems: 20
          description: 高速版抽取字段配置列表，最多 20 个字段。每个字段都需要提供 field_key。
          items:
            $ref: '#/components/schemas/HighSpeedExtractionFieldConfig'
        enable_field_value_translation:
          type: boolean
          default: false
          description: 是否开启抽取结果翻译，默认关闭。
      required: [app_id, config_version, extract_fields]
    AppIdRequest:
      type: object
      additionalProperties: false
      properties:
        app_id:
          type: string
          description: 应用 ID。删除高速版自定义抽取应用时，传入高速版应用的 app_id。
      required: [app_id]
    AppVersionDeleteRequest:
      type: object
      additionalProperties: false
      properties:
        app_id:
          type: string
          description: 应用 ID。删除高速版自定义抽取应用配置时，传入高速版应用的 app_id。
        config_version:
          type: string
          description: 要删除的配置版本。
      required: [app_id, config_version]
    AppConfigQueryRequest:
      type: object
      additionalProperties: false
      properties:
        app_id:
          type: string
          description: 应用 ID。查询高速版自定义抽取应用配置时，传入高速版应用的 app_id。
        config_version:
          type: string
          description: 配置版本。可选，默认返回最新版本。
      required: [app_id]
    AiRecommendRequest:
      type: object
      additionalProperties: false
      description: 智能体生成字段配置请求。请求体需提供 file_url 或 file_base64；prompt 可作为辅助生成提示。
      properties:
        app_id:
          type: string
          description: 应用 ID。传入高速版自定义抽取应用时，返回高速版自动生成配置预览。
        file_base64:
          type: string
          description: 文件 Base64 编码。高速版应用与 file_url 二选一必填。
        file_url:
          type: string
          format: uri
          description: 文件 URL。高速版应用与 file_base64 二选一必填。
        prompt:
          type: string
          description: 用户提供的生成提示。需要同时提供文件，并将 prompt 作为辅助说明。
        doc_type:
          type: string
          description: 文档类型。标准版自动生成建议时可传入；高速版会根据文档自动识别。
        doc_type_description:
          type: string
          description: 文档类型描述。标准版自动生成建议时可传入。
      required: [app_id]
      anyOf:
        - required: [file_base64]
        - required: [file_url]
    ExtractionAppResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/AppConfigData'
    ExtractionAppDeleteResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                success:
                  type: boolean
                  description: 是否删除成功。
                message:
                  type: string
                  description: 操作消息。
    ExtractionAppUpdateResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                app_id:
                  type: string
                  description: 应用 ID。
                config_version:
                  type: string
                  description: 新配置版本号。
    ExtractionAppVersionDeleteResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                success:
                  type: boolean
                  description: 是否删除成功。
                message:
                  type: string
                  description: 操作消息。
    AppListResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                list:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                total:
                  type: integer
    AppConfigResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/AppConfigData'
    AppConfigData:
      type: object
      additionalProperties: true
      properties:
        app_id:
          type: string
        app_name:
          type: string
        app_label:
          type: array
          items:
            type: string
        config_version:
          type: string
        extract_fields:
          type: array
          items:
            $ref: '#/components/schemas/ExtractionFieldConfig'
        parse_mode:
          type: string
        enable_long_doc:
          type: boolean
        long_doc_config:
          type: array
          items:
            $ref: '#/components/schemas/LongDocConfig'
    AiRecommendResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/AiRecommendData'
    AiRecommendData:
      type: object
      additionalProperties: true
      properties:
        app_id:
          type: string
          description: 应用 ID。
        app_name:
          type: string
          description: 应用名称。
        ai_function:
          type: integer
          enum: [1406, 1425]
          description: 应用类型。1406 表示标准版自定义抽取；1425 表示高速版自定义抽取。
        extract_fields:
          type: array
          description: 兼容字段列表。标准版返回推荐字段；高速版当前返回普通字段预览，完整配置请使用 field_rule 和 table_rule。
          items:
            $ref: '#/components/schemas/AiRecommendFieldConfig'
        prompt_rule:
          type: string
          description: 高速版自动生成配置的整体规则，兼容字段。
        common_rule:
          type: string
          description: 高速版自动生成配置的整体规则。
        field_rule:
          type: array
          description: 高速版自动生成的普通字段配置预览。该字段不会自动保存到应用配置中。
          items:
            $ref: '#/components/schemas/AiRecommendGeneratedRuleField'
        table_rule:
          type: array
          description: 高速版自动生成的表格字段配置预览，采用平铺结构。field_parent_id 为空的记录为表格父字段，field_parent_id 指向父字段 field_key 的记录为表格子字段。
          items:
            $ref: '#/components/schemas/AiRecommendGeneratedRuleField'
        page_count:
          type: integer
          description: 高速版自动生成配置时使用的页数。
        document_type:
          type: string
          description: 高速版自动识别的文档类型。
    AiRecommendFieldConfig:
      type: object
      additionalProperties: true
      properties:
        field_key:
          type: string
          description: 字段唯一标识。高速版自动生成配置时返回。
        field_name:
          type: string
          description: 字段名称。
        field_type:
          type: string
          enum: [string, date, table]
          description: 字段类型。
        field_prompt:
          type:
            - string
            - 'null'
          description: 字段提示词。
        field_description:
          type:
            - string
            - 'null'
          description: 字段描述。
        sub_fields:
          type: array
          description: 表格子字段列表。标准版表格字段可能返回该字段；高速版表格字段请查看 table_rule。
          items:
            $ref: '#/components/schemas/AiRecommendSubFieldConfig'
      required: [field_name, field_type]
    AiRecommendSubFieldConfig:
      type: object
      additionalProperties: true
      properties:
        field_key:
          type: string
          description: 子字段唯一标识。
        field_name:
          type: string
          description: 子字段名称。
        field_type:
          type: string
          enum: [string, date]
          description: 子字段类型。
        field_prompt:
          type:
            - string
            - 'null'
          description: 子字段提示词。
        field_description:
          type:
            - string
            - 'null'
          description: 子字段描述。
      required: [field_name, field_type]
    AiRecommendGeneratedRuleField:
      type: object
      additionalProperties: true
      properties:
        field_key:
          type: string
          description: 字段唯一标识。表格子字段的 field_parent_id 会引用表格父字段的 field_key。
        field_name:
          type: string
          description: 字段名称。
        field_type:
          type: string
          enum: [string, date, table]
          description: 字段类型。table 表示表格父字段。
        field_description:
          type: string
          description: 字段描述。
        field_parent_id:
          type: string
          description: 表格子字段所属的父字段 field_key。为空时表示普通字段或表格父字段。
        config:
          type: object
          additionalProperties: true
          description: 字段扩展配置。
        source:
          type: integer
          description: 字段来源。
        _field_key_source:
          type: string
          description: 模型生成的原始字段 key，仅在服务保留调试信息时返回。
    UserPaymentResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                total_credits:
                  type: number
                used_credits:
                  type: number
                expired_credits:
                  type: number
                remaining_credits:
                  type: number
    DocFlowRunRequest:
      type: object
      additionalProperties: false
      properties:
        application_id:
          type: string
        release_version_id:
          type: string
        session_id:
          type: string
        files:
          type: array
          items:
            $ref: '#/components/schemas/DocFlowInputFile'
        inputs:
          type: object
          additionalProperties: false
          properties:
            query:
              type: string
              description: 工作流输入参数示例。实际字段以工作流入参配置为准。
      required: [application_id]
    DocFlowInputFile:
      type: object
      additionalProperties: false
      properties:
        url:
          type: string
        name:
          type: string
        mime_type:
          type: string
        size:
          type: integer
      required: [url, name, mime_type]
    DocFlowRunResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                run_id:
                  type: string
                status:
                  type: string
                  enum: [pending, running, succeeded, failed, cancelled, paused, timeout]
                output:
                  type:
                    - object
                    - 'null'
                  additionalProperties: true
                error:
                  type:
                    - string
                    - 'null'
                started_at:
                  type: string
                  format: date-time
                ended_at:
                  type:
                    - string
                    - 'null'
                  format: date-time
    FileUploadRequest:
      type: object
      additionalProperties: false
      properties:
        chunk:
          type: string
          format: binary
        application_id:
          type: string
        sharing_scope:
          type: string
          enum: [user, application]
          default: application
      required: [chunk]
    FileResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              additionalProperties: true
              properties:
                id:
                  type: string
                file_name:
                  type: string
                file_size:
                  type: integer
                content_type:
                  type: string
                download_url:
                  type: string
                status:
                  type: string
    FileDeleteResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                id:
                  type: string
