openapi: 3.1.0
info:
  title: 国内通用票据
  version: 1.0.0
  description: ADP 预置应用接口，适用于国内通用票据抽取场景。
  license:
    name: MIT
    identifier: MIT
servers:
  - url: https://adp.laiye.com
    description: ADP 生产环境
tags:
  - name: 国内通用票据抽取
    description: 抽取国内通用票据字段。
  - name: 国内发票验真
    description: 根据发票要素查验国内发票。
paths:
  /open/agentic_doc_processor/{tenant_name}/v1/app/doc/extract:
    post:
      tags: [国内通用票据抽取]
      summary: 国内通用票据抽取（同步接口）
      description: 针对国内通用票据文件进行字段抽取。传入 enable_invoice_verify=true 可为本次抽取开启发票验真；不传时使用应用已保存的配置。可验真的发票会在抽取字段中返回验真结果、验真报错信息和作废标志。
      operationId: extractDomesticBill
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/DocumentExtractRequest'
      responses:
        '200':
          $ref: '#/components/responses/DocumentExtractResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app/doc/extract/create/task:
    post:
      tags: [国内通用票据抽取]
      summary: 创建国内通用票据抽取异步任务
      description: 创建国内通用票据抽取任务，并立即返回 task_id。适用于大文件或处理时间较长的任务。
      operationId: createDomesticBillExtractTask
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/DocumentExtractRequest'
      responses:
        '200':
          $ref: '#/components/responses/TaskCreateResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app/doc/extract/query/task/{task_id}:
    get:
      tags: [国内通用票据抽取]
      summary: 查询国内通用票据抽取任务结果
      description: 根据 task_id 查询国内通用票据抽取任务状态和结果。
      operationId: queryDomesticBillExtractTask
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
        - $ref: '#/components/parameters/TaskId'
      responses:
        '200':
          $ref: '#/components/responses/DocumentExtractResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /open/agentic_doc_processor/{tenant_name}/v1/app/invoice/verify:
    post:
      tags: [国内发票验真]
      summary: 国内发票验真
      description: 根据发票号码、开票日期和价税合计执行独立验真。
      operationId: verifyDomesticInvoice
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantName'
      requestBody:
        $ref: '#/components/requestBodies/InvoiceVerifyRequest'
      responses:
        '200':
          $ref: '#/components/responses/InvoiceVerifyResponse'
        '400':
          $ref: '#/components/responses/BusinessError'
        '422':
          $ref: '#/components/responses/ValidationError'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
  parameters:
    TenantName:
      name: tenant_name
      in: path
      required: true
      description: 租户名称，默认 laiye。
      schema:
        type: string
        default: laiye
    TaskId:
      name: task_id
      in: path
      required: true
      description: 任务 ID。
      schema:
        type: string
  examples:
    DomesticBillsFileBase64:
      summary: 使用文件 Base64
      value:
        file_base64: &domesticBillsFileBase64 data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAwICQsJCAwLCgsODQwOEh4UEhEREiUbHBYeLCcuLisnKyoxN0Y7MTRCNCorPVM+QkhKTk9OLztWXFVMW0ZNTkv/wAALCAA7AHQBAREA/8QAGwABAAIDAQEAAAAAAAAAAAAAAAQGAgMFAQf/xAAuEAACAgIBAwMDBQABBQAAAAABAgMEBREAEiExBhNBFCIyFVFhcYEWJDVTgqH/2gAIAQEAAD8A+q8cccccccccccccch5Wy1WoXjmghdmCq829Df7Ad2P7D55SK8sVk2BGuXVJpOtcjCLxE6kDThEHT1a7fC9gQNduSPUkyNRw0lCCTJwSFQiy3JVkmUeepCujvtsnvsga5iJJa7z/AE2ZkqT2VdmZET6eGRWSJY9NEW6V6lBOwNg+NnV1C2lsQgPG1cRkSFlPWz9tEa7a87/zm/lXoepppMxBWllrWK1lZSsleCRVQoN/m32yDW/GuQbl7JZOpg79hKqU7eQryRRoG9yNSdr1MTptjzoDX88lTZ/MJTyuQSKl9JjbMqNGQ3XLGh7kHelOv4Oz+3LWjB1DDwRscy444445wsb6ftUMfWqLn7/TXiWMdEUAGgNdgYydf2T/AGeZVfTsdenj4fe65qZTcxTRdVJOtb7dzxB6djSw4laJ6IrPWjrLERpHILdTFj1EkedDyedNagWeGRJplSGMxiLq2jb13O+5I12O/k83OodGRhtWGiP3HOJQ9L1qVilKLdyYUVaOvHK6lUQr09Ogo2NfJ79vPMIvSNSM1VFy8a9OdZ69cyr7cRB2APt2R8dydDxrkWl6WM5yAyE1qOCzelmaskq+3MhbaluxI2PIBG/kctXHHHHHIGbn9jGWOkzLJIjJG0MMkjKxB0dICR/euUeFJZ6KSQ5fISF4wVkSjlSrHXkMJdH+9f5yflslU9vCRWrWTidQTaaP6qJjHHHt2KABiCxX7iPG+/nmOSnjqi1If1qJoLkRSRGuvH9OChdydlD9vuf58cufvStYiEcIau8ZZpevRU9tDp133s9/jXN/Kj6VsVXsoLdzIDKu0rexZlnVGHU34q32HS68b1zz0vZqGdTcuZAZRmmcwWZZ1Rl6m/FW+w6XXjeuafTuYFp6ORyD5OOS8zGJmbVU7BIiC7+APyIBJXyfHPfTeXFyWhfvvk0lyDN7TM2qpJBIiC7+APyIGyvk+OXTjjjjmMiLIjIw2rAg99duVe76fsQKa2JrzCFYwkUj5u0ntnWh9g2ND9t83Zv0/cuU6sdSxB9RFVkryT2FZmkDR9PkHfkk7JOt70eY5j05NPTeCiZC9iJ45ZJ8nY6Y+oa2sfdW8nsdDsP87/tTCxEyTBa6IVaLo2WPbR6vjWj2/nm/nGTEW58jVt5K/HOKjM8McNf2gGKldsSzE9ifGuFw9ufI1rWSvx2FqMzwxQ1/aHUVK7YlmJ7E+Ncj0/TL13pwyXvdx1CQyVq/sgMp0QoZ9/cFDHXYfG989pemnrvThkvGXH0JDLWr+0AynRChn39wUMddh8b3ywcccccg52xLUwmQsQN0TQ1pJEbQOmCkg6P88rf6rT+j9z/nI932+rp96n+WvGvb55kM9kqmN9PWxbroLlcGf3Yk+9zGG3tpIwO/wCP98c575zOyYp7It2XdMabQapFXVVbcmi4cnY0o/D9vHL59QRYih9mVvcQuZQo6F1rsT+532/o838rctu/jM1RhnyX1i2RK88Hsqvsoqk9a67gbAX7id75Go5PKLHhMlatCSvlpFRqvtqFhDoWQqwGyRoA7J3v45KaxkKGex9aXJC4LfuNNAYVUQoqkh113A6tL9xO98h4L1GMjNDbnyhjWcO8dIV9RlACQBIR9zgAE6b9xr557SyeUEOFyVm2Hgy0gRqwiUCASIWQqdbJGgDsne/jm4/qNTPV6363aswxRNZtrJDCAI+4UfagOyd/PhTzTSyeUEOFyVm2Hgy0gRqwiUCASIWQqdbJGgDsne/jklEycPqKpSTNWrMaxme0ssMIAT8VG1QHZbfz4U8svIOdry28JkK8C9c01aSNF2BtipAGz/POfvPfQez+mY7ftdH/cH341/wCHX/3kOPCZOSLAxpZmomjTVZXUxMFfo6SACp2d+TvWh27nY5knpfIJjL8U0dq1O9YU6whtiMa05LvooCvU+ukhj28HfLtqyLMQURfTBD7hJPX1dta+Ned/5zcd6PTrfxvlZwOLzFIsL9XHSyWT/wBXaW1I0kn9AxjsPAXYAHPaGByMaYynblrNSxTdUDIW9yYqpWPqGtLoHvonZA8cen8bmKDk3auOllsHdu2tqRpJP6BjA0PAXYAHNdP05dWLHY6y9U43Gy+5G6FvdlADBVYa0vZu5BO9fG+bMfgchGMXTuS1mo4p+qF4y3uTdKlU6gRpdA99E7IHjnSx+Mkit5WxbKO12UdPST2iVAqqe3nfUf8A25zcfgchGMXTuS1mo4p+qF4y3uTdKlU6gRpdA99E7IHjnUxePlrX8nbssjSW5gU6CT0xKoCg9vO+o/7zpcccccccccccccccc//Z
        app_id: &domesticBillsAppId ootb_v9x2y5z8a1b4c7d0e3f6h9j1k4m7
        enable_invoice_verify: true
    DomesticBillsFileUrl:
      summary: 使用文件 URL
      value:
        file_url: &domesticBillsFileUrl https://adp.laiye.com/web/agentic_doc_processor/laiye/file/2003c711818811f1a36200163e358400
        app_id: *domesticBillsAppId
        enable_invoice_verify: true
  requestBodies:
    DocumentExtractRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocumentExtractRequest'
          examples:
            fileUrl:
              $ref: '#/components/examples/DomesticBillsFileUrl'
            fileBase64:
              $ref: '#/components/examples/DomesticBillsFileBase64'
    InvoiceVerifyRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InvoiceVerifyRequest'
          examples:
            electronicInvoice:
              summary: 电子发票普通发票验真
              value:
                fpNumber: '0123456789'
                fpDate: '2026-06-01'
                fpAmount: '100.00'
  responses:
    DocumentExtractResponse:
      description: 抽取结果。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocumentExtractResponse'
          examples:
            invoiceVerification:
              summary: 包含发票验真字段的抽取结果
              value:
                code: success
                message: ''
                tips: null
                data:
                  task_id: ''
                  file_url: ''
                  status: 4
                  extraction_result:
                    - field_key: vat_electronic_special_invoice_new
                      field_name: 电子发票增值税专用发票
                      object_values:
                        - document_type: vat_electronic_special_invoice_new
                          pages: [0]
                          extraction_result:
                            - field_key: fpVerification
                              field_name: 查验结果
                              field_values:
                                - field_value: ''
                                  confidence: 0.0
                            - field_key: fpVerificationMsg
                              field_name: 查验报错信息
                              field_values:
                                - field_value: ''
                                  confidence: 0.0
                            - field_key: fpIsVoided
                              field_name: 作废标志
                              field_values:
                                - field_value: ''
                                  confidence: 0.0
    InvoiceVerifyResponse:
      description: 发票验真结果。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InvoiceVerifyResponse'
          examples:
            verifiedInvoice:
              summary: 验真成功
              value:
                code: success
                message: ''
                data:
                  result:
                    type_key: vat_electronic_invoice_new
                    fpVerification: 查验成功发票一致
                    fpVerificationMsg: ''
                    fpIsVoided: 未作废
                    fpNumber: '0123456789'
                    fpDate: '2026-06-01'
                    fpAmount: '100.00'
                  metadata:
                    trace_id: 94fe9b74e0e311f091505e345594c618
                    attempt_verify_page_count: 1
                    actual_consume_page_count: 1
                    billable_pages: [1]
    TaskCreateResponse:
      description: 任务创建结果。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TaskCreateResponse'
    BusinessError:
      description: 业务参数错误。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SimpleResponse'
    ValidationError:
      description: 参数校验错误。
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HTTPValidationError'
  schemas:
    DocumentExtractRequest:
      oneOf:
        - title: 使用文件 URL
          type: object
          additionalProperties: false
          properties:
            file_url:
              default: *domesticBillsFileUrl
              type: string
              format: uri
              description: 待抽取文件 URL，与 file_base64 二选一。
            file_name:
              type: string
              description: 文件名称。使用 Base64 或无法从 URL 判断文件名时可传入。
            app_id:
              default: *domesticBillsAppId
              type: string
              description: 国内通用票据预置应用的唯一标识。
            enable_invoice_verify:
              type: boolean
              description: 是否为本次国内通用票据抽取开启发票验真。true 开启，false 关闭；不传则使用应用已保存配置。
          required: [app_id, file_url]
        - title: 使用文件 Base64
          type: object
          additionalProperties: false
          properties:
            file_base64:
              default: *domesticBillsFileBase64
              type: string
              description: 待抽取文件 Base64，与 file_url 二选一。
            file_name:
              type: string
              description: 文件名称。使用 Base64 或无法从 URL 判断文件名时可传入。
            app_id:
              default: *domesticBillsAppId
              type: string
              description: 国内通用票据预置应用的唯一标识。
            enable_invoice_verify:
              type: boolean
              description: 是否为本次国内通用票据抽取开启发票验真。true 开启，false 关闭；不传则使用应用已保存配置。
          required: [app_id, file_base64]
    SimpleResponse:
      type: object
      properties:
        code:
          oneOf:
            - type: string
            - type: integer
        message:
          type: string
        tips:
          type:
            - string
            - 'null'
    HTTPValidationError:
      type: object
      properties:
        detail:
          type: array
          items:
            $ref: '#/components/schemas/ValidationErrorItem'
      required: [detail]
    ValidationErrorItem:
      type: object
      additionalProperties: true
      properties:
        type:
          type: string
        loc:
          type: array
          items:
            oneOf:
              - type: string
              - type: integer
        msg:
          type: string
        input: {}
        ctx:
          type: object
          additionalProperties: true
      required: [type, loc, msg]
    TaskCreateResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                task_id:
                  type: string
                metadata:
                  type: object
                  additionalProperties: true
                  description: 文档处理任务元数据。
    InvoiceVerifyRequest:
      type: object
      additionalProperties: false
      required: [fpNumber, fpDate, fpAmount]
      properties:
        fpNumber:
          type: string
          description: 发票号码。
        fpDate:
          type: string
          format: date
          description: 开票日期，格式为 YYYY-MM-DD。
        fpAmount:
          type: string
          description: 价税合计。
    InvoiceVerifyResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                result:
                  $ref: '#/components/schemas/InvoiceVerifyResult'
                metadata:
                  $ref: '#/components/schemas/InvoiceVerifyMetadata'
    InvoiceVerifyResult:
      type: object
      properties:
        type_key:
          type: [string, 'null']
          description: 发票类型。
        instance_id:
          type: [string, 'null']
          description: 业务侧实例 ID。
        fpVerification:
          type: [string, 'null']
          description: 验真状态，例如“查验成功发票一致”。
        fpVerificationMsg:
          type: [string, 'null']
          description: 验真提示或错误信息。
        fpIsVoided:
          type: [string, 'null']
          description: 作废状态：已作废、未作废或空。
        fpType:
          type: [string, 'null']
          description: 查验票种中文名。
        fpCode:
          type: [string, 'null']
          description: 发票代码。
        fpNumber:
          type: [string, 'null']
          description: 发票号码。
        fpDate:
          type: [string, 'null']
          description: 开票日期、填制日期或乘车日期。
        fpAmount:
          type: [string, 'null']
          description: 价税合计、票价或合计金额。
        fpNoTaxAmount:
          type: [string, 'null']
          description: 不含税金额。
        fpTotalTaxAmount:
          type: [string, 'null']
          description: 税额合计。
        fpSellerName:
          type: [string, 'null']
          description: 销售方名称。
        fpSellerID:
          type: [string, 'null']
          description: 销售方纳税人识别号。
        fpPayerName:
          type: [string, 'null']
          description: 购买方名称。
        fpPayerID:
          type: [string, 'null']
          description: 购买方纳税人识别号。
        fpRemarks:
          type: [string, 'null']
          description: 备注。
        fpItems:
          type: [array, 'null']
          description: 发票明细行。
          items:
            $ref: '#/components/schemas/InvoiceVerifyItem'
    InvoiceVerifyItem:
      type: object
      additionalProperties: true
      properties:
        itemName:
          type: [string, 'null']
          description: 货物或服务名称。
        itemModel:
          type: [string, 'null']
          description: 规格型号。
        itemUnit:
          type: [string, 'null']
          description: 单位。
        itemQuantity:
          type: [string, 'null']
          description: 数量。
        itemUnitPrice:
          type: [string, 'null']
          description: 单价。
        itemAmount:
          type: [string, 'null']
          description: 金额。
        itemTaxRate:
          type: [string, 'null']
          description: 税率。
        itemTaxAmount:
          type: [string, 'null']
          description: 税额。
    InvoiceVerifyMetadata:
      type: object
      properties:
        trace_id:
          type: string
          description: 链路追踪 ID。
        attempt_verify_page_count:
          type: integer
          description: 尝试验真的页数。
        actual_consume_page_count:
          type: integer
          description: 实际扣费页数。
        billable_pages:
          type: array
          description: 实际计费页码。
          items:
            type: integer
    DocumentExtractResponse:
      allOf:
        - $ref: '#/components/schemas/SimpleResponse'
        - type: object
          properties:
            data:
              type: object
              additionalProperties: true
              properties:
                task_id:
                  type: string
                file_url:
                  type: string
                message:
                  type: string
                  description: 任务状态或处理结果说明。
                status:
                  type: integer
                  enum: [0, 1, 2, 4, 5, 6]
                  description: 0=未知，1=就绪，2=运行中，4=成功，5=失败，6=取消或拒绝。
                doc_recognize_result:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                extraction_result:
                  type: array
                  items:
                    $ref: '#/components/schemas/ExtractionResult'
                extract_config_version:
                  type: string
                  description: 本次抽取使用的配置版本。
                metadata:
                  type: [object, 'null']
                  additionalProperties: true
                  description: 文档处理任务元数据。
                aigc:
                  type: [object, 'null']
                  additionalProperties: true
                  description: AI 生成内容合规标识。
                classify_result:
                  type: object
                  additionalProperties: true
    ExtractionResult:
      type: object
      additionalProperties: true
      properties:
        field_key:
          type: string
          description: 文档类型的唯一标识。
        field_name:
          type: string
          description: 文档类型名称。
        object_values:
          type: array
          description: 各识别文档的抽取结果。
          items:
            $ref: '#/components/schemas/DocumentObjectValue'
    DocumentObjectValue:
      type: object
      additionalProperties: true
      properties:
        document_type:
          type: string
          description: 识别出的文档类型标识。
        pages:
          type: array
          items:
            type: integer
          description: 文档所在的页码，从 0 开始计数。
        extraction_result:
          type: array
          description: 抽取字段。可验真的发票还可能包含 fpVerification（查验结果）、fpVerificationMsg（查验报错信息）和 fpIsVoided（作废标志）。
          items:
            $ref: '#/components/schemas/ExtractedField'
    ExtractedField:
      type: object
      additionalProperties: true
      properties:
        field_key:
          type: string
          description: 字段唯一标识；发票验真字段分别为 fpVerification、fpVerificationMsg 和 fpIsVoided。
        field_name:
          type: string
          description: 字段显示名称。
        field_values:
          type: array
          description: 字段值列表。
          items:
            $ref: '#/components/schemas/ExtractedFieldValue'
    ExtractedFieldValue:
      type: object
      additionalProperties: true
      properties:
        field_value:
          type: string
          description: 字段值。
        field_confidence:
          type: number
          format: float
          description: 字段抽取置信度。
        confidence:
          type: number
          format: float
          description: 发票验真字段的置信度。
